<footer class="footer">
    <div class="informacion-general">
        <div class="row gutter-40">
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <p class="xsmall">
                            MENU
                        </p>
                        <nav class="mainHeader-menu">
                            <ul class="pl-0">
                                <li class="link"><a href="#" class="">HOME</a></li>
                                <li class="link"><a href="#" class="">Fashion</a></li>
                                <li class="link"><a href="#" class="">Sale</a></li>
                                <li class="link"><a href="#" class="">ABOUT US</a></li>
                                <li class="link"><a href="#" class="">PRess</a></li>
                                <li class="link"><a href="#" class="">Contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-6 col-md-4">
                        <p class="xsmall">
                            CONTACT US
                        </p>
                        <div class="infoma">
                            <p class="xxsmall">+57 5 6685429 </p>
                            <p class="xxsmall">+57 5 6687104</p>
                            <p class="xxsmall">c@casachiqui.com</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <p class="xsmall">
                            STORE HOURS
                        </p>
                        <dl class="infoma">
                            <dt>MONDAY</dt>
                            <dd>10am - 8pm</dd>
                            <dt>TUESDAY</dt>
                            <dd>10am - 8pm</dd>
                            <dt>WEDNESDAY</dt>
                            <dd>10am - 8pm</dd>
                            <dt>THURSDAY</dt>
                            <dd>10am - 8pm</dd>
                            <dt>FRIDAY</dt>
                            <dd>10am - 8pm</dd>
                            <dt>SATURDAY</dt>
                            <dd>10am - 8pm</dd>
                            <dt>SUNDAY</dt>
                            <dd>11am - 8pm </dd>

                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="row">
                    <div class="col-6">
                        <p class="xsmall">
                            STAY CONNECTED
                        </p>
                        <div class="infoma">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <p class="xsmall align-rigth">
                            STORE LOCATION
                        </p>
                        <div class="infoma">
                            <p class="xxsmall">Calle de la Universidad No. 36-127
                                Cartagena, Colombia
                            </p>
                            <div class="imagen ocultar">
                                <img src="media/localicaion.png" alt="imagen geolocalizacion">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="informacion-metodos">
        <div class="row gutter-40">
            <div class="col-12 col-md-6 pl-0">
                <div class="metodos d-flex justify-content-between align-items-center">
                    <p class="xxsmall">
                        Casa Chiqui accepts the following payment methods:
                    </p>
                    <div class="imagen">
                        <img src="media/metodos-pagos.png" alt="Metodos de pago">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pl-0">
                <div class="d-flex justify-content-between align-items-center acciones">
                    <a href="" class="btn btn-s">SHIPPING & RETURNS</a>
                    <a href="" class="btn btn-s">TERMS AND CONDITIONS</a>
                    <p class="xxsmall">©Casa Chiqui 2019</p>
                </div>

            </div>
        </div>
    </div>
</footer>
<div id="preloader">
    <div class="preloader-center">
        <div class="preloader-container">
            <div class="preloader-pic">
                <img src="/media/Preloader.png" />
            </div>
            <div class="preloader-message text">
                <p class="preloader-text">Cargando...</p>
            </div>
        </div>
    </div>
</div>