<!--inicio-->
<meta charset="UTF-8">
<meta name="Content-Language" content="es">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#552b9a">
<title>Casa Chiqui</title>

<!--Seo-->
<meta name="title" content="">
<meta name="description" content="">
<meta name="keywords" content="">
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:image:width" content="960" />
<meta property="og:image:height" content="640" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="" />
<meta name="twitter:image" content="" />
<link rel="image_src" href="" />
<link rel="canonical" href="" />

<!--Favicon-->
<!--meta name="msapplication-square310x310logo" content="media/favicon">
<link rel="apple-touch-icon" sizes="57x57" href="media/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="media/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="media/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="media/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="media/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="media/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="media/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="media/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="160x160" href="media/favicon/apple-touch-icon-160x160.png">
<link rel="icon" type="image/png" href="media/favicon/icon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="media/favicon/icon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="media/favicon/icon-64x64.png" sizes="64x64">
<link rel="icon" type="image/png" href="media/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="media/favicon/icon-128x128.png" sizes="128x128">
<link rel="icon" type="image/png" href="media/favicon/android-icon-192x192.png" sizes="192x192"-->

<!--Fuentes-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Rasa:400,500,600,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rasa:300,400,500,600,700&display=swap" rel="stylesheet">

<!--Librerias-->

<!--script src="js/modernizr3.js"></script-->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/aos.css">
<link rel="stylesheet" href="css/styleguide.css">
<link rel="stylesheet" href="css/main.css">
<script src="js/jquery.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg2KK10NPvfwuIZ_p7xo5VtfMTYvUeVpw"></script>