<header class="header">
  <div class="d-flex">
    <div class="searchBox">
      <a href="javascript:;" class="searchBox-close" title="Cerrar">
        <i class="fas fa-times"></i>
      </a>
      <form action="/buscador/" method="GET">
        <div class="container">
          <div class="searchBox_cols">
            <div class="d-flex inputSkin searchBox_col">
              <input class="input" type="search" name="q" placeholder="Ingresa tu búsqueda…">
              <div class="searchBox_btn searchBox_col">
                <button type="submit" class="header__right__search__icon">
                  <i class="header__icon icon icon--white fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="header__menu transparent">
    <div class="container header__menu-content">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-3">
              MENU
            </div>
            <div class="col">
              <div class="header__menu-open-nav">
                <a href="#">
                  <h3>Home</h3>
                </a>
                <a href="#">
                  <h3>Fashion</h3>
                </a>
                <a href="#">
                  <h3>Sale</h3>
                </a>
              </div>
              <div class="header__menu-open-nav header__menu-open-nav--extra">
                <a href="#">
                  <h3>About Us</h3>
                </a>
                <a href="#">
                  <h3>Press</h3>
                </a>
                <a href="#">
                  <h3>Contact us</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h4>CONTACT US</h4>
              <p>+57 5 6685429</p>
              <p>+57 5 6687104</p>
              <p>c@casachiqui.com</p>
            </div>
            <div class="col">
              <h4>STAY CONNECTED</h4>
              <i class="header__icon-menu icon icon--black fab fa-instagram"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="header__menu-mobile">
        <div class="header__accordion">
          <div class="header__accordion-menu" data-toggle="collapse" data-target="#submenuHome">
            <h3>HOME</h3>
            <i class="icon icon--black fas fa-chevron-up"></i>
          </div>
          <div id="submenuHome" class="header__accordion-submenu-container collapse">
            <div class="header__accordion-submenu" data-target="#categoriesBedroom" data-toggle="collapse">
              <h4>BEDROOM</h4>
              <i class="icon icon--gold fas fa-chevron-up"></i>
            </div>
            <div id="categoriesBedroom" class="header__accordion-categories collapse">
              <ul>
                <a href="#">
                  <li>Blankets</li>
                </a>
                <a href="#">
                  <li>Throw pillow</li>
                </a>
                <a href="#">
                  <li>Rugs</li>
                </a>
                <a href="#">
                  <li>Essentials</li>
                </a>
              </ul>
            </div>

            <div class="header__accordion-submenu" data-target="#categoriesKitchen" data-toggle="collapse">
              <h4>KITCHEN & DINING</h4>
              <i class="icon icon--gold fas fa-chevron-up"></i>
            </div>
            <div id="categoriesKitchen" class="header__accordion-categories collapse">
              <ul>
                <a href="#">
                  <li>Tablecloths</li>
                </a>
                <a href="#">
                  <li>Napkins</li>
                </a>
                <a href="#">
                  <li>Placemats</li>
                </a>
                <a href="#">
                  <li>Table runners</li>
                </a>
                <a href="#">
                  <li>Kitchen textiles</li>
                </a>
                <a href="#">
                  <li>Dinnerware</li>
                </a>
                <a href="#">
                  <li>Charger platesq</li>
                </a>
                <a href="#">
                  <li>Bowls</li>
                </a>
                <a href="#">
                  <li>Mugs</li>
                </a>
                <a href="#">
                  <li>Coffee and tea</li>
                </a>
                <a href="#">
                  <li>Serving dishes</li>
                </a>
                <a href="#">
                  <li>Glassware</li>
                </a>
                <a href="#">
                  <li>Cutlery</li>
                </a>
                <a href="#">
                  <li>Trays</li>
                </a>
                <a href="#">
                  <li>Bread dishes</li>
                </a>
                <a href="#">
                  <li>Table accessories</li>
                </a>
                <a href="#">
                  <li>Coasters</li>
                </a>
                <a href="#">
                  <li>Trivets</li>
                </a>
                <a href="#">
                  <li>Napkin rings</li>
                </a>
                <a href="#">
                  <li>Essentials</li>
                </a>
              </ul>
            </div>

            <div class="header__accordion-submenu" data-target="#categoriesDecoration" data-toggle="collapse">
              <h4>DECORATION</h4>
              <i class="icon icon--gold fas fa-chevron-up"></i>
            </div>
            <div id="categoriesDecoration" class="header__accordion-categories collapse">
              <ul>
                <a href="#">
                  <li>Furniture</li>
                </a>
                <a href="#">
                  <li>Lamps</li>
                </a>
                <a href="#">
                  <li>Rugs</li>
                </a>
                <a href="#">
                  <li>Vases</li>
                </a>
                <a href="#">
                  <li>Mirrors</li>
                </a>
                <a href="#">
                  <li>Baskets</li>
                </a>
                <a href="#">
                  <li>Photo frames</li>
                </a>
                <a href="#">
                  <li>Lanterns</li>
                </a>
                <a href="#">
                  <li>Boxes</li>
                </a>
                <a href="#">
                  <li>Candles</li>
                </a>
                <a href="#">
                  <li>Tealight holders</li>
                </a>
                <a href="#">
                  <li>Candlesticks</li>
                </a>
                <a href="#">
                  <li>Decor accessories</li>
                </a>
                <a href="#">
                  <li>Decorative cushions</li>
                </a>
                <a href="#">
                  <li>Blankets</li>
                </a>
                <a href="#">
                  <li>Curtains</li>
                </a>
                <a href="#">
                  <li>Ashtrays and incense holders</li>
                </a>
                <a href="#">
                  <li>Door knobs</li>
                </a>
              </ul>
            </div>

            <div class="header__accordion-submenu" data-target="#categoriesOutdoors" data-toggle="collapse">
              <h4>OUTDOORS</h4>
              <i class="icon icon--gold fas fa-chevron-up"></i>
            </div>
            <div id="categoriesOutdoors" class="header__accordion-categories collapse">
              <ul>
                <a href="#">
                  <li>Patio umbrellas</li>
                </a>
                <a href="#">
                  <li>Planters</li>
                </a>
                <a href="#">
                  <li>Ornaments</li>
                </a>
                <a href="#">
                  <li>Statues</li>
                </a>
                <a href="#">
                  <li>Furniture</li>
                </a>
              </ul>
            </div>

            <div class="header__accordion-submenu" data-target="#categoriesBathroom" data-toggle="collapse">
              <h4>BATHROOM</h4>
              <i class="icon icon--gold fas fa-chevron-up"></i>
            </div>
            <div id="categoriesBathroom" class="header__accordion-categories collapse">
              <ul>
                <a href="#">
                  <li>Bathroom</li>
                </a>
              </ul>
            </div>

          </div>
          <div class="header__accordion-menu" data-toggle="collapse" data-target="#submenuFashion">
            <h3>FASHION</h3>
            <i class="icon icon--black fas fa-chevron-up"></i>
          </div>
          <div id="submenuFashion" class="header__accordion-submenu-container collapse">
            <div class="header__accordion-submenu" data-target="#categoriesJewerly" data-toggle="collapse">
              <h4>JEWERLY</h4>
              <i class="icon icon--gold fas fa-chevron-up"></i>
            </div>
            <div id="categoriesJewerly" class="header__accordion-categories collapse">
              <ul>
                <a href="#">
                  <li>Jewerly</li>
                </a>
              </ul>
            </div>

            <div class="header__accordion-submenu" data-target="#categoriesHandbags" data-toggle="collapse">
              <h4>HANDBAGS</h4>
              <i class="icon icon--gold fas fa-chevron-up"></i>
            </div>
            <div id="categoriesHandbags" class="header__accordion-categories collapse">
              <ul>
                <a href="#">
                  <li>Handbags</li>
                </a>
              </ul>
            </div>

            <div class="header__accordion-submenu" data-target="#categoriesHats" data-toggle="collapse">
              <h4>HATS</h4>
              <i class="icon icon--gold fas fa-chevron-up"></i>
            </div>
            <div id="categoriesHats" class="header__accordion-categories collapse">
              <ul>
                <a href="#">
                  <li>Hats</li>
                </a>
              </ul>
            </div>

            <div class="header__accordion-submenu" data-target="#categoriesShoes" data-toggle="collapse">
              <h4>SHOES</h4>
              <i class="icon icon--gold fas fa-chevron-up"></i>
            </div>
            <div id="categoriesShoes" class="header__accordion-categories collapse">
              <ul>
                <a href="#">
                  <li>Shoes</li>
                </a>
              </ul>
            </div>

            <div class="header__accordion-submenu" data-target="#categoriesClothing" data-toggle="collapse">
              <h4>CLOTHING</h4>
              <i class="icon icon--gold fas fa-chevron-up"></i>
            </div>
            <div id="categoriesClothing" class="header__accordion-categories collapse">
              <ul>
                <a href="#">
                  <li>Clothing</li>
                </a>
              </ul>
            </div>

          </div>
          <div class="header__accordion-menu">
            <a href="#">
              <h3>ABOUT US</h3>
            </a>
          </div>
          <div class="header__accordion-menu">
            <a href="#">
              <h3>PRESS</h3>
            </a>
          </div>
          <div class="header__accordion-menu">
            <a href="#">
              <h3>CONTACT US</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header__menu-mobile-extras">
      <i class="header__icon--mobile icon icon--black fas fa-user"></i>
      <div class="header__language-selector header__language-selector--mobile">
        <span class="header__language header__language--selected icon icon--white">ES</span>
        <span class="header__language icon icon--white">EN</span>
      </div>
    </div>
  </div>
  <div class="header__actions">
    <div class="header__action-group">
      <i class="header__icon header__icon-menu icon icon--white fas fa-bars"></i>
      <div class="header__language-selector">
        <span class="header__language header__language--selected icon icon--white">ES</span>
        <span class="header__language icon icon--white">EN</span>
      </div>
    </div>
    <div class="header__logo">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="106" height="91" viewBox="0 0 106 91">
          <g>
            <g>
              <g>
                <path fill="#fff"
                  d="M53.001 0L106 91H0zm18.101 68.162c-.069-.1-.206-.394-.416-.883l-3.104-7.188h-.416c-.164.458-.471 1.19-.92 2.199l-1.688 3.805a49.773 49.773 0 0 1-.891 1.898c-.091.2-.182.325-.264.376-.085.051-.27.081-.555.089l-.185.007v.385a24.317 24.317 0 0 1 2.877 0v-.385l-.59-.069c-.21-.022-.338-.056-.39-.095-.051-.043-.075-.109-.075-.203 0-.147.137-.547.41-1.198l.417-.982h3.548l.673 1.697c.122.31.185.5.185.575a.206.206 0 0 1-.094.17c-.041.03-.169.052-.383.066l-.61.039v.385a48.652 48.652 0 0 1 1.797-.043c.483 0 .991.014 1.52.043v-.385c-.313-.017-.516-.046-.606-.09a.634.634 0 0 1-.24-.213zm-14.44-.504c-.038-.093-.058-.338-.058-.732v-.305h-.42c.004.764-.03 1.39-.103 1.88.404.155.808.271 1.206.35.397.08.793.12 1.188.12 1.144 0 2.058-.295 2.745-.887.69-.59 1.03-1.295 1.03-2.113 0-.407-.089-.759-.266-1.057a1.58 1.58 0 0 0-.71-.648c-.298-.135-.866-.243-1.71-.323-.842-.08-1.394-.17-1.654-.275a1.306 1.306 0 0 1-.619-.506 1.498 1.498 0 0 1-.229-.838c0-.517.186-.94.562-1.268.374-.33.888-.494 1.54-.494.402 0 .786.063 1.145.191.363.13.587.252.673.364.086.114.128.331.128.647v.488h.424c.01-.7.069-1.262.183-1.684a6.487 6.487 0 0 0-1.235-.399 5.813 5.813 0 0 0-1.231-.131c-1.017 0-1.815.252-2.393.756-.575.503-.863 1.152-.863 1.948 0 .467.093.86.28 1.176.19.315.45.545.782.694.33.145.957.254 1.882.328.696.058 1.171.14 1.43.25a1.3 1.3 0 0 1 .601.505c.144.225.215.502.215.826 0 .56-.212 1.017-.631 1.381-.423.362-1.02.544-1.792.544-.361 0-.695-.042-1.007-.126a2.468 2.468 0 0 1-.804-.363c-.15-.105-.247-.205-.288-.299zM53.49 51.474c7.095-.194 12.81-5.862 13.006-12.903-.164 3.438-2.577 6.284-5.81 7.142a7.828 7.828 0 0 1-7.196 5.761zm13.006-13.646c-.196-7.04-5.911-12.709-13.007-12.903a7.83 7.83 0 0 1 7.198 5.761c3.232.858 5.645 3.705 5.809 7.142zM53.116 26.08c-3.684 0-6.668 2.959-6.668 6.61 0 2.304 1.202 4.312 3.007 5.493a6.63 6.63 0 0 0-2.725 3.584c.272.063.546.105.834.105.383 0 .753-.06 1.098-.169a4.914 4.914 0 0 1 2.375-2.387v-.002c.218.397.544.722.946.939a4.89 4.89 0 0 1-4.419 2.794c-2.699 0-4.888-2.17-4.888-4.847 0-1.89 1.1-3.512 2.695-4.311a7.464 7.464 0 0 1-.1-1.19c0-.24.014-.477.038-.712-2.57.918-4.412 3.348-4.412 6.213 0 3.649 2.984 6.608 6.667 6.608a6.647 6.647 0 0 0 5.54-2.972 6.655 6.655 0 0 0 3.614 2.686c.059-.266.1-.54.1-.823a3.59 3.59 0 0 0-.19-1.103 4.915 4.915 0 0 1-2.394-2.34c.4-.214.729-.534.945-.927 1.663.775 2.82 2.435 2.82 4.374 0 2.679-2.19 4.848-4.891 4.848-1.905 0-3.534-1.088-4.346-2.663a8.091 8.091 0 0 1-1.198.097c-.242 0-.482-.013-.717-.034a6.653 6.653 0 0 0 6.26 4.364c3.687 0 6.67-2.96 6.67-6.612 0-2.304-1.202-4.312-3.006-5.492a6.589 6.589 0 0 0 2.72-3.586 3.568 3.568 0 0 0-.82-.102c-.397 0-.77.077-1.122.19a4.902 4.902 0 0 1-2.365 2.366 2.335 2.335 0 0 0-.941-.932h.004a4.88 4.88 0 0 1 4.414-2.795c2.701 0 4.89 2.17 4.89 4.848 0 1.886-1.1 3.505-2.689 4.305.064.39.107.787.107 1.194 0 .24-.016.475-.04.707 2.566-.92 4.4-3.348 4.4-6.206 0-3.65-2.986-6.611-6.668-6.611-2.32 0-4.345 1.189-5.54 2.973a6.644 6.644 0 0 0-3.6-2.682 3.437 3.437 0 0 0-.102.82c0 .39.084.759.197 1.11a4.908 4.908 0 0 1 2.375 2.332c-.4.214-.723.533-.943.926-1.664-.776-2.82-2.436-2.82-4.379 0-2.676 2.189-4.846 4.888-4.846a4.875 4.875 0 0 1 4.343 2.662 7.926 7.926 0 0 1 1.212-.096c.245 0 .479.035.717.057a6.657 6.657 0 0 0-6.272-4.386zm-.379 25.394a7.832 7.832 0 0 1-7.203-5.76c-3.236-.86-5.65-3.705-5.813-7.143.196 7.041 5.913 12.71 13.016 12.903zm0-26.55c-7.103.195-12.82 5.867-13.016 12.914.163-3.44 2.577-6.289 5.813-7.147a7.835 7.835 0 0 1 7.203-5.766zm-17.8 34.403c-.59.968-.886 2.066-.886 3.293 0 1.228.293 2.329.878 3.304.586.973 1.423 1.736 2.514 2.289 1.09.552 2.353.827 3.793.827.7 0 1.399-.084 2.09-.256.693-.17 1.383-.424 2.068-.763.105-.275.218-.544.341-.81l-.185-.175c-.578.424-1.155.704-1.727.837-.765.18-1.542.27-2.324.27a5.56 5.56 0 0 1-2.817-.768 5.334 5.334 0 0 1-2.056-2.085c-.482-.879-.723-1.878-.723-3.002 0-1.598.476-2.875 1.425-3.829.95-.955 2.214-1.43 3.794-1.43.619 0 1.214.085 1.784.253a6.01 6.01 0 0 1 1.636.768l.07 1.552h.587c.04-1.134.195-2.012.457-2.635a30.31 30.31 0 0 1-1.342-.288c-1.106-.267-2.07-.401-2.894-.401-1.574 0-2.898.266-3.977.799-1.079.531-1.915 1.282-2.506 2.25zm-2.432 25.06c.154-.407.326-.808.507-1.205l-.273-.261c-.859.63-1.714 1.048-2.567 1.246a15.013 15.013 0 0 1-3.45.4c-1.47 0-2.863-.378-4.18-1.139a7.935 7.935 0 0 1-3.058-3.098c-.717-1.304-1.074-2.792-1.074-4.46 0-2.376.705-4.274 2.117-5.69 1.41-1.417 3.291-2.125 5.633-2.125a9.3 9.3 0 0 1 2.653.375c.845.25 1.657.63 2.43 1.14l.103 2.307h.872c.06-1.684.287-2.988.676-3.914a44.983 44.983 0 0 1-1.992-.429c-1.64-.395-3.074-.595-4.298-.595-2.337 0-4.305.396-5.908 1.186-1.603.791-2.842 1.906-3.72 3.345-.877 1.438-1.316 3.07-1.316 4.894 0 1.823.434 3.459 1.3 4.906.872 1.447 2.116 2.582 3.736 3.402 1.62.82 3.499 1.232 5.635 1.232 1.04 0 2.077-.127 3.105-.383a15.05 15.05 0 0 0 3.069-1.134zm16.17-11.679a59.545 59.545 0 0 1-5.454 0v.572h.656c.433 0 .717.054.857.163.14.11.222.29.249.538.07.703.106 1.573.106 2.61v1.772c-.886.043-2.038.064-3.457.064-1.67 0-3.045-.021-4.13-.064V76.29c0-1.285.025-2.094.076-2.427.026-.207.11-.355.244-.447.133-.091.482-.136 1.05-.136h.391v-.572a50.82 50.82 0 0 1-2.545.063c-.862 0-1.796-.021-2.798-.063v.572h.674c.56 0 .898.107 1.016.323.118.215.179 1.116.179 2.7v5.475c0 1.754-.058 2.74-.174 2.956-.116.213-.493.32-1.132.32h-.563v.573a99.72 99.72 0 0 1 3.055-.063c.733 0 1.496.02 2.288.063v-.572h-.62c-.341 0-.587-.046-.74-.137-.151-.091-.24-.18-.262-.268-.027-.086-.056-.543-.092-1.367a29.333 29.333 0 0 1-.046-1.537v-2.539c.973-.04 2.407-.062 4.305-.062 1.33 0 2.424.022 3.28.062v2.365c0 1.195-.032 2.104-.098 2.728-.032.293-.114.489-.246.596-.133.106-.433.159-.896.159h-.627v.572a58.907 58.907 0 0 1 2.853-.063c.894 0 1.76.02 2.6.063v-.572h-.712c-.56 0-.89-.108-1-.321-.103-.215-.158-1.252-.158-3.109v-5.022c0-1.458.016-2.326.04-2.6.03-.276.109-.465.24-.568.13-.102.429-.155.898-.155h.693zm6.174 0c-.673.042-1.418.065-2.243.065a73.45 73.45 0 0 1-3.002-.065v.572h.74c.486 0 .78.125.876.371.099.25.148 1.585.148 4.006v3.075c0 2.338-.056 3.643-.17 3.913-.111.276-.452.41-1.018.41h-.576v.572c.828-.043 1.761-.063 2.79-.063.887 0 1.703.02 2.455.063v-.572h-.607c-.562 0-.896-.12-1-.36-.106-.236-.155-1.534-.155-3.889v-3.132c0-1.657.012-2.81.044-3.46.02-.416.082-.676.191-.778.111-.105.382-.156.82-.156h.707zm.724-4.243c-.313-.017-.517-.046-.606-.09a.633.633 0 0 1-.24-.213c-.067-.1-.206-.394-.416-.883l-3.1-7.188h-.417c-.164.458-.469 1.19-.92 2.199l-1.686 3.805c-.3.679-.596 1.312-.886 1.898-.095.2-.182.325-.266.376-.085.051-.27.081-.555.089l-.185.007v.385a24.288 24.288 0 0 1 2.875 0v-.385l-.59-.069c-.207-.022-.337-.056-.389-.095-.05-.043-.076-.109-.076-.203 0-.147.137-.547.412-1.198l.415-.982h3.543l.673 1.697c.122.31.186.5.186.575a.206.206 0 0 1-.094.17c-.041.03-.169.052-.386.066l-.606.039v.385a48.512 48.512 0 0 1 1.795-.043c.482 0 .989.014 1.52.043zm9.476 18.08a17.164 17.164 0 0 0-2.18-.736c1.123-.103 2.096-.364 2.912-.78a7.082 7.082 0 0 0 2.757-2.504c.705-1.087 1.055-2.353 1.055-3.794 0-1.876-.596-3.38-1.79-4.51-1.199-1.13-2.85-1.695-4.953-1.695-2.15 0-3.866.608-5.155 1.828-1.292 1.217-1.936 2.812-1.936 4.786 0 1.35.272 2.53.82 3.535a5.726 5.726 0 0 0 2.282 2.32c.975.543 2.149.814 3.523.814-.452.23-1.198.694-2.236 1.39v.598c.618-.344 1.007-.548 1.161-.608.155-.06.305-.09.442-.09.495 0 1.459.26 2.895.78.87.32 1.519.538 1.946.651.422.11.903.2 1.432.265.328-.313.833-.646 1.514-.998v-.471c-.478.12-.838.182-1.077.182-.698 0-1.835-.32-3.412-.962zm19.118-13.837c-.821.042-1.512.065-2.065.065-.343 0-1.144-.023-2.405-.065v.572h.477c.642 0 1.038.114 1.178.341.145.226.215 1.134.215 2.717v3.425c0 1.532-.112 2.57-.336 3.119-.227.545-.582.952-1.067 1.213-.705.373-1.572.56-2.598.56-1 0-1.797-.175-2.39-.527-.597-.349-.967-.78-1.109-1.287-.144-.51-.215-1.415-.215-2.717v-3.56c0-1.752.058-2.74.174-2.957.116-.219.459-.327 1.028-.327h.667v-.572a80.818 80.818 0 0 1-2.624.065c-.568 0-1.474-.023-2.719-.065v.572h.647c.54 0 .862.103.96.309.102.206.153 1.162.153 2.869v2.769l-.019 1.723c0 1.156.082 1.977.243 2.458.16.481.421.888.783 1.22.362.333.903.613 1.618.838.719.23 1.554.343 2.508.343.925 0 1.73-.128 2.412-.381.686-.254 1.232-.599 1.642-1.034.41-.438.693-.924.85-1.467.154-.543.232-1.592.232-3.147v-3.404c0-1.55.067-2.453.205-2.711.138-.257.45-.385.932-.385h.623zm4.568 11.987c-.103-.236-.155-1.534-.155-3.889v-3.132c0-1.657.015-2.81.047-3.46.018-.416.081-.676.192-.778.109-.105.382-.156.817-.156h.705v-.572a36.36 36.36 0 0 1-2.238.065 73.05 73.05 0 0 1-2.997-.065v.572h.739c.485 0 .78.125.874.371.1.25.147 1.585.147 4.006v3.075c0 2.338-.055 3.643-.169 3.913-.114.276-.451.41-1.016.41h-.575v.572a54.309 54.309 0 0 1 2.787-.063c.883 0 1.699.02 2.448.063v-.572h-.607c-.562 0-.893-.12-.999-.36zm-21.667-2.257c-.404.848-.954 1.487-1.654 1.918-.7.43-1.519.646-2.455.646-1.01 0-1.908-.254-2.69-.761-.787-.506-1.413-1.264-1.883-2.274-.47-1.013-.703-2.2-.703-3.561 0-1.025.2-1.927.597-2.709.4-.782.95-1.374 1.646-1.781.702-.405 1.536-.608 2.506-.608 1.058 0 1.973.227 2.745.685.773.458 1.381 1.14 1.826 2.049.444.908.666 2.005.666 3.29 0 1.223-.198 2.26-.601 3.106M49.175 65.417l1.546-3.67 1.542 3.67h-3.089m3.831-26.205c-.57 0-1.031-.456-1.031-1.019 0-.562.46-1.018 1.031-1.018.573 0 1.033.456 1.033 1.018 0 .563-.46 1.02-1.033 1.02M65.54 65.416l1.546-3.67 1.543 3.67h-3.09" />
              </g>
            </g>
          </g>
        </svg>
      </span>
    </div>
    <div class="header__action-group">
      <i class="header__icon icon icon--white fas fa-search oficial"></i>
      <i class="header__icon icon icon--white fas fa-user"></i>
      <i class="header__icon icon icon--white fas fa-shopping-bag"></i>
    </div>
  </div>
  <nav class="header__main-nav">

    <ul class="header__nav nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="header__nav-item nav-link" data-toggle="tab" href="#home">home</a>
      </li>
      <li class="nav-item">
        <a class="header__nav-item nav-link" data-toggle="tab" href="#fashion">fashion</a>
      </li>
      <li class="nav-item">
        <a class="header__nav-item nav-link" data-toggle="tab" href="#sale">sale</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade" id="home">
        <nav class="header__nav-bar">
          <ul>
            <li class="header__nav-bar-item">
              <a data-toggle="collapse" data-collapse="bedroom-dropdown" href="#bedroom-dropdown">bedroom</a>
              <div class="header__dropdown collapse" id="bedroom-dropdown">
                <ul>
                  <li>
                    <a class="subcategory" href="#">Blankets</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Throw pillow</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Rugs</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Essentials</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__nav-bar-item">
              <a data-toggle="collapse" data-collapse="kitchen-dropdown" href="#kitchen-dropdown">kitchen & dining</a>
              <div class="header__dropdown collapse" id="kitchen-dropdown">
                <ul>
                  <li>
                    <a class="subcategory" href="#">Tablecloths</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Napkins</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Placemats</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Table runners</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Kitchen textiles</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Dinnerware</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Charger platesq</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Bowls</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Mugs</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Coffee and tea</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Serving dishes</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Glassware</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Cutlery</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Trays</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Bread dishes</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Table accessories</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Coasters</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Trivets</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Napkin rings</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Essentials</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__nav-bar-item">
              <a data-toggle="collapse" data-collapse="deco-dropdown" href="#deco-dropdown">decoration</a>
              <div class="header__dropdown collapse" id="deco-dropdown">
                <ul>
                  <li>
                    <a class="subcategory" href="#">Furniture</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Lamps</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Rugs</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Vases</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Mirrors</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Baskets</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Photo frames</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Lanterns</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Boxes</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Candles</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Tealight holders</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Candlesticks</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Decor accessories</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Decorative cushions</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Blankets</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Curtains</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Ashtrays and incense holders</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Door knobs</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__nav-bar-item">
              <a data-toggle="collapse" data-collapse="outdoors-dropdown" href="#outdoors-dropdown"
                href="#">outdoors</a>
              <div class="header__dropdown collapse" id="outdoors-dropdown">
                <ul>
                  <li>
                    <a class="subcategory" href="#">Patio umbrellas</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Planters</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Ornaments</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Statues</a>
                  </li>
                  <li>
                    <a class="subcategory" href="#">Furniture</a>
                  </li>
                </ul>
            </li>
            <li class="header__nav-bar-item">
              <a href="#">bathroom</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="tab-pane fade" id="fashion">
        <nav class="header__nav-bar">
          <ul>
            <li class="header__nav-bar-item"><a href="#">Jewerly</a></li>
            <li class="header__nav-bar-item"><a href="#">Handbags</a></li>
            <li class="header__nav-bar-item"><a href="#">Hats</a></li>
            <li class="header__nav-bar-item"><a href="#">Shoes</a></li>
            <li class="header__nav-bar-item"><a href="#">Clothing</a></li>
          </ul>
        </nav>
      </div>
      <div class="tab-pane fade" id="sale">
        <nav class="header__nav-bar">
          <ul>
            <li class="header__nav-bar-item"><a href="#">sale</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </nav>
</header>