<div class="instragram">
    <div class="container">
        <p class="text-m text-center">
            @casachiqui
        </p>
        <h2 class="title text-center">Instagram feed</h2>
    </div>
    <div id="instafeed">

    </div>
</div>

<script>
    instagramPlugin();
</script>