<div class="miga">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Inicio</a>
                <span>/</span>
            </li>
            <li><a href="#">Libros</a>
                <span>/</span>
            </li>
            <li class="active">Bootstrap 3</li>
        </ul>
    </div>
</div>