<!--Newslet-->
<div class="newslet">
    <div class="row gutter-20">
        <div class="col-12 col-md-7 pl-0 pr-0">
            <div class="contenido d-flex flex-column justify-content-between">
                <h5 class="h5">BE FIRST IN THE KNOW!</h5>
                <p class="articulo"> Sign up for our newsletter to receive latest news on new collections and
                    exclusive offers</p>
                <div class="footer__correo d-flex row justify-content-between">
                    <input class="align-items-center col-12 col-lg-5 col-xl-6" required="" type="text" name="email"
                        placeholder="Your e-mail (required)">
                    <a href="#" class="btn btn-line col-12 col-lg-1 col-xl-2">SIGN UP</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5 pl-0 pr-0">
            <div class="imagen makeBg">
                <img src="media/ilustracion_newsletter.png" alt="imagen ilustrada">
            </div>
        </div>
    </div>
</div>