<a href="javascript:;" class="btn" onclick="$('.modalContacto').modal('show')">modal contacto</a>
<a href="javascript:;" class="btn" onclick="$('.modalNewsletter').modal('show')">modal Newsletter</a>
<!-- <a href="javascript:;" class="btn" onclick="$('.modalDescarga').modal('show')">modal Descarga</a> -->

<div class="modal fade modalContacto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title texting" id="exampleModalLabel">Gracias por contactarse con nosotros</h5>
                <button type="button" class=" close closeModal" data-dismiss="modal" aria-label="Close">
                    <i class="icon-cerrar"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="mainText_cont">
                    <p class="text">Hemos recibido tu mensaje exitosamente. Nos podremos en contacto lo más pronto posible.</p>
                </div>
                <div class="mainIcon">
                    <i class="support_icon">
                        <svg viewBox="0 0 153 153">
                            <use xlink:href="#avion" />
                        </svg>
                    </i>
                </div>
            </div>
            <div class="modal-footer">
                <a href="" class="r_btn btn-l">Regresar al home</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modalNewsletter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title texting" id="exampleModalLabel">¡Gracias por suscribirte a nuestro newsletter!</h5>
                <button type="button" class=" close closeModal" data-dismiss="modal" aria-label="Close">
                    <i class="icon-cerrar"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="mainText_cont">
                    <p class="text">Ahora recibirás las últimas noticias y actualizaciónes sobre nuestra tienda directamente en tu email y enterarte de  todos los detalles que Wellness Bar tiene para ti.</p>
                </div>
                <div class="mainIcon">
                    <i class="support_icon">
                        <svg viewBox="0 0 136 154">
                            <use xlink:href="#sobre-pic" />
                        </svg>
                    </i>
                </div>
            </div>
            <div class="modal-footer">
                <a href="" class="r_btn btn-l">Regresar</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modalDescarga" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title texting" id="exampleModalLabel">Descarga la última versión del catálogo aquí.</h5>
                <button type="button" class=" close closeModal" data-dismiss="modal" aria-label="Close">
                    <i class="icon-cerrar"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="mainText_cont">
                    <form action="" id="descarga">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-30">
                                <label class="inputLabel">Nombre</label>
                                <div class="inputSkin">
                                    <input type="text" name="" class="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-30">
                                <label class="inputLabel">Apellido</label>
                                <div class="inputSkin">
                                    <input type="text" name="" class="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-30">
                                <label class="inputLabel">Email</label>
                                <div class="inputSkin">
                                    <input type="email" name="" class="">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="container_button">
                                    <input type="submit" class="r_btn btn-l" value="Descargar">
                                </div> 
                            </div>
                        </div>
                    </form>
                </div>
                <div class="mainIcon">
                    <i class="support_icon">
                        <svg viewBox="0 0 135 143">
                            <use xlink:href="#libro-shadow"></use>
                        </svg>
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>