/* --------------------------------------------------------
Helpers / Utilities
----------------------------------------------------------- */
.vid{
 	display: block; width: 100%; height: 0; padding-top: 56.25%; position: relative; 
 	iframe,
 	video{ display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
}
.row{ margin: 0}
.gutter-5{ margin: 0 0 0 -5px;
    > .col,
    > [class*="col-"]{
        padding-left: 5px;
    }
}
.gutter-10{ margin: 0 0 0 -10px;
    > .col,
    > [class*="col-"]{
        padding-left: 10px;
    }
}
.gutter-15{ margin: 0 0 0 -15px;
    > .col,
    > [class*="col-"]{
        padding-left: 15px;
    }
}
.gutter-20{ margin: 0 0 0 -20px;
    > .col,
    > [class*="col-"]{
        padding-left: 20px;
    }
}
.gutter-25{ margin: 0 0 0 -25px;
    > .col,
    > [class*="col-"]{
        padding-left: 25px;
    }
}
.gutter-30{ margin: 0 0 0 -30px;
    > .col,
    > [class*="col-"]{
        padding-left: 30px;
    }
}
.gutter-35{ margin: 0 0 0 -35px;
    > .col,
    > [class*="col-"]{
        padding-left: 35px;
    }
}
.gutter-40{ margin: 0 0 0 -40px;
    > .col,
    > [class*="col-"]{
        padding-left: 40px;
    }
}
.gutter-45{ margin: 0 0 0 -45px;
    > .col,
    > [class*="col-"]{
        padding-left: 45px;
    }
}
.gutter-50{ margin: 0 0 0 -50px;
    > .col,
    > [class*="col-"]{
        padding-left: 50px;
    }
}

.relative{ position: relative !important; }
.absolute{ position: absolute !important; }
.static{ position: static !important; }

.fz-30{ font-size: 30px !important; }
.fz-20{ font-size: 20px !important; }
.fz-18{ font-size: 18px !important; }
.fz-16{ font-size: 16px !important; }
.fz-15{ font-size: 15px !important; }
.fz-14{ font-size: 14px !important; }
.fz-13{ font-size: 13px !important; }
.fz-12{ font-size: 12px !important; }
.fz-10{ font-size: 10px !important; }

.ar-vid{ padding-top: 56.25%; position: relative; }
.ar-5{ padding-top: 5%; position: relative; }
.ar-10{ padding-top: 10%; position: relative; }
.ar-15{ padding-top: 15%; position: relative; }
.ar-20{ padding-top: 20%; position: relative; }
.ar-25{ padding-top: 25%; position: relative; }
.ar-30{ padding-top: 30%; position: relative; }
.ar-35{ padding-top: 35%; position: relative; }
.ar-40{ padding-top: 40%; position: relative; }
.ar-45{ padding-top: 45%; position: relative; }
.ar-50{ padding-top: 50%; position: relative; }
.ar-55{ padding-top: 55%; position: relative; }
.ar-60{ padding-top: 60%; position: relative; }
.ar-65{ padding-top: 65%; position: relative; }
.ar-70{ padding-top: 70%; position: relative; }
.ar-75{ padding-top: 75%; position: relative; }
.ar-80{ padding-top: 80%; position: relative; }
.ar-85{ padding-top: 85%; position: relative; }
.ar-90{ padding-top: 90%; position: relative; }
.ar-95{ padding-top: 95%; position: relative; }
.ar-100{ padding-top: 100%; position: relative; }
.ar-105{ padding-top: 105%; position: relative; }
.ar-110{ padding-top: 110%; position: relative; }
.ar-115{ padding-top: 115%; position: relative; }
.ar-120{ padding-top: 120%; position: relative; }
.ar-125{ padding-top: 125%; position: relative; }
.ar-130{ padding-top: 130%; position: relative; }
.ar-135{ padding-top: 135%; position: relative; }
.ar-140{ padding-top: 140%; position: relative; }
.ar-145{ padding-top: 145%; position: relative; }
.ar-150{ padding-top: 150%; position: relative; }
.ar-155{ padding-top: 155%; position: relative; }
.ar-160{ padding-top: 160%; position: relative; }
.ar-165{ padding-top: 165%; position: relative; }
.ar-170{ padding-top: 170%; position: relative; }
.ar-175{ padding-top: 175%; position: relative; }
.ar-180{ padding-top: 180%; position: relative; }
.ar-185{ padding-top: 185%; position: relative; }
.ar-190{ padding-top: 190%; position: relative; }
.ar-195{ padding-top: 195%; position: relative; }
.ar-200{ padding-top: 200%; position: relative; }


.pl-0{ padding-left: 0 !important; }
.pl-5{ padding-left: 5px !important; }
.pl-10{ padding-left: 10px !important; }
.pl-15{ padding-left: 15px !important; }
.pl-20{ padding-left: 20px !important; }
.pl-25{ padding-left: 25px !important; }
.pl-30{ padding-left: 30px !important; }
.pl-35{ padding-left: 35px !important; }
.pl-40{ padding-left: 40px !important; }
.pl-45{ padding-left: 45px !important; }
.pl-50{ padding-left: 50px !important; }
.pl-55{ padding-left: 55px !important; }
.pl-60{ padding-left: 60px !important; }
.pl-65{ padding-left: 65px !important; }
.pl-70{ padding-left: 70px !important; }
.pl-75{ padding-left: 75px !important; }
.pl-80{ padding-left: 80px !important; }
.pl-85{ padding-left: 85px !important; }
.pl-90{ padding-left: 90px !important; }
.pl-95{ padding-left: 95px !important; }
.pl-100{ padding-left: 100px !important; }

.pr-0{ padding-right: 0 !important; }
.pr-5{ padding-right: 5px !important; }
.pr-10{ padding-right: 10px !important; }
.pr-15{ padding-right: 15px !important; }
.pr-20{ padding-right: 20px !important; }
.pr-25{ padding-right: 25px !important; }
.pr-30{ padding-right: 30px !important; }
.pr-35{ padding-right: 35px !important; }
.pr-40{ padding-right: 40px !important; }
.pr-45{ padding-right: 45px !important; }
.pr-50{ padding-right: 50px !important; }
.pr-55{ padding-right: 55px !important; }
.pr-60{ padding-right: 60px !important; }
.pr-65{ padding-right: 65px !important; }
.pr-70{ padding-right: 70px !important; }
.pr-75{ padding-right: 75px !important; }
.pr-80{ padding-right: 80px !important; }
.pr-85{ padding-right: 85px !important; }
.pr-90{ padding-right: 90px !important; }
.pr-95{ padding-right: 95px !important; }
.pr-100{ padding-right: 100px !important; }

.pb-0{ padding-bottom: 0 !important; }
.pb-5{ padding-bottom: 5px !important; }
.pb-10{ padding-bottom: 10px !important; }
.pb-15{ padding-bottom: 15px !important; }
.pb-20{ padding-bottom: 20px !important; }
.pb-25{ padding-bottom: 25px !important; }
.pb-30{ padding-bottom: 30px !important; }
.pb-35{ padding-bottom: 35px !important; }
.pb-40{ padding-bottom: 40px !important; }
.pb-45{ padding-bottom: 45px !important; }
.pb-50{ padding-bottom: 50px !important; }
.pb-55{ padding-bottom: 55px !important; }
.pb-60{ padding-bottom: 60px !important; }
.pb-65{ padding-bottom: 65px !important; }
.pb-70{ padding-bottom: 70px !important; }
.pb-75{ padding-bottom: 75px !important; }
.pb-80{ padding-bottom: 80px !important; }
.pb-85{ padding-bottom: 85px !important; }
.pb-90{ padding-bottom: 90px !important; }
.pb-95{ padding-bottom: 95px !important; }
.pb-100{ padding-bottom: 100px !important; }

.pt-0{ padding-top: 0 !important; }
.pt-5{ padding-top: 5px !important; }
.pt-10{ padding-top: 10px !important; }
.pt-15{ padding-top: 15px !important; }
.pt-20{ padding-top: 20px !important; }
.pt-25{ padding-top: 25px !important; }
.pt-30{ padding-top: 30px !important; }
.pt-35{ padding-top: 35px !important; }
.pt-40{ padding-top: 40px !important; }
.pt-45{ padding-top: 45px !important; }
.pt-50{ padding-top: 50px !important; }
.pt-55{ padding-top: 55px !important; }
.pt-60{ padding-top: 60px !important; }
.pt-65{ padding-top: 65px !important; }
.pt-70{ padding-top: 70px !important; }
.pt-75{ padding-top: 75px !important; }
.pt-80{ padding-top: 80px !important; }
.pt-85{ padding-top: 85px !important; }
.pt-90{ padding-top: 90px !important; }
.pt-95{ padding-top: 95px !important; }
.pt-100{ padding-top: 100px !important; }

.ml-a{ margin-left: auto !important; }
.ml-0{ margin-left: 0 !important; }
.ml-5{ margin-left: 5px !important; }
.ml-10{ margin-left: 10px !important; }
.ml-15{ margin-left: 15px !important; }
.ml-20{ margin-left: 20px !important; }
.ml-25{ margin-left: 25px !important; }
.ml-30{ margin-left: 30px !important; }
.ml-35{ margin-left: 35px !important; }
.ml-40{ margin-left: 40px !important; }
.ml-45{ margin-left: 45px !important; }
.ml-50{ margin-left: 50px !important; }
.ml-55{ margin-left: 55px !important; }
.ml-60{ margin-left: 60px !important; }
.ml-65{ margin-left: 65px !important; }
.ml-70{ margin-left: 70px !important; }
.ml-75{ margin-left: 75px !important; }
.ml-80{ margin-left: 80px !important; }
.ml-85{ margin-left: 85px !important; }
.ml-90{ margin-left: 90px !important; }
.ml-95{ margin-left: 95px !important; }
.ml-100{ margin-left: 100px !important; }

.mr-a{ margin-right: auto !important; }
.mr-0{ margin-right: 0 !important; }
.mr-5{ margin-right: 5px !important; }
.mr-10{ margin-right: 10px !important; }
.mr-15{ margin-right: 15px !important; }
.mr-20{ margin-right: 20px !important; }
.mr-25{ margin-right: 25px !important; }
.mr-30{ margin-right: 30px !important; }
.mr-35{ margin-right: 35px !important; }
.mr-40{ margin-right: 40px !important; }
.mr-45{ margin-right: 45px !important; }
.mr-50{ margin-right: 50px !important; }
.mr-55{ margin-right: 55px !important; }
.mr-60{ margin-right: 60px !important; }
.mr-65{ margin-right: 65px !important; }
.mr-70{ margin-right: 70px !important; }
.mr-75{ margin-right: 75px !important; }
.mr-80{ margin-right: 80px !important; }
.mr-85{ margin-right: 85px !important; }
.mr-90{ margin-right: 90px !important; }
.mr-95{ margin-right: 95px !important; }
.mr-100{ margin-right: 100px !important; }

.mb-0{ margin-bottom: 0 !important; }
.mb-5{ margin-bottom: 5px !important; }
.mb-10{ margin-bottom: 10px !important; }
.mb-15{ margin-bottom: 15px !important; }
.mb-20{ margin-bottom: 20px !important; }
.mb-25{ margin-bottom: 25px !important; }
.mb-30{ margin-bottom: 30px !important; }
.mb-35{ margin-bottom: 35px !important; }
.mb-40{ margin-bottom: 40px !important; }
.mb-45{ margin-bottom: 45px !important; }
.mb-50{ margin-bottom: 50px !important; }
.mb-55{ margin-bottom: 55px !important; }
.mb-60{ margin-bottom: 60px !important; }
.mb-65{ margin-bottom: 65px !important; }
.mb-70{ margin-bottom: 70px !important; }
.mb-75{ margin-bottom: 75px !important; }
.mb-80{ margin-bottom: 80px !important; }
.mb-85{ margin-bottom: 85px !important; }
.mb-90{ margin-bottom: 90px !important; }
.mb-95{ margin-bottom: 95px !important; }
.mb-100{ margin-bottom: 100px !important; }

.mt-0{ margin-top: 0 !important; }
.mt-5{ margin-top: 5px !important; }
.mt-10{ margin-top: 10px !important; }
.mt-15{ margin-top: 15px !important; }
.mt-20{ margin-top: 20px !important; }
.mt-25{ margin-top: 25px !important; }
.mt-30{ margin-top: 30px !important; }
.mt-35{ margin-top: 35px !important; }
.mt-40{ margin-top: 40px !important; }
.mt-45{ margin-top: 45px !important; }
.mt-50{ margin-top: 50px !important; }
.mt-55{ margin-top: 55px !important; }
.mt-60{ margin-top: 60px !important; }
.mt-65{ margin-top: 65px !important; }
.mt-70{ margin-top: 70px !important; }
.mt-75{ margin-top: 75px !important; }
.mt-80{ margin-top: 80px !important; }
.mt-85{ margin-top: 85px !important; }
.mt-90{ margin-top: 90px !important; }
.mt-95{ margin-top: 95px !important; }
.mt-100{ margin-top: 100px !important; }

.valign-top{ vertical-align: top !important; }
.valign-middle{ vertical-align: middle !important; }
.valign-bottom{ vertical-align: bottom !important; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, 
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, 
.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, 
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, 
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto, 
.col-4p, .col-5p, .col-6p, .col-7p, .col-8p, .col-9p, .col-10p, 
	.col-11p, .col-12p, .col-13p, .col-14p, .col-15p, 
	.col-16p, .col-17p, .col-18p, .col-19p, .col-20p, 
	.col-25p, .col-30p, .col-35p, .col-40p, .col-45p, .col-50p, 
	.col-55p, .col-60p, .col-65p, .col-70p, .col-75p, 
	.col-80p, .col-85p, .col-90p, .col-95p, .col-100p{ position: relative;
		width: 100%;
		padding-right: 0;
		padding-left: 0 }

.col-4p{ -ms-flex: 0 0 4%; flex: 0 0 4%; max-width: 4% }
.col-5p{ -ms-flex: 0 0 5%; flex: 0 0 5%; max-width: 5%  }
.col-6p{ -ms-flex: 0 0 6%; flex: 0 0 6%; max-width: 6%  }
.col-7p{ -ms-flex: 0 0 7%; flex: 0 0 7%; max-width: 7%  }
.col-8p{ -ms-flex: 0 0 8%; flex: 0 0 8%; max-width: 8%  }
.col-9p{ -ms-flex: 0 0 9%; flex: 0 0 9%; max-width: 9%  }
.col-10p{ -ms-flex: 0 0 10%; flex: 0 0 10%; max-width: 10%  }
.col-11p{ -ms-flex: 0 0 11%; flex: 0 0 11%; max-width: 11%  }
.col-12p{ -ms-flex: 0 0 12%; flex: 0 0 12%; max-width: 12%  }
.col-13p{ -ms-flex: 0 0 13%; flex: 0 0 13%; max-width: 13%  }
.col-14p{ -ms-flex: 0 0 14%; flex: 0 0 14%; max-width: 14%  }
.col-15p{ -ms-flex: 0 0 15%; flex: 0 0 15%; max-width: 15%  }
.col-16p{ -ms-flex: 0 0 16%; flex: 0 0 16%; max-width: 16%  }
.col-17p{ -ms-flex: 0 0 17%; flex: 0 0 17%; max-width: 17%  }
.col-18p{ -ms-flex: 0 0 18%; flex: 0 0 18%; max-width: 18%  }
.col-19p{ -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%  }
.col-20p{ -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%  }
.col-25p{ -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%  }
.col-30p{ -ms-flex: 0 0 30%; flex: 0 0 30%; max-width: 30%  }
.col-35p{ -ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%  }
.col-40p{ -ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%  }
.col-45p{ -ms-flex: 0 0 45%; flex: 0 0 45%; max-width: 45%  }
.col-50p{ -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%  }
.col-55p{ -ms-flex: 0 0 55%; flex: 0 0 55%; max-width: 55%  }
.col-60p{ -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%  }
.col-65p{ -ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%  }
.col-70p{ -ms-flex: 0 0 70%; flex: 0 0 70%; max-width: 70%  }
.col-75p{ -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%  }
.col-80p{ -ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%  }
.col-85p{ -ms-flex: 0 0 85%; flex: 0 0 85%; max-width: 85%  }
.col-90p{ -ms-flex: 0 0 90%; flex: 0 0 90%; max-width: 90%  }
.col-95p{ -ms-flex: 0 0 95%; flex: 0 0 95%; max-width: 95%  }
.col-100p{ -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%  }

@media (max-width: 420px) { 


    .gutter-xs-5{ margin: 0 0 0 -5px;
        > .col,
        > [class*="col-"]{
            padding-left: 5px;
        }
    }
    .gutter-xs-10{ margin: 0 0 0 -10px;
        > .col,
        > [class*="col-"]{
            padding-left: 10px;
        }
    }
    .gutter-xs-15{ margin: 0 0 0 -15px;
        > .col,
        > [class*="col-"]{
            padding-left: 15px;
        }
    }
    .gutter-xs-20{ margin: 0 0 0 -20px;
        > .col,
        > [class*="col-"]{
            padding-left: 20px;
        }
    }
    .gutter-xs-25{ margin: 0 0 0 -25px;
        > .col,
        > [class*="col-"]{
            padding-left: 25px;
        }
    }
    .gutter-xs-30{ margin: 0 0 0 -30px;
        > .col,
        > [class*="col-"]{
            padding-left: 30px;
        }
    }
    .gutter-xs-35{ margin: 0 0 0 -35px;
        > .col,
        > [class*="col-"]{
            padding-left: 35px;
        }
    }
    .gutter-xs-40{ margin: 0 0 0 -40px;
        > .col,
        > [class*="col-"]{
            padding-left: 40px;
        }
    }
    .gutter-xs-45{ margin: 0 0 0 -45px;
        > .col,
        > [class*="col-"]{
            padding-left: 45px;
        }
    }
    .gutter-xs-50{ margin: 0 0 0 -50px;
        > .col,
        > [class*="col-"]{
            padding-left: 50px;
        }
    }
	
	.relative-xs{ position: relative !important; }
	.absolute-xs{ position: absolute !important; }
	.static-xs{ position: static !important; }

	.fz-xs-20{ font-size: 20px !important; }
	.fz-xs-18{ font-size: 18px !important; }
	.fz-xs-16{ font-size: 16px !important; }
	.fz-xs-15{ font-size: 15px !important; }
	.fz-xs-14{ font-size: 14px !important; }
	.fz-xs-13{ font-size: 13px !important; }
	.fz-xs-12{ font-size: 12px !important; }


	.pl-xs-0{ padding-left: 0 !important; }
	.pl-xs-5{ padding-left: 5px !important; }
	.pl-xs-10{ padding-left: 10px !important; }
	.pl-xs-15{ padding-left: 15px !important; }
	.pl-xs-20{ padding-left: 20px !important; }
	.pl-xs-25{ padding-left: 25px !important; }
	.pl-xs-30{ padding-left: 30px !important; }
	.pl-xs-35{ padding-left: 35px !important; }
	.pl-xs-40{ padding-left: 40px !important; }
	.pl-xs-45{ padding-left: 45px !important; }
	.pl-xs-50{ padding-left: 50px !important; }
	.pl-xs-55{ padding-left: 55px !important; }
	.pl-xs-60{ padding-left: 60px !important; }
	.pl-xs-65{ padding-left: 65px !important; }
	.pl-xs-70{ padding-left: 70px !important; }
	.pl-xs-75{ padding-left: 75px !important; }
	.pl-xs-80{ padding-left: 80px !important; }
	.pl-xs-85{ padding-left: 85px !important; }
	.pl-xs-90{ padding-left: 90px !important; }
	.pl-xs-95{ padding-left: 95px !important; }
	.pl-xs-100{ padding-left: 100px !important; }

	.pr-xs-0{ padding-right: 0 !important; }
	.pr-xs-5{ padding-right: 5px !important; }
	.pr-xs-10{ padding-right: 10px !important; }
	.pr-xs-15{ padding-right: 15px !important; }
	.pr-xs-20{ padding-right: 20px !important; }
	.pr-xs-25{ padding-right: 25px !important; }
	.pr-xs-30{ padding-right: 30px !important; }
	.pr-xs-35{ padding-right: 35px !important; }
	.pr-xs-40{ padding-right: 40px !important; }
	.pr-xs-45{ padding-right: 45px !important; }
	.pr-xs-50{ padding-right: 50px !important; }
	.pr-xs-55{ padding-right: 55px !important; }
	.pr-xs-60{ padding-right: 60px !important; }
	.pr-xs-65{ padding-right: 65px !important; }
	.pr-xs-70{ padding-right: 70px !important; }
	.pr-xs-75{ padding-right: 75px !important; }
	.pr-xs-80{ padding-right: 80px !important; }
	.pr-xs-85{ padding-right: 85px !important; }
	.pr-xs-90{ padding-right: 90px !important; }
	.pr-xs-95{ padding-right: 95px !important; }
	.pr-xs-100{ padding-right: 100px !important; }

	.pb-xs-0{ padding-bottom: 0 !important; }
	.pb-xs-5{ padding-bottom: 5px !important; }
	.pb-xs-10{ padding-bottom: 10px !important; }
	.pb-xs-15{ padding-bottom: 15px !important; }
	.pb-xs-20{ padding-bottom: 20px !important; }
	.pb-xs-25{ padding-bottom: 25px !important; }
	.pb-xs-30{ padding-bottom: 30px !important; }
	.pb-xs-35{ padding-bottom: 35px !important; }
	.pb-xs-40{ padding-bottom: 40px !important; }
	.pb-xs-45{ padding-bottom: 45px !important; }
	.pb-xs-50{ padding-bottom: 50px !important; }
	.pb-xs-55{ padding-bottom: 55px !important; }
	.pb-xs-60{ padding-bottom: 60px !important; }
	.pb-xs-65{ padding-bottom: 65px !important; }
	.pb-xs-70{ padding-bottom: 70px !important; }
	.pb-xs-75{ padding-bottom: 75px !important; }
	.pb-xs-80{ padding-bottom: 80px !important; }
	.pb-xs-85{ padding-bottom: 85px !important; }
	.pb-xs-90{ padding-bottom: 90px !important; }
	.pb-xs-95{ padding-bottom: 95px !important; }
	.pb-xs-100{ padding-bottom: 100px !important; }

	.pt-xs-0{ padding-top: 0 !important; }
	.pt-xs-5{ padding-top: 5px !important; }
	.pt-xs-10{ padding-top: 10px !important; }
	.pt-xs-15{ padding-top: 15px !important; }
	.pt-xs-20{ padding-top: 20px !important; }
	.pt-xs-25{ padding-top: 25px !important; }
	.pt-xs-30{ padding-top: 30px !important; }
	.pt-xs-35{ padding-top: 35px !important; }
	.pt-xs-40{ padding-top: 40px !important; }
	.pt-xs-45{ padding-top: 45px !important; }
	.pt-xs-50{ padding-top: 50px !important; }
	.pt-xs-55{ padding-top: 55px !important; }
	.pt-xs-60{ padding-top: 60px !important; }
	.pt-xs-65{ padding-top: 65px !important; }
	.pt-xs-70{ padding-top: 70px !important; }
	.pt-xs-75{ padding-top: 75px !important; }
	.pt-xs-80{ padding-top: 80px !important; }
	.pt-xs-85{ padding-top: 85px !important; }
	.pt-xs-90{ padding-top: 90px !important; }
	.pt-xs-95{ padding-top: 95px !important; }
	.pt-xs-100{ padding-top: 100px !important; }

	.ml-xs-a{ margin-left: auto !important; }
	.ml-xs-0{ margin-left: 0 !important; }
	.ml-xs-5{ margin-left: 5px !important; }
	.ml-xs-10{ margin-left: 10px !important; }
	.ml-xs-15{ margin-left: 15px !important; }
	.ml-xs-20{ margin-left: 20px !important; }
	.ml-xs-25{ margin-left: 25px !important; }
	.ml-xs-30{ margin-left: 30px !important; }
	.ml-xs-35{ margin-left: 35px !important; }
	.ml-xs-40{ margin-left: 40px !important; }
	.ml-xs-45{ margin-left: 45px !important; }
	.ml-xs-50{ margin-left: 50px !important; }
	.ml-xs-55{ margin-left: 55px !important; }
	.ml-xs-60{ margin-left: 60px !important; }
	.ml-xs-65{ margin-left: 65px !important; }
	.ml-xs-70{ margin-left: 70px !important; }
	.ml-xs-75{ margin-left: 75px !important; }
	.ml-xs-80{ margin-left: 80px !important; }
	.ml-xs-85{ margin-left: 85px !important; }
	.ml-xs-90{ margin-left: 90px !important; }
	.ml-xs-95{ margin-left: 95px !important; }
	.ml-xs-100{ margin-left: 100px !important; }

	.mr-xs-a{ margin-right: auto !important; }
	.mr-xs-0{ margin-right: 0 !important; }
	.mr-xs-5{ margin-right: 5px !important; }
	.mr-xs-10{ margin-right: 10px !important; }
	.mr-xs-15{ margin-right: 15px !important; }
	.mr-xs-20{ margin-right: 20px !important; }
	.mr-xs-25{ margin-right: 25px !important; }
	.mr-xs-30{ margin-right: 30px !important; }
	.mr-xs-35{ margin-right: 35px !important; }
	.mr-xs-40{ margin-right: 40px !important; }
	.mr-xs-45{ margin-right: 45px !important; }
	.mr-xs-50{ margin-right: 50px !important; }
	.mr-xs-55{ margin-right: 55px !important; }
	.mr-xs-60{ margin-right: 60px !important; }
	.mr-xs-65{ margin-right: 65px !important; }
	.mr-xs-70{ margin-right: 70px !important; }
	.mr-xs-75{ margin-right: 75px !important; }
	.mr-xs-80{ margin-right: 80px !important; }
	.mr-xs-85{ margin-right: 85px !important; }
	.mr-xs-90{ margin-right: 90px !important; }
	.mr-xs-95{ margin-right: 95px !important; }
	.mr-xs-100{ margin-right: 100px !important; }

	.mb-xs-0{ margin-bottom: 0 !important; }
	.mb-xs-5{ margin-bottom: 5px !important; }
	.mb-xs-10{ margin-bottom: 10px !important; }
	.mb-xs-15{ margin-bottom: 15px !important; }
	.mb-xs-20{ margin-bottom: 20px !important; }
	.mb-xs-25{ margin-bottom: 25px !important; }
	.mb-xs-30{ margin-bottom: 30px !important; }
	.mb-xs-35{ margin-bottom: 35px !important; }
	.mb-xs-40{ margin-bottom: 40px !important; }
	.mb-xs-45{ margin-bottom: 45px !important; }
	.mb-xs-50{ margin-bottom: 50px !important; }
	.mb-xs-55{ margin-bottom: 55px !important; }
	.mb-xs-60{ margin-bottom: 60px !important; }
	.mb-xs-65{ margin-bottom: 65px !important; }
	.mb-xs-70{ margin-bottom: 70px !important; }
	.mb-xs-75{ margin-bottom: 75px !important; }
	.mb-xs-80{ margin-bottom: 80px !important; }
	.mb-xs-85{ margin-bottom: 85px !important; }
	.mb-xs-90{ margin-bottom: 90px !important; }
	.mb-xs-95{ margin-bottom: 95px !important; }
	.mb-xs-100{ margin-bottom: 100px !important; }

	.mt-xs-0{ margin-top: 0 !important; }
	.mt-xs-5{ margin-top: 5px !important; }
	.mt-xs-10{ margin-top: 10px !important; }
	.mt-xs-15{ margin-top: 15px !important; }
	.mt-xs-20{ margin-top: 20px !important; }
	.mt-xs-25{ margin-top: 25px !important; }
	.mt-xs-30{ margin-top: 30px !important; }
	.mt-xs-35{ margin-top: 35px !important; }
	.mt-xs-40{ margin-top: 40px !important; }
	.mt-xs-45{ margin-top: 45px !important; }
	.mt-xs-50{ margin-top: 50px !important; }
	.mt-xs-55{ margin-top: 55px !important; }
	.mt-xs-60{ margin-top: 60px !important; }
	.mt-xs-65{ margin-top: 65px !important; }
	.mt-xs-70{ margin-top: 70px !important; }
	.mt-xs-75{ margin-top: 75px !important; }
	.mt-xs-80{ margin-top: 80px !important; }
	.mt-xs-85{ margin-top: 85px !important; }
	.mt-xs-90{ margin-top: 90px !important; }
	.mt-xs-95{ margin-top: 95px !important; }
	.mt-xs-100{ margin-top: 100px !important; }

	.valign-xs-top{ vertical-align: top !important; }
	.valign-xs-middle{ vertical-align: middle !important; }
	.valign-xs-bottom{ vertical-align: bottom !important; }

	.col-xs-1 { -webkit-box-flex: 0; -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
	.col-xs-2 {-webkit-box-flex: 0;	-ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%;}
	.col-xs-3 {-webkit-box-flex: 0;-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
	.col-xs-4 {-webkit-box-flex: 0;-ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%;}
	.col-xs-5 {-webkit-box-flex: 0; -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%;}
	.col-xs-6 {-webkit-box-flex: 0; -ms-flex: 0 0 50%;	flex: 0 0 50%;	max-width: 50%;}
	.col-xs-7 {-webkit-box-flex: 0; -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%;}
	.col-xs-8 {-webkit-box-flex: 0; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%;}
	.col-xs-9 {-webkit-box-flex: 0; -ms-flex: 0 0 75%;	flex: 0 0 75%;	max-width: 75%;}
	.col-xs-10 {-webkit-box-flex: 0; -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%;}
	.col-xs-11 {-webkit-box-flex: 0; -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%;}
	.col-xs-12 {-webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}

  
	.col-xs-4p{ -ms-flex: 0 0 4%; flex: 0 0 4%; max-width: 4% }
	.col-xs-5p{ -ms-flex: 0 0 5%; flex: 0 0 5%; max-width: 5%  }
	.col-xs-6p{ -ms-flex: 0 0 6%; flex: 0 0 6%; max-width: 6%  }
	.col-xs-7p{ -ms-flex: 0 0 7%; flex: 0 0 7%; max-width: 7%  }
	.col-xs-8p{ -ms-flex: 0 0 8%; flex: 0 0 8%; max-width: 8%  }
	.col-xs-9p{ -ms-flex: 0 0 9%; flex: 0 0 9%; max-width: 9%  }
	.col-xs-10p{ -ms-flex: 0 0 10%; flex: 0 0 10%; max-width: 10%  }
	.col-xs-11p{ -ms-flex: 0 0 11%; flex: 0 0 11%; max-width: 11%  }
	.col-xs-12p{ -ms-flex: 0 0 12%; flex: 0 0 12%; max-width: 12%  }
	.col-xs-13p{ -ms-flex: 0 0 13%; flex: 0 0 13%; max-width: 13%  }
	.col-xs-14p{ -ms-flex: 0 0 14%; flex: 0 0 14%; max-width: 14%  }
	.col-xs-15p{ -ms-flex: 0 0 15%; flex: 0 0 15%; max-width: 15%  }
	.col-xs-16p{ -ms-flex: 0 0 16%; flex: 0 0 16%; max-width: 16%  }
	.col-xs-17p{ -ms-flex: 0 0 17%; flex: 0 0 17%; max-width: 17%  }
	.col-xs-18p{ -ms-flex: 0 0 18%; flex: 0 0 18%; max-width: 18%  }
	.col-xs-19p{ -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%  }
	.col-xs-20p{ -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%  }
	.col-xs-25p{ -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%  }
	.col-xs-30p{ -ms-flex: 0 0 30%; flex: 0 0 30%; max-width: 30%  }
	.col-xs-35p{ -ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%  }
	.col-xs-40p{ -ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%  }
	.col-xs-45p{ -ms-flex: 0 0 45%; flex: 0 0 45%; max-width: 45%  }
	.col-xs-50p{ -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%  }
	.col-xs-55p{ -ms-flex: 0 0 55%; flex: 0 0 55%; max-width: 55%  }
	.col-xs-60p{ -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%  }
	.col-xs-65p{ -ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%  }
	.col-xs-70p{ -ms-flex: 0 0 70%; flex: 0 0 70%; max-width: 70%  }
	.col-xs-75p{ -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%  }
	.col-xs-80p{ -ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%  }
	.col-xs-85p{ -ms-flex: 0 0 85%; flex: 0 0 85%; max-width: 85%  }
	.col-xs-90p{ -ms-flex: 0 0 90%; flex: 0 0 90%; max-width: 90%  }
	.col-xs-95p{ -ms-flex: 0 0 95%; flex: 0 0 95%; max-width: 95%  }
	.col-xs-100p{ -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%  }

	.ar-xs-5{ padding-top: 5%; position: relative; }
	.ar-xs-10{ padding-top: 10%; position: relative; }
	.ar-xs-15{ padding-top: 15%; position: relative; }
	.ar-xs-20{ padding-top: 20%; position: relative; }
	.ar-xs-25{ padding-top: 25%; position: relative; }
	.ar-xs-30{ padding-top: 30%; position: relative; }
	.ar-xs-35{ padding-top: 35%; position: relative; }
	.ar-xs-40{ padding-top: 40%; position: relative; }
	.ar-xs-45{ padding-top: 45%; position: relative; }
	.ar-xs-50{ padding-top: 50%; position: relative; }
	.ar-xs-55{ padding-top: 55%; position: relative; }
	.ar-xs-60{ padding-top: 60%; position: relative; }
	.ar-xs-65{ padding-top: 65%; position: relative; }
	.ar-xs-70{ padding-top: 70%; position: relative; }
	.ar-xs-75{ padding-top: 75%; position: relative; }
	.ar-xs-80{ padding-top: 80%; position: relative; }
	.ar-xs-85{ padding-top: 85%; position: relative; }
	.ar-xs-90{ padding-top: 90%; position: relative; }
	.ar-xs-95{ padding-top: 95%; position: relative; }
	.ar-xs-100{ padding-top: 100%; position: relative; }
	.ar-xs-105{ padding-top: 105%; position: relative; }
	.ar-xs-110{ padding-top: 110%; position: relative; }
	.ar-xs-115{ padding-top: 115%; position: relative; }
	.ar-xs-120{ padding-top: 120%; position: relative; }
	.ar-xs-125{ padding-top: 125%; position: relative; }
	.ar-xs-130{ padding-top: 130%; position: relative; }
	.ar-xs-135{ padding-top: 135%; position: relative; }
	.ar-xs-140{ padding-top: 140%; position: relative; }
	.ar-xs-145{ padding-top: 145%; position: relative; }
	.ar-xs-150{ padding-top: 150%; position: relative; }
	.ar-xs-155{ padding-top: 155%; position: relative; }
	.ar-xs-160{ padding-top: 160%; position: relative; }
	.ar-xs-165{ padding-top: 165%; position: relative; }
	.ar-xs-170{ padding-top: 170%; position: relative; }
	.ar-xs-175{ padding-top: 175%; position: relative; }
	.ar-xs-180{ padding-top: 180%; position: relative; }
	.ar-xs-185{ padding-top: 185%; position: relative; }
	.ar-xs-190{ padding-top: 190%; position: relative; }
	.ar-xs-195{ padding-top: 195%; position: relative; }
	.ar-xs-200{ padding-top: 200%; position: relative; }
}

@media (min-width: 576px) {

	.dropdown-xs{ 
		.dropdown-menu{ position: static !important; display: block !important; float: none; transform: none !important; }
	}

    .gutter-sm-5{ margin: 0 0 0 -5px;
        > .col,
        > [class*="col-"]{
            padding-left: 5px;
        }
    }
    .gutter-sm-10{ margin: 0 0 0 -10px;
        > .col,
        > [class*="col-"]{
            padding-left: 10px;
        }
    }
    .gutter-sm-15{ margin: 0 0 0 -15px;
        > .col,
        > [class*="col-"]{
            padding-left: 15px;
        }
    }
    .gutter-sm-20{ margin: 0 0 0 -20px;
        > .col,
        > [class*="col-"]{
            padding-left: 20px;
        }
    }
    .gutter-sm-25{ margin: 0 0 0 -25px;
        > .col,
        > [class*="col-"]{
            padding-left: 25px;
        }
    }
    .gutter-sm-30{ margin: 0 0 0 -30px;
        > .col,
        > [class*="col-"]{
            padding-left: 30px;
        }
    }
    .gutter-sm-35{ margin: 0 0 0 -35px;
        > .col,
        > [class*="col-"]{
            padding-left: 35px;
        }
    }
    .gutter-sm-40{ margin: 0 0 0 -40px;
        > .col,
        > [class*="col-"]{
            padding-left: 40px;
        }
    }
    .gutter-sm-45{ margin: 0 0 0 -45px;
        > .col,
        > [class*="col-"]{
            padding-left: 45px;
        }
    }
    .gutter-sm-50{ margin: 0 0 0 -50px;
        > .col,
        > [class*="col-"]{
            padding-left: 50px;
        }
    } 

	.relative-sm{ position: relative !important; }
	.absolute-sm{ position: absolute !important; }
	.static-sm{ position: static !important; }

	.fz-sm-20{ font-size: 20px !important; }
	.fz-sm-18{ font-size: 18px !important; }
	.fz-sm-16{ font-size: 16px !important; }
	.fz-sm-15{ font-size: 15px !important; }
	.fz-sm-14{ font-size: 14px !important; }
	.fz-sm-13{ font-size: 13px !important; }
	.fz-sm-12{ font-size: 12px !important; }

	.pl-sm-0{ padding-left: 0 !important; }
	.pl-sm-5{ padding-left: 5px !important; }
	.pl-sm-10{ padding-left: 10px !important; }
	.pl-sm-15{ padding-left: 15px !important; }
	.pl-sm-20{ padding-left: 20px !important; }
	.pl-sm-25{ padding-left: 25px !important; }
	.pl-sm-30{ padding-left: 30px !important; }
	.pl-sm-35{ padding-left: 35px !important; }
	.pl-sm-40{ padding-left: 40px !important; }
	.pl-sm-45{ padding-left: 45px !important; }
	.pl-sm-50{ padding-left: 50px !important; }
	.pl-sm-55{ padding-left: 55px !important; }
	.pl-sm-60{ padding-left: 60px !important; }
	.pl-sm-65{ padding-left: 65px !important; }
	.pl-sm-70{ padding-left: 70px !important; }
	.pl-sm-75{ padding-left: 75px !important; }
	.pl-sm-80{ padding-left: 80px !important; }
	.pl-sm-85{ padding-left: 85px !important; }
	.pl-sm-90{ padding-left: 90px !important; }
	.pl-sm-95{ padding-left: 95px !important; }
	.pl-sm-100{ padding-left: 100px !important; }

	.pr-sm-0{ padding-right: 0 !important; }
	.pr-sm-5{ padding-right: 5px !important; }
	.pr-sm-10{ padding-right: 10px !important; }
	.pr-sm-15{ padding-right: 15px !important; }
	.pr-sm-20{ padding-right: 20px !important; }
	.pr-sm-25{ padding-right: 25px !important; }
	.pr-sm-30{ padding-right: 30px !important; }
	.pr-sm-35{ padding-right: 35px !important; }
	.pr-sm-40{ padding-right: 40px !important; }
	.pr-sm-45{ padding-right: 45px !important; }
	.pr-sm-50{ padding-right: 50px !important; }
	.pr-sm-55{ padding-right: 55px !important; }
	.pr-sm-60{ padding-right: 60px !important; }
	.pr-sm-65{ padding-right: 65px !important; }
	.pr-sm-70{ padding-right: 70px !important; }
	.pr-sm-75{ padding-right: 75px !important; }
	.pr-sm-80{ padding-right: 80px !important; }
	.pr-sm-85{ padding-right: 85px !important; }
	.pr-sm-90{ padding-right: 90px !important; }
	.pr-sm-95{ padding-right: 95px !important; }
	.pr-sm-100{ padding-right: 100px !important; }

	.pb-sm-0{ padding-bottom: 0 !important; }
	.pb-sm-5{ padding-bottom: 5px !important; }
	.pb-sm-10{ padding-bottom: 10px !important; }
	.pb-sm-15{ padding-bottom: 15px !important; }
	.pb-sm-20{ padding-bottom: 20px !important; }
	.pb-sm-25{ padding-bottom: 25px !important; }
	.pb-sm-30{ padding-bottom: 30px !important; }
	.pb-sm-35{ padding-bottom: 35px !important; }
	.pb-sm-40{ padding-bottom: 40px !important; }
	.pb-sm-45{ padding-bottom: 45px !important; }
	.pb-sm-50{ padding-bottom: 50px !important; }
	.pb-sm-55{ padding-bottom: 55px !important; }
	.pb-sm-60{ padding-bottom: 60px !important; }
	.pb-sm-65{ padding-bottom: 65px !important; }
	.pb-sm-70{ padding-bottom: 70px !important; }
	.pb-sm-75{ padding-bottom: 75px !important; }
	.pb-sm-80{ padding-bottom: 80px !important; }
	.pb-sm-85{ padding-bottom: 85px !important; }
	.pb-sm-90{ padding-bottom: 90px !important; }
	.pb-sm-95{ padding-bottom: 95px !important; }
	.pb-sm-100{ padding-bottom: 100px !important; }

	.pt-sm-0{ padding-top: 0 !important; }
	.pt-sm-5{ padding-top: 5px !important; }
	.pt-sm-10{ padding-top: 10px !important; }
	.pt-sm-15{ padding-top: 15px !important; }
	.pt-sm-20{ padding-top: 20px !important; }
	.pt-sm-25{ padding-top: 25px !important; }
	.pt-sm-30{ padding-top: 30px !important; }
	.pt-sm-35{ padding-top: 35px !important; }
	.pt-sm-40{ padding-top: 40px !important; }
	.pt-sm-45{ padding-top: 45px !important; }
	.pt-sm-50{ padding-top: 50px !important; }
	.pt-sm-55{ padding-top: 55px !important; }
	.pt-sm-60{ padding-top: 60px !important; }
	.pt-sm-65{ padding-top: 65px !important; }
	.pt-sm-70{ padding-top: 70px !important; }
	.pt-sm-75{ padding-top: 75px !important; }
	.pt-sm-80{ padding-top: 80px !important; }
	.pt-sm-85{ padding-top: 85px !important; }
	.pt-sm-90{ padding-top: 90px !important; }
	.pt-sm-95{ padding-top: 95px !important; }
	.pt-sm-100{ padding-top: 100px !important; }

	.ml-sm-a{ margin-left: auto !important; }
	.ml-sm-0{ margin-left: 0 !important; }
	.ml-sm-5{ margin-left: 5px !important; }
	.ml-sm-10{ margin-left: 10px !important; }
	.ml-sm-15{ margin-left: 15px !important; }
	.ml-sm-20{ margin-left: 20px !important; }
	.ml-sm-25{ margin-left: 25px !important; }
	.ml-sm-30{ margin-left: 30px !important; }
	.ml-sm-35{ margin-left: 35px !important; }
	.ml-sm-40{ margin-left: 40px !important; }
	.ml-sm-45{ margin-left: 45px !important; }
	.ml-sm-50{ margin-left: 50px !important; }
	.ml-sm-55{ margin-left: 55px !important; }
	.ml-sm-60{ margin-left: 60px !important; }
	.ml-sm-65{ margin-left: 65px !important; }
	.ml-sm-70{ margin-left: 70px !important; }
	.ml-sm-75{ margin-left: 75px !important; }
	.ml-sm-80{ margin-left: 80px !important; }
	.ml-sm-85{ margin-left: 85px !important; }
	.ml-sm-90{ margin-left: 90px !important; }
	.ml-sm-95{ margin-left: 95px !important; }
	.ml-sm-100{ margin-left: 100px !important; }

	.mr-sm-a{ margin-right: auto !important; }
	.mr-sm-0{ margin-right: 0 !important; }
	.mr-sm-5{ margin-right: 5px !important; }
	.mr-sm-10{ margin-right: 10px !important; }
	.mr-sm-15{ margin-right: 15px !important; }
	.mr-sm-20{ margin-right: 20px !important; }
	.mr-sm-25{ margin-right: 25px !important; }
	.mr-sm-30{ margin-right: 30px !important; }
	.mr-sm-35{ margin-right: 35px !important; }
	.mr-sm-40{ margin-right: 40px !important; }
	.mr-sm-45{ margin-right: 45px !important; }
	.mr-sm-50{ margin-right: 50px !important; }
	.mr-sm-55{ margin-right: 55px !important; }
	.mr-sm-60{ margin-right: 60px !important; }
	.mr-sm-65{ margin-right: 65px !important; }
	.mr-sm-70{ margin-right: 70px !important; }
	.mr-sm-75{ margin-right: 75px !important; }
	.mr-sm-80{ margin-right: 80px !important; }
	.mr-sm-85{ margin-right: 85px !important; }
	.mr-sm-90{ margin-right: 90px !important; }
	.mr-sm-95{ margin-right: 95px !important; }
	.mr-sm-100{ margin-right: 100px !important; }

	.mb-sm-0{ margin-bottom: 0 !important; }
	.mb-sm-5{ margin-bottom: 5px !important; }
	.mb-sm-10{ margin-bottom: 10px !important; }
	.mb-sm-15{ margin-bottom: 15px !important; }
	.mb-sm-20{ margin-bottom: 20px !important; }
	.mb-sm-25{ margin-bottom: 25px !important; }
	.mb-sm-30{ margin-bottom: 30px !important; }
	.mb-sm-35{ margin-bottom: 35px !important; }
	.mb-sm-40{ margin-bottom: 40px !important; }
	.mb-sm-45{ margin-bottom: 45px !important; }
	.mb-sm-50{ margin-bottom: 50px !important; }
	.mb-sm-55{ margin-bottom: 55px !important; }
	.mb-sm-60{ margin-bottom: 60px !important; }
	.mb-sm-65{ margin-bottom: 65px !important; }
	.mb-sm-70{ margin-bottom: 70px !important; }
	.mb-sm-75{ margin-bottom: 75px !important; }
	.mb-sm-80{ margin-bottom: 80px !important; }
	.mb-sm-85{ margin-bottom: 85px !important; }
	.mb-sm-90{ margin-bottom: 90px !important; }
	.mb-sm-95{ margin-bottom: 95px !important; }
	.mb-sm-100{ margin-bottom: 100px !important; }

	.mt-sm-0{ margin-top: 0 !important; }
	.mt-sm-5{ margin-top: 5px !important; }
	.mt-sm-10{ margin-top: 10px !important; }
	.mt-sm-15{ margin-top: 15px !important; }
	.mt-sm-20{ margin-top: 20px !important; }
	.mt-sm-25{ margin-top: 25px !important; }
	.mt-sm-30{ margin-top: 30px !important; }
	.mt-sm-35{ margin-top: 35px !important; }
	.mt-sm-40{ margin-top: 40px !important; }
	.mt-sm-45{ margin-top: 45px !important; }
	.mt-sm-50{ margin-top: 50px !important; }
	.mt-sm-55{ margin-top: 55px !important; }
	.mt-sm-60{ margin-top: 60px !important; }
	.mt-sm-65{ margin-top: 65px !important; }
	.mt-sm-70{ margin-top: 70px !important; }
	.mt-sm-75{ margin-top: 75px !important; }
	.mt-sm-80{ margin-top: 80px !important; }
	.mt-sm-85{ margin-top: 85px !important; }
	.mt-sm-90{ margin-top: 90px !important; }
	.mt-sm-95{ margin-top: 95px !important; }
	.mt-sm-100{ margin-top: 100px !important; }

	.valign-sm-top{ vertical-align: top !important; }
	.valign-sm-middle{ vertical-align: middle !important; }
	.valign-sm-bottom{ vertical-align: bottom !important; }

	.col-sm-4p{ -ms-flex: 0 0 4%; flex: 0 0 4%; max-width: 4% }
	.col-sm-5p{ -ms-flex: 0 0 5%; flex: 0 0 5%; max-width: 5%  }
	.col-sm-6p{ -ms-flex: 0 0 6%; flex: 0 0 6%; max-width: 6%  }
	.col-sm-7p{ -ms-flex: 0 0 7%; flex: 0 0 7%; max-width: 7%  }
	.col-sm-8p{ -ms-flex: 0 0 8%; flex: 0 0 8%; max-width: 8%  }
	.col-sm-9p{ -ms-flex: 0 0 9%; flex: 0 0 9%; max-width: 9%  }
	.col-sm-10p{ -ms-flex: 0 0 10%; flex: 0 0 10%; max-width: 10%  }
	.col-sm-11p{ -ms-flex: 0 0 11%; flex: 0 0 11%; max-width: 11%  }
	.col-sm-12p{ -ms-flex: 0 0 12%; flex: 0 0 12%; max-width: 12%  }
	.col-sm-13p{ -ms-flex: 0 0 13%; flex: 0 0 13%; max-width: 13%  }
	.col-sm-14p{ -ms-flex: 0 0 14%; flex: 0 0 14%; max-width: 14%  }
	.col-sm-15p{ -ms-flex: 0 0 15%; flex: 0 0 15%; max-width: 15%  }
	.col-sm-16p{ -ms-flex: 0 0 16%; flex: 0 0 16%; max-width: 16%  }
	.col-sm-17p{ -ms-flex: 0 0 17%; flex: 0 0 17%; max-width: 17%  }
	.col-sm-18p{ -ms-flex: 0 0 18%; flex: 0 0 18%; max-width: 18%  }
	.col-sm-19p{ -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%  }
	.col-sm-20p{ -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%  }
	.col-sm-25p{ -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%  }
	.col-sm-30p{ -ms-flex: 0 0 30%; flex: 0 0 30%; max-width: 30%  }
	.col-sm-35p{ -ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%  }
	.col-sm-40p{ -ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%  }
	.col-sm-45p{ -ms-flex: 0 0 45%; flex: 0 0 45%; max-width: 45%  }
	.col-sm-50p{ -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%  }
	.col-sm-55p{ -ms-flex: 0 0 55%; flex: 0 0 55%; max-width: 55%  }
	.col-sm-60p{ -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%  }
	.col-sm-65p{ -ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%  }
	.col-sm-70p{ -ms-flex: 0 0 70%; flex: 0 0 70%; max-width: 70%  }
	.col-sm-75p{ -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%  }
	.col-sm-80p{ -ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%  }
	.col-sm-85p{ -ms-flex: 0 0 85%; flex: 0 0 85%; max-width: 85%  }
	.col-sm-90p{ -ms-flex: 0 0 90%; flex: 0 0 90%; max-width: 90%  }
	.col-sm-95p{ -ms-flex: 0 0 95%; flex: 0 0 95%; max-width: 95%  }
	.col-sm-100p{ -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%  }

	.ar-sm-5{ padding-top: 5%; position: relative; }
	.ar-sm-10{ padding-top: 10%; position: relative; }
	.ar-sm-15{ padding-top: 15%; position: relative; }
	.ar-sm-20{ padding-top: 20%; position: relative; }
	.ar-sm-25{ padding-top: 25%; position: relative; }
	.ar-sm-30{ padding-top: 30%; position: relative; }
	.ar-sm-35{ padding-top: 35%; position: relative; }
	.ar-sm-40{ padding-top: 40%; position: relative; }
	.ar-sm-45{ padding-top: 45%; position: relative; }
	.ar-sm-50{ padding-top: 50%; position: relative; }
	.ar-sm-55{ padding-top: 55%; position: relative; }
	.ar-sm-60{ padding-top: 60%; position: relative; }
	.ar-sm-65{ padding-top: 65%; position: relative; }
	.ar-sm-70{ padding-top: 70%; position: relative; }
	.ar-sm-75{ padding-top: 75%; position: relative; }
	.ar-sm-80{ padding-top: 80%; position: relative; }
	.ar-sm-85{ padding-top: 85%; position: relative; }
	.ar-sm-90{ padding-top: 90%; position: relative; }
	.ar-sm-95{ padding-top: 95%; position: relative; }
	.ar-sm-100{ padding-top: 100%; position: relative; }
	.ar-sm-105{ padding-top: 105%; position: relative; }
	.ar-sm-110{ padding-top: 110%; position: relative; }
	.ar-sm-115{ padding-top: 115%; position: relative; }
	.ar-sm-120{ padding-top: 120%; position: relative; }
	.ar-sm-125{ padding-top: 125%; position: relative; }
	.ar-sm-130{ padding-top: 130%; position: relative; }
	.ar-sm-135{ padding-top: 135%; position: relative; }
	.ar-sm-140{ padding-top: 140%; position: relative; }
	.ar-sm-145{ padding-top: 145%; position: relative; }
	.ar-sm-150{ padding-top: 150%; position: relative; }
	.ar-sm-155{ padding-top: 155%; position: relative; }
	.ar-sm-160{ padding-top: 160%; position: relative; }
	.ar-sm-165{ padding-top: 165%; position: relative; }
	.ar-sm-170{ padding-top: 170%; position: relative; }
	.ar-sm-175{ padding-top: 175%; position: relative; }
	.ar-sm-180{ padding-top: 180%; position: relative; }
	.ar-sm-185{ padding-top: 185%; position: relative; }
	.ar-sm-190{ padding-top: 190%; position: relative; }
	.ar-sm-195{ padding-top: 195%; position: relative; }
	.ar-sm-200{ padding-top: 200%; position: relative; }
}

@media (min-width: 768px) { 

	.dropdown-md{ 
		.dropdown-menu{ position: static !important; display: block !important; float: none; transform: none !important; }
	}

    .gutter-md-5{ margin: 0 0 0 -5px;
        > .col,
        > [class*="col-"]{
            padding-left: 5px;
        }
    }
    .gutter-md-10{ margin: 0 0 0 -10px;
        > .col,
        > [class*="col-"]{
            padding-left: 10px;
        }
    }
    .gutter-md-15{ margin: 0 0 0 -15px;
        > .col,
        > [class*="col-"]{
            padding-left: 15px;
        }
    }
    .gutter-md-20{ margin: 0 0 0 -20px;
        > .col,
        > [class*="col-"]{
            padding-left: 20px;
        }
    }
    .gutter-md-25{ margin: 0 0 0 -25px;
        > .col,
        > [class*="col-"]{
            padding-left: 25px;
        }
    }
    .gutter-md-30{ margin: 0 0 0 -30px;
        > .col,
        > [class*="col-"]{
            padding-left: 30px;
        }
    }
    .gutter-md-35{ margin: 0 0 0 -35px;
        > .col,
        > [class*="col-"]{
            padding-left: 35px;
        }
    }
    .gutter-md-40{ margin: 0 0 0 -40px;
        > .col,
        > [class*="col-"]{
            padding-left: 40px;
        }
    }
    .gutter-md-45{ margin: 0 0 0 -45px;
        > .col,
        > [class*="col-"]{
            padding-left: 45px;
        }
    }
    .gutter-md-50{ margin: 0 0 0 -50px;
        > .col,
        > [class*="col-"]{
            padding-left: 50px;
        }
    }

	.relative-md{ position: relative !important; }
	.absolute-md{ position: absolute !important; }
	.static-md{ position: static !important; }

	.fz-md-20{ font-size: 20px !important; }
	.fz-md-18{ font-size: 18px !important; }
	.fz-md-16{ font-size: 16px !important; }
	.fz-md-15{ font-size: 15px !important; }
	.fz-md-14{ font-size: 14px !important; }
	.fz-md-13{ font-size: 13px !important; }
	.fz-md-12{ font-size: 12px !important; }

	.pl-md-0{ padding-left: 0 !important; }
	.pl-md-5{ padding-left: 5px !important; }
	.pl-md-10{ padding-left: 10px !important; }
	.pl-md-15{ padding-left: 15px !important; }
	.pl-md-20{ padding-left: 20px !important; }
	.pl-md-25{ padding-left: 25px !important; }
	.pl-md-30{ padding-left: 30px !important; }
	.pl-md-35{ padding-left: 35px !important; }
	.pl-md-40{ padding-left: 40px !important; }
	.pl-md-45{ padding-left: 45px !important; }
	.pl-md-50{ padding-left: 50px !important; }
	.pl-md-55{ padding-left: 55px !important; }
	.pl-md-60{ padding-left: 60px !important; }
	.pl-md-65{ padding-left: 65px !important; }
	.pl-md-70{ padding-left: 70px !important; }
	.pl-md-75{ padding-left: 75px !important; }
	.pl-md-80{ padding-left: 80px !important; }
	.pl-md-85{ padding-left: 85px !important; }
	.pl-md-90{ padding-left: 90px !important; }
	.pl-md-95{ padding-left: 95px !important; }
	.pl-md-100{ padding-left: 100px !important; }

	.pr-md-0{ padding-right: 0 !important; }
	.pr-md-5{ padding-right: 5px !important; }
	.pr-md-10{ padding-right: 10px !important; }
	.pr-md-15{ padding-right: 15px !important; }
	.pr-md-20{ padding-right: 20px !important; }
	.pr-md-25{ padding-right: 25px !important; }
	.pr-md-30{ padding-right: 30px !important; }
	.pr-md-35{ padding-right: 35px !important; }
	.pr-md-40{ padding-right: 40px !important; }
	.pr-md-45{ padding-right: 45px !important; }
	.pr-md-50{ padding-right: 50px !important; }
	.pr-md-55{ padding-right: 55px !important; }
	.pr-md-60{ padding-right: 60px !important; }
	.pr-md-65{ padding-right: 65px !important; }
	.pr-md-70{ padding-right: 70px !important; }
	.pr-md-75{ padding-right: 75px !important; }
	.pr-md-80{ padding-right: 80px !important; }
	.pr-md-85{ padding-right: 85px !important; }
	.pr-md-90{ padding-right: 90px !important; }
	.pr-md-95{ padding-right: 95px !important; }
	.pr-md-100{ padding-right: 100px !important; }

	.pb-md-0{ padding-bottom: 0 !important; }
	.pb-md-5{ padding-bottom: 5px !important; }
	.pb-md-10{ padding-bottom: 10px !important; }
	.pb-md-15{ padding-bottom: 15px !important; }
	.pb-md-20{ padding-bottom: 20px !important; }
	.pb-md-25{ padding-bottom: 25px !important; }
	.pb-md-30{ padding-bottom: 30px !important; }
	.pb-md-35{ padding-bottom: 35px !important; }
	.pb-md-40{ padding-bottom: 40px !important; }
	.pb-md-45{ padding-bottom: 45px !important; }
	.pb-md-50{ padding-bottom: 50px !important; }
	.pb-md-55{ padding-bottom: 55px !important; }
	.pb-md-60{ padding-bottom: 60px !important; }
	.pb-md-65{ padding-bottom: 65px !important; }
	.pb-md-70{ padding-bottom: 70px !important; }
	.pb-md-75{ padding-bottom: 75px !important; }
	.pb-md-80{ padding-bottom: 80px !important; }
	.pb-md-85{ padding-bottom: 85px !important; }
	.pb-md-90{ padding-bottom: 90px !important; }
	.pb-md-95{ padding-bottom: 95px !important; }
	.pb-md-100{ padding-bottom: 100px !important; }

	.pt-md-0{ padding-top: 0 !important; }
	.pt-md-5{ padding-top: 5px !important; }
	.pt-md-10{ padding-top: 10px !important; }
	.pt-md-15{ padding-top: 15px !important; }
	.pt-md-20{ padding-top: 20px !important; }
	.pt-md-25{ padding-top: 25px !important; }
	.pt-md-30{ padding-top: 30px !important; }
	.pt-md-35{ padding-top: 35px !important; }
	.pt-md-40{ padding-top: 40px !important; }
	.pt-md-45{ padding-top: 45px !important; }
	.pt-md-50{ padding-top: 50px !important; }
	.pt-md-55{ padding-top: 55px !important; }
	.pt-md-60{ padding-top: 60px !important; }
	.pt-md-65{ padding-top: 65px !important; }
	.pt-md-70{ padding-top: 70px !important; }
	.pt-md-75{ padding-top: 75px !important; }
	.pt-md-80{ padding-top: 80px !important; }
	.pt-md-85{ padding-top: 85px !important; }
	.pt-md-90{ padding-top: 90px !important; }
	.pt-md-95{ padding-top: 95px !important; }
	.pt-md-100{ padding-top: 100px !important; }

	.ml-md-a{ margin-left: auto !important; }
	.ml-md-0{ margin-left: 0 !important; }
	.ml-md-5{ margin-left: 5px !important; }
	.ml-md-10{ margin-left: 10px !important; }
	.ml-md-15{ margin-left: 15px !important; }
	.ml-md-20{ margin-left: 20px !important; }
	.ml-md-25{ margin-left: 25px !important; }
	.ml-md-30{ margin-left: 30px !important; }
	.ml-md-35{ margin-left: 35px !important; }
	.ml-md-40{ margin-left: 40px !important; }
	.ml-md-45{ margin-left: 45px !important; }
	.ml-md-50{ margin-left: 50px !important; }
	.ml-md-55{ margin-left: 55px !important; }
	.ml-md-60{ margin-left: 60px !important; }
	.ml-md-65{ margin-left: 65px !important; }
	.ml-md-70{ margin-left: 70px !important; }
	.ml-md-75{ margin-left: 75px !important; }
	.ml-md-80{ margin-left: 80px !important; }
	.ml-md-85{ margin-left: 85px !important; }
	.ml-md-90{ margin-left: 90px !important; }
	.ml-md-95{ margin-left: 95px !important; }
	.ml-md-100{ margin-left: 100px !important; }

	.mr-md-a{ margin-right: auto !important; }
	.mr-md-0{ margin-right: 0 !important; }
	.mr-md-5{ margin-right: 5px !important; }
	.mr-md-10{ margin-right: 10px !important; }
	.mr-md-15{ margin-right: 15px !important; }
	.mr-md-20{ margin-right: 20px !important; }
	.mr-md-25{ margin-right: 25px !important; }
	.mr-md-30{ margin-right: 30px !important; }
	.mr-md-35{ margin-right: 35px !important; }
	.mr-md-40{ margin-right: 40px !important; }
	.mr-md-45{ margin-right: 45px !important; }
	.mr-md-50{ margin-right: 50px !important; }
	.mr-md-55{ margin-right: 55px !important; }
	.mr-md-60{ margin-right: 60px !important; }
	.mr-md-65{ margin-right: 65px !important; }
	.mr-md-70{ margin-right: 70px !important; }
	.mr-md-75{ margin-right: 75px !important; }
	.mr-md-80{ margin-right: 80px !important; }
	.mr-md-85{ margin-right: 85px !important; }
	.mr-md-90{ margin-right: 90px !important; }
	.mr-md-95{ margin-right: 95px !important; }
	.mr-md-100{ margin-right: 100px !important; }

	.mb-md-0{ margin-bottom: 0 !important; }
	.mb-md-5{ margin-bottom: 5px !important; }
	.mb-md-10{ margin-bottom: 10px !important; }
	.mb-md-15{ margin-bottom: 15px !important; }
	.mb-md-20{ margin-bottom: 20px !important; }
	.mb-md-25{ margin-bottom: 25px !important; }
	.mb-md-30{ margin-bottom: 30px !important; }
	.mb-md-35{ margin-bottom: 35px !important; }
	.mb-md-40{ margin-bottom: 40px !important; }
	.mb-md-45{ margin-bottom: 45px !important; }
	.mb-md-50{ margin-bottom: 50px !important; }
	.mb-md-55{ margin-bottom: 55px !important; }
	.mb-md-60{ margin-bottom: 60px !important; }
	.mb-md-65{ margin-bottom: 65px !important; }
	.mb-md-70{ margin-bottom: 70px !important; }
	.mb-md-75{ margin-bottom: 75px !important; }
	.mb-md-80{ margin-bottom: 80px !important; }
	.mb-md-85{ margin-bottom: 85px !important; }
	.mb-md-90{ margin-bottom: 90px !important; }
	.mb-md-95{ margin-bottom: 95px !important; }
	.mb-md-100{ margin-bottom: 100px !important; }

	.mt-md-0{ margin-top: 0 !important; }
	.mt-md-5{ margin-top: 5px !important; }
	.mt-md-10{ margin-top: 10px !important; }
	.mt-md-15{ margin-top: 15px !important; }
	.mt-md-20{ margin-top: 20px !important; }
	.mt-md-25{ margin-top: 25px !important; }
	.mt-md-30{ margin-top: 30px !important; }
	.mt-md-35{ margin-top: 35px !important; }
	.mt-md-40{ margin-top: 40px !important; }
	.mt-md-45{ margin-top: 45px !important; }
	.mt-md-50{ margin-top: 50px !important; }
	.mt-md-55{ margin-top: 55px !important; }
	.mt-md-60{ margin-top: 60px !important; }
	.mt-md-65{ margin-top: 65px !important; }
	.mt-md-70{ margin-top: 70px !important; }
	.mt-md-75{ margin-top: 75px !important; }
	.mt-md-80{ margin-top: 80px !important; }
	.mt-md-85{ margin-top: 85px !important; }
	.mt-md-90{ margin-top: 90px !important; }
	.mt-md-95{ margin-top: 95px !important; }
	.mt-md-100{ margin-top: 100px !important; }

	.valign-md-top{ vertical-align: top !important; }
	.valign-md-middle{ vertical-align: middle !important; }
	.valign-md-bottom{ vertical-align: bottom !important; }

	.col-md-4p{ -ms-flex: 0 0 4%; flex: 0 0 4%; max-width: 4% }
	.col-md-5p{ -ms-flex: 0 0 5%; flex: 0 0 5%; max-width: 5%  }
	.col-md-6p{ -ms-flex: 0 0 6%; flex: 0 0 6%; max-width: 6%  }
	.col-md-7p{ -ms-flex: 0 0 7%; flex: 0 0 7%; max-width: 7%  }
	.col-md-8p{ -ms-flex: 0 0 8%; flex: 0 0 8%; max-width: 8%  }
	.col-md-9p{ -ms-flex: 0 0 9%; flex: 0 0 9%; max-width: 9%  }
	.col-md-10p{ -ms-flex: 0 0 10%; flex: 0 0 10%; max-width: 10%  }
	.col-md-11p{ -ms-flex: 0 0 11%; flex: 0 0 11%; max-width: 11%  }
	.col-md-12p{ -ms-flex: 0 0 12%; flex: 0 0 12%; max-width: 12%  }
	.col-md-13p{ -ms-flex: 0 0 13%; flex: 0 0 13%; max-width: 13%  }
	.col-md-14p{ -ms-flex: 0 0 14%; flex: 0 0 14%; max-width: 14%  }
	.col-md-15p{ -ms-flex: 0 0 15%; flex: 0 0 15%; max-width: 15%  }
	.col-md-16p{ -ms-flex: 0 0 16%; flex: 0 0 16%; max-width: 16%  }
	.col-md-17p{ -ms-flex: 0 0 17%; flex: 0 0 17%; max-width: 17%  }
	.col-md-18p{ -ms-flex: 0 0 18%; flex: 0 0 18%; max-width: 18%  }
	.col-md-19p{ -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%  }
	.col-md-20p{ -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%  }
	.col-md-25p{ -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%  }
	.col-md-30p{ -ms-flex: 0 0 30%; flex: 0 0 30%; max-width: 30%  }
	.col-md-35p{ -ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%  }
	.col-md-40p{ -ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%  }
	.col-md-45p{ -ms-flex: 0 0 45%; flex: 0 0 45%; max-width: 45%  }
	.col-md-50p{ -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%  }
	.col-md-55p{ -ms-flex: 0 0 55%; flex: 0 0 55%; max-width: 55%  }
	.col-md-60p{ -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%  }
	.col-md-65p{ -ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%  }
	.col-md-70p{ -ms-flex: 0 0 70%; flex: 0 0 70%; max-width: 70%  }
	.col-md-75p{ -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%  }
	.col-md-80p{ -ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%  }
	.col-md-85p{ -ms-flex: 0 0 85%; flex: 0 0 85%; max-width: 85%  }
	.col-md-90p{ -ms-flex: 0 0 90%; flex: 0 0 90%; max-width: 90%  }
	.col-md-95p{ -ms-flex: 0 0 95%; flex: 0 0 95%; max-width: 95%  }
	.col-md-100p{ -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%  }

	.ar-md-5{ padding-top: 5%; position: relative; }
	.ar-md-10{ padding-top: 10%; position: relative; }
	.ar-md-15{ padding-top: 15%; position: relative; }
	.ar-md-20{ padding-top: 20%; position: relative; }
	.ar-md-25{ padding-top: 25%; position: relative; }
	.ar-md-30{ padding-top: 30%; position: relative; }
	.ar-md-35{ padding-top: 35%; position: relative; }
	.ar-md-40{ padding-top: 40%; position: relative; }
	.ar-md-45{ padding-top: 45%; position: relative; }
	.ar-md-50{ padding-top: 50%; position: relative; }
	.ar-md-55{ padding-top: 55%; position: relative; }
	.ar-md-60{ padding-top: 60%; position: relative; }
	.ar-md-65{ padding-top: 65%; position: relative; }
	.ar-md-70{ padding-top: 70%; position: relative; }
	.ar-md-75{ padding-top: 75%; position: relative; }
	.ar-md-80{ padding-top: 80%; position: relative; }
	.ar-md-85{ padding-top: 85%; position: relative; }
	.ar-md-90{ padding-top: 90%; position: relative; }
	.ar-md-95{ padding-top: 95%; position: relative; }
	.ar-md-100{ padding-top: 100%; position: relative; }
	.ar-md-105{ padding-top: 105%; position: relative; }
	.ar-md-110{ padding-top: 110%; position: relative; }
	.ar-md-115{ padding-top: 115%; position: relative; }
	.ar-md-120{ padding-top: 120%; position: relative; }
	.ar-md-125{ padding-top: 125%; position: relative; }
	.ar-md-130{ padding-top: 130%; position: relative; }
	.ar-md-135{ padding-top: 135%; position: relative; }
	.ar-md-140{ padding-top: 140%; position: relative; }
	.ar-md-145{ padding-top: 145%; position: relative; }
	.ar-md-150{ padding-top: 150%; position: relative; }
	.ar-md-155{ padding-top: 155%; position: relative; }
	.ar-md-160{ padding-top: 160%; position: relative; }
	.ar-md-165{ padding-top: 165%; position: relative; }
	.ar-md-170{ padding-top: 170%; position: relative; }
	.ar-md-175{ padding-top: 175%; position: relative; }
	.ar-md-180{ padding-top: 180%; position: relative; }
	.ar-md-185{ padding-top: 185%; position: relative; }
	.ar-md-190{ padding-top: 190%; position: relative; }
	.ar-md-195{ padding-top: 195%; position: relative; }
	.ar-md-200{ padding-top: 200%; position: relative; }

}

@media (min-width: 992px) { 

	.dropdown-lg{ 
		.dropdown-menu{ position: static !important; display: block !important; float: none; transform: none !important; }
	}

    .gutter-lg-5{ margin: 0 0 0 -5px;
        > .col,
        > [class*="col-"]{
            padding-left: 5px;
        }
    }
    .gutter-lg-10{ margin: 0 0 0 -10px;
        > .col,
        > [class*="col-"]{
            padding-left: 10px;
        }
    }
    .gutter-lg-15{ margin: 0 0 0 -15px;
        > .col,
        > [class*="col-"]{
            padding-left: 15px;
        }
    }
    .gutter-lg-20{ margin: 0 0 0 -20px;
        > .col,
        > [class*="col-"]{
            padding-left: 20px;
        }
    }
    .gutter-lg-25{ margin: 0 0 0 -25px;
        > .col,
        > [class*="col-"]{
            padding-left: 25px;
        }
    }
    .gutter-lg-30{ margin: 0 0 0 -30px;
        > .col,
        > [class*="col-"]{
            padding-left: 30px;
        }
    }
    .gutter-lg-35{ margin: 0 0 0 -35px;
        > .col,
        > [class*="col-"]{
            padding-left: 35px;
        }
    }
    .gutter-lg-40{ margin: 0 0 0 -40px;
        > .col,
        > [class*="col-"]{
            padding-left: 40px;
        }
    }
    .gutter-lg-45{ margin: 0 0 0 -45px;
        > .col,
        > [class*="col-"]{
            padding-left: 45px;
        }
    }
    .gutter-lg-50{ margin: 0 0 0 -50px;
        > .col,
        > [class*="col-"]{
            padding-left: 50px;
        }
	}
	
	.fz-lg-20{ font-size: 20px !important; }
	.fz-lg-18{ font-size: 18px !important; }
	.fz-lg-16{ font-size: 16px !important; }
	.fz-lg-15{ font-size: 15px !important; }
	.fz-lg-14{ font-size: 14px !important; }
	.fz-lg-13{ font-size: 13px !important; }
	.fz-lg-12{ font-size: 12px !important; }

	.relative-lg{ position: relative !important; }
	.absolute-lg{ position: absolute !important; }
	.static-lg{ position: static !important; }

	.pl-lg-0{ padding-left: 0 !important; }
	.pl-lg-5{ padding-left: 5px !important; }
	.pl-lg-10{ padding-left: 10px !important; }
	.pl-lg-15{ padding-left: 15px !important; }
	.pl-lg-20{ padding-left: 20px !important; }
	.pl-lg-25{ padding-left: 25px !important; }
	.pl-lg-30{ padding-left: 30px !important; }
	.pl-lg-35{ padding-left: 35px !important; }
	.pl-lg-40{ padding-left: 40px !important; }
	.pl-lg-45{ padding-left: 45px !important; }
	.pl-lg-50{ padding-left: 50px !important; }
	.pl-lg-55{ padding-left: 55px !important; }
	.pl-lg-60{ padding-left: 60px !important; }
	.pl-lg-65{ padding-left: 65px !important; }
	.pl-lg-70{ padding-left: 70px !important; }
	.pl-lg-75{ padding-left: 75px !important; }
	.pl-lg-80{ padding-left: 80px !important; }
	.pl-lg-85{ padding-left: 85px !important; }
	.pl-lg-90{ padding-left: 90px !important; }
	.pl-lg-95{ padding-left: 95px !important; }
	.pl-lg-100{ padding-left: 100px !important; }

	.pr-lg-0{ padding-right: 0 !important; }
	.pr-lg-5{ padding-right: 5px !important; }
	.pr-lg-10{ padding-right: 10px !important; }
	.pr-lg-15{ padding-right: 15px !important; }
	.pr-lg-20{ padding-right: 20px !important; }
	.pr-lg-25{ padding-right: 25px !important; }
	.pr-lg-30{ padding-right: 30px !important; }
	.pr-lg-35{ padding-right: 35px !important; }
	.pr-lg-40{ padding-right: 40px !important; }
	.pr-lg-45{ padding-right: 45px !important; }
	.pr-lg-50{ padding-right: 50px !important; }
	.pr-lg-55{ padding-right: 55px !important; }
	.pr-lg-60{ padding-right: 60px !important; }
	.pr-lg-65{ padding-right: 65px !important; }
	.pr-lg-70{ padding-right: 70px !important; }
	.pr-lg-75{ padding-right: 75px !important; }
	.pr-lg-80{ padding-right: 80px !important; }
	.pr-lg-85{ padding-right: 85px !important; }
	.pr-lg-90{ padding-right: 90px !important; }
	.pr-lg-95{ padding-right: 95px !important; }
	.pr-lg-100{ padding-right: 100px !important; }

	.pb-lg-0{ padding-bottom: 0 !important; }
	.pb-lg-5{ padding-bottom: 5px !important; }
	.pb-lg-10{ padding-bottom: 10px !important; }
	.pb-lg-15{ padding-bottom: 15px !important; }
	.pb-lg-20{ padding-bottom: 20px !important; }
	.pb-lg-25{ padding-bottom: 25px !important; }
	.pb-lg-30{ padding-bottom: 30px !important; }
	.pb-lg-35{ padding-bottom: 35px !important; }
	.pb-lg-40{ padding-bottom: 40px !important; }
	.pb-lg-45{ padding-bottom: 45px !important; }
	.pb-lg-50{ padding-bottom: 50px !important; }
	.pb-lg-55{ padding-bottom: 55px !important; }
	.pb-lg-60{ padding-bottom: 60px !important; }
	.pb-lg-65{ padding-bottom: 65px !important; }
	.pb-lg-70{ padding-bottom: 70px !important; }
	.pb-lg-75{ padding-bottom: 75px !important; }
	.pb-lg-80{ padding-bottom: 80px !important; }
	.pb-lg-85{ padding-bottom: 85px !important; }
	.pb-lg-90{ padding-bottom: 90px !important; }
	.pb-lg-95{ padding-bottom: 95px !important; }
	.pb-lg-100{ padding-bottom: 100px !important; }

	.pt-lg-0{ padding-top: 0 !important; }
	.pt-lg-5{ padding-top: 5px !important; }
	.pt-lg-10{ padding-top: 10px !important; }
	.pt-lg-15{ padding-top: 15px !important; }
	.pt-lg-20{ padding-top: 20px !important; }
	.pt-lg-25{ padding-top: 25px !important; }
	.pt-lg-30{ padding-top: 30px !important; }
	.pt-lg-35{ padding-top: 35px !important; }
	.pt-lg-40{ padding-top: 40px !important; }
	.pt-lg-45{ padding-top: 45px !important; }
	.pt-lg-50{ padding-top: 50px !important; }
	.pt-lg-55{ padding-top: 55px !important; }
	.pt-lg-60{ padding-top: 60px !important; }
	.pt-lg-65{ padding-top: 65px !important; }
	.pt-lg-70{ padding-top: 70px !important; }
	.pt-lg-75{ padding-top: 75px !important; }
	.pt-lg-80{ padding-top: 80px !important; }
	.pt-lg-85{ padding-top: 85px !important; }
	.pt-lg-90{ padding-top: 90px !important; }
	.pt-lg-95{ padding-top: 95px !important; }
	.pt-lg-100{ padding-top: 100px !important; }

	.ml-lg-a{ margin-left: auto !important; }
	.ml-lg-0{ margin-left: 0 !important; }
	.ml-lg-5{ margin-left: 5px !important; }
	.ml-lg-10{ margin-left: 10px !important; }
	.ml-lg-15{ margin-left: 15px !important; }
	.ml-lg-20{ margin-left: 20px !important; }
	.ml-lg-25{ margin-left: 25px !important; }
	.ml-lg-30{ margin-left: 30px !important; }
	.ml-lg-35{ margin-left: 35px !important; }
	.ml-lg-40{ margin-left: 40px !important; }
	.ml-lg-45{ margin-left: 45px !important; }
	.ml-lg-50{ margin-left: 50px !important; }
	.ml-lg-55{ margin-left: 55px !important; }
	.ml-lg-60{ margin-left: 60px !important; }
	.ml-lg-65{ margin-left: 65px !important; }
	.ml-lg-70{ margin-left: 70px !important; }
	.ml-lg-75{ margin-left: 75px !important; }
	.ml-lg-80{ margin-left: 80px !important; }
	.ml-lg-85{ margin-left: 85px !important; }
	.ml-lg-90{ margin-left: 90px !important; }
	.ml-lg-95{ margin-left: 95px !important; }
	.ml-lg-100{ margin-left: 100px !important; }

	.mr-lg-a{ margin-right: auto !important; }
	.mr-lg-0{ margin-right: 0 !important; }
	.mr-lg-5{ margin-right: 5px !important; }
	.mr-lg-10{ margin-right: 10px !important; }
	.mr-lg-15{ margin-right: 15px !important; }
	.mr-lg-20{ margin-right: 20px !important; }
	.mr-lg-25{ margin-right: 25px !important; }
	.mr-lg-30{ margin-right: 30px !important; }
	.mr-lg-35{ margin-right: 35px !important; }
	.mr-lg-40{ margin-right: 40px !important; }
	.mr-lg-45{ margin-right: 45px !important; }
	.mr-lg-50{ margin-right: 50px !important; }
	.mr-lg-55{ margin-right: 55px !important; }
	.mr-lg-60{ margin-right: 60px !important; }
	.mr-lg-65{ margin-right: 65px !important; }
	.mr-lg-70{ margin-right: 70px !important; }
	.mr-lg-75{ margin-right: 75px !important; }
	.mr-lg-80{ margin-right: 80px !important; }
	.mr-lg-85{ margin-right: 85px !important; }
	.mr-lg-90{ margin-right: 90px !important; }
	.mr-lg-95{ margin-right: 95px !important; }
	.mr-lg-100{ margin-right: 100px !important; }

	.mb-lg-0{ margin-bottom: 0 !important; }
	.mb-lg-5{ margin-bottom: 5px !important; }
	.mb-lg-10{ margin-bottom: 10px !important; }
	.mb-lg-15{ margin-bottom: 15px !important; }
	.mb-lg-20{ margin-bottom: 20px !important; }
	.mb-lg-25{ margin-bottom: 25px !important; }
	.mb-lg-30{ margin-bottom: 30px !important; }
	.mb-lg-35{ margin-bottom: 35px !important; }
	.mb-lg-40{ margin-bottom: 40px !important; }
	.mb-lg-45{ margin-bottom: 45px !important; }
	.mb-lg-50{ margin-bottom: 50px !important; }
	.mb-lg-55{ margin-bottom: 55px !important; }
	.mb-lg-60{ margin-bottom: 60px !important; }
	.mb-lg-65{ margin-bottom: 65px !important; }
	.mb-lg-70{ margin-bottom: 70px !important; }
	.mb-lg-75{ margin-bottom: 75px !important; }
	.mb-lg-80{ margin-bottom: 80px !important; }
	.mb-lg-85{ margin-bottom: 85px !important; }
	.mb-lg-90{ margin-bottom: 90px !important; }
	.mb-lg-95{ margin-bottom: 95px !important; }
	.mb-lg-100{ margin-bottom: 100px !important; }

	.mt-lg-0{ margin-top: 0 !important; }
	.mt-lg-5{ margin-top: 5px !important; }
	.mt-lg-10{ margin-top: 10px !important; }
	.mt-lg-15{ margin-top: 15px !important; }
	.mt-lg-20{ margin-top: 20px !important; }
	.mt-lg-25{ margin-top: 25px !important; }
	.mt-lg-30{ margin-top: 30px !important; }
	.mt-lg-35{ margin-top: 35px !important; }
	.mt-lg-40{ margin-top: 40px !important; }
	.mt-lg-45{ margin-top: 45px !important; }
	.mt-lg-50{ margin-top: 50px !important; }
	.mt-lg-55{ margin-top: 55px !important; }
	.mt-lg-60{ margin-top: 60px !important; }
	.mt-lg-65{ margin-top: 65px !important; }
	.mt-lg-70{ margin-top: 70px !important; }
	.mt-lg-75{ margin-top: 75px !important; }
	.mt-lg-80{ margin-top: 80px !important; }
	.mt-lg-85{ margin-top: 85px !important; }
	.mt-lg-90{ margin-top: 90px !important; }
	.mt-lg-95{ margin-top: 95px !important; }
	.mt-lg-100{ margin-top: 100px !important; }

	.valign-lg-top{ vertical-align: top !important; }
	.valign-lg-middle{ vertical-align: middle !important; }
	.valign-lg-bottom{ vertical-align: bottom !important; }

	.col-lg-4p{ -ms-flex: 0 0 4%; flex: 0 0 4%; max-width: 4% }
	.col-lg-5p{ -ms-flex: 0 0 5%; flex: 0 0 5%; max-width: 5%  }
	.col-lg-6p{ -ms-flex: 0 0 6%; flex: 0 0 6%; max-width: 6%  }
	.col-lg-7p{ -ms-flex: 0 0 7%; flex: 0 0 7%; max-width: 7%  }
	.col-lg-8p{ -ms-flex: 0 0 8%; flex: 0 0 8%; max-width: 8%  }
	.col-lg-9p{ -ms-flex: 0 0 9%; flex: 0 0 9%; max-width: 9%  }
	.col-lg-10p{ -ms-flex: 0 0 10%; flex: 0 0 10%; max-width: 10%  }
	.col-lg-11p{ -ms-flex: 0 0 11%; flex: 0 0 11%; max-width: 11%  }
	.col-lg-12p{ -ms-flex: 0 0 12%; flex: 0 0 12%; max-width: 12%  }
	.col-lg-13p{ -ms-flex: 0 0 13%; flex: 0 0 13%; max-width: 13%  }
	.col-lg-14p{ -ms-flex: 0 0 14%; flex: 0 0 14%; max-width: 14%  }
	.col-lg-15p{ -ms-flex: 0 0 15%; flex: 0 0 15%; max-width: 15%  }
	.col-lg-16p{ -ms-flex: 0 0 16%; flex: 0 0 16%; max-width: 16%  }
	.col-lg-17p{ -ms-flex: 0 0 17%; flex: 0 0 17%; max-width: 17%  }
	.col-lg-18p{ -ms-flex: 0 0 18%; flex: 0 0 18%; max-width: 18%  }
	.col-lg-19p{ -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%  }
	.col-lg-20p{ -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%  }
	.col-lg-25p{ -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%  }
	.col-lg-30p{ -ms-flex: 0 0 30%; flex: 0 0 30%; max-width: 30%  }
	.col-lg-35p{ -ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%  }
	.col-lg-40p{ -ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%  }
	.col-lg-45p{ -ms-flex: 0 0 45%; flex: 0 0 45%; max-width: 45%  }
	.col-lg-50p{ -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%  }
	.col-lg-55p{ -ms-flex: 0 0 55%; flex: 0 0 55%; max-width: 55%  }
	.col-lg-60p{ -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%  }
	.col-lg-65p{ -ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%  }
	.col-lg-70p{ -ms-flex: 0 0 70%; flex: 0 0 70%; max-width: 70%  }
	.col-lg-75p{ -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%  }
	.col-lg-80p{ -ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%  }
	.col-lg-85p{ -ms-flex: 0 0 85%; flex: 0 0 85%; max-width: 85%  }
	.col-lg-90p{ -ms-flex: 0 0 90%; flex: 0 0 90%; max-width: 90%  }
	.col-lg-95p{ -ms-flex: 0 0 95%; flex: 0 0 95%; max-width: 95%  }
	.col-lg-100p{ -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%  }

	.ar-lg-5{ padding-top: 5%; position: relative; }
	.ar-lg-10{ padding-top: 10%; position: relative; }
	.ar-lg-15{ padding-top: 15%; position: relative; }
	.ar-lg-20{ padding-top: 20%; position: relative; }
	.ar-lg-25{ padding-top: 25%; position: relative; }
	.ar-lg-30{ padding-top: 30%; position: relative; }
	.ar-lg-35{ padding-top: 35%; position: relative; }
	.ar-lg-40{ padding-top: 40%; position: relative; }
	.ar-lg-45{ padding-top: 45%; position: relative; }
	.ar-lg-50{ padding-top: 50%; position: relative; }
	.ar-lg-55{ padding-top: 55%; position: relative; }
	.ar-lg-60{ padding-top: 60%; position: relative; }
	.ar-lg-65{ padding-top: 65%; position: relative; }
	.ar-lg-70{ padding-top: 70%; position: relative; }
	.ar-lg-75{ padding-top: 75%; position: relative; }
	.ar-lg-80{ padding-top: 80%; position: relative; }
	.ar-lg-85{ padding-top: 85%; position: relative; }
	.ar-lg-90{ padding-top: 90%; position: relative; }
	.ar-lg-95{ padding-top: 95%; position: relative; }
	.ar-lg-100{ padding-top: 100%; position: relative; }
	.ar-lg-105{ padding-top: 105%; position: relative; }
	.ar-lg-110{ padding-top: 110%; position: relative; }
	.ar-lg-115{ padding-top: 115%; position: relative; }
	.ar-lg-120{ padding-top: 120%; position: relative; }
	.ar-lg-125{ padding-top: 125%; position: relative; }
	.ar-lg-130{ padding-top: 130%; position: relative; }
	.ar-lg-135{ padding-top: 135%; position: relative; }
	.ar-lg-140{ padding-top: 140%; position: relative; }
	.ar-lg-145{ padding-top: 145%; position: relative; }
	.ar-lg-150{ padding-top: 150%; position: relative; }
	.ar-lg-155{ padding-top: 155%; position: relative; }
	.ar-lg-160{ padding-top: 160%; position: relative; }
	.ar-lg-165{ padding-top: 165%; position: relative; }
	.ar-lg-170{ padding-top: 170%; position: relative; }
	.ar-lg-175{ padding-top: 175%; position: relative; }
	.ar-lg-180{ padding-top: 180%; position: relative; }
	.ar-lg-185{ padding-top: 185%; position: relative; }
	.ar-lg-190{ padding-top: 190%; position: relative; }
	.ar-lg-195{ padding-top: 195%; position: relative; }
	.ar-lg-200{ padding-top: 200%; position: relative; }
}

@media (min-width: 1200px) {

    .gutter-xl-5{ margin: 0 0 0 -5px;
        > .col,
        > [class*="col-"]{
            padding-left: 5px;
        }
    }
    .gutter-xl-10{ margin: 0 0 0 -10px;
        > .col,
        > [class*="col-"]{
            padding-left: 10px;
        }
    }
    .gutter-xl-15{ margin: 0 0 0 -15px;
        > .col,
        > [class*="col-"]{
            padding-left: 15px;
        }
    }
    .gutter-xl-20{ margin: 0 0 0 -20px;
        > .col,
        > [class*="col-"]{
            padding-left: 20px;
        }
    }
    .gutter-xl-25{ margin: 0 0 0 -25px;
        > .col,
        > [class*="col-"]{
            padding-left: 25px;
        }
    }
    .gutter-xl-30{ margin: 0 0 0 -30px;
        > .col,
        > [class*="col-"]{
            padding-left: 30px;
        }
    }
    .gutter-xl-35{ margin: 0 0 0 -35px;
        > .col,
        > [class*="col-"]{
            padding-left: 35px;
        }
    }
    .gutter-xl-40{ margin: 0 0 0 -40px;
        > .col,
        > [class*="col-"]{
            padding-left: 40px;
        }
    }
    .gutter-xl-45{ margin: 0 0 0 -45px;
        > .col,
        > [class*="col-"]{
            padding-left: 45px;
        }
    }
    .gutter-xl-50{ margin: 0 0 0 -50px;
        > .col,
        > [class*="col-"]{
            padding-left: 50px;
        }
    }

	.relative-xl{ position: relative !important; }
	.absolute-xl{ position: absolute !important; }
	.static-xl{ position: static !important; }

	.fz-xl-20{ font-size: 20px !important; }
	.fz-xl-18{ font-size: 18px !important; }
	.fz-xl-16{ font-size: 16px !important; }
	.fz-xl-15{ font-size: 15px !important; }
	.fz-xl-14{ font-size: 14px !important; }
	.fz-xl-13{ font-size: 13px !important; }
	.fz-xl-12{ font-size: 12px !important; }
	
	.pl-xl-0{ padding-left: 0 !important; }
	.pl-xl-5{ padding-left: 5px !important; }
	.pl-xl-10{ padding-left: 10px !important; }
	.pl-xl-15{ padding-left: 15px !important; }
	.pl-xl-20{ padding-left: 20px !important; }
	.pl-xl-25{ padding-left: 25px !important; }
	.pl-xl-30{ padding-left: 30px !important; }
	.pl-xl-35{ padding-left: 35px !important; }
	.pl-xl-40{ padding-left: 40px !important; }
	.pl-xl-45{ padding-left: 45px !important; }
	.pl-xl-50{ padding-left: 50px !important; }
	.pl-xl-55{ padding-left: 55px !important; }
	.pl-xl-60{ padding-left: 60px !important; }
	.pl-xl-65{ padding-left: 65px !important; }
	.pl-xl-70{ padding-left: 70px !important; }
	.pl-xl-75{ padding-left: 75px !important; }
	.pl-xl-80{ padding-left: 80px !important; }
	.pl-xl-85{ padding-left: 85px !important; }
	.pl-xl-90{ padding-left: 90px !important; }
	.pl-xl-95{ padding-left: 95px !important; }
	.pl-xl-100{ padding-left: 100px !important; }

	.pr-xl-0{ padding-right: 0 !important; }
	.pr-xl-5{ padding-right: 5px !important; }
	.pr-xl-10{ padding-right: 10px !important; }
	.pr-xl-15{ padding-right: 15px !important; }
	.pr-xl-20{ padding-right: 20px !important; }
	.pr-xl-25{ padding-right: 25px !important; }
	.pr-xl-30{ padding-right: 30px !important; }
	.pr-xl-35{ padding-right: 35px !important; }
	.pr-xl-40{ padding-right: 40px !important; }
	.pr-xl-45{ padding-right: 45px !important; }
	.pr-xl-50{ padding-right: 50px !important; }
	.pr-xl-55{ padding-right: 55px !important; }
	.pr-xl-60{ padding-right: 60px !important; }
	.pr-xl-65{ padding-right: 65px !important; }
	.pr-xl-70{ padding-right: 70px !important; }
	.pr-xl-75{ padding-right: 75px !important; }
	.pr-xl-80{ padding-right: 80px !important; }
	.pr-xl-85{ padding-right: 85px !important; }
	.pr-xl-90{ padding-right: 90px !important; }
	.pr-xl-95{ padding-right: 95px !important; }
	.pr-xl-100{ padding-right: 100px !important; }

	.pb-xl-0{ padding-bottom: 0 !important; }
	.pb-xl-5{ padding-bottom: 5px !important; }
	.pb-xl-10{ padding-bottom: 10px !important; }
	.pb-xl-15{ padding-bottom: 15px !important; }
	.pb-xl-20{ padding-bottom: 20px !important; }
	.pb-xl-25{ padding-bottom: 25px !important; }
	.pb-xl-30{ padding-bottom: 30px !important; }
	.pb-xl-35{ padding-bottom: 35px !important; }
	.pb-xl-40{ padding-bottom: 40px !important; }
	.pb-xl-45{ padding-bottom: 45px !important; }
	.pb-xl-50{ padding-bottom: 50px !important; }
	.pb-xl-55{ padding-bottom: 55px !important; }
	.pb-xl-60{ padding-bottom: 60px !important; }
	.pb-xl-65{ padding-bottom: 65px !important; }
	.pb-xl-70{ padding-bottom: 70px !important; }
	.pb-xl-75{ padding-bottom: 75px !important; }
	.pb-xl-80{ padding-bottom: 80px !important; }
	.pb-xl-85{ padding-bottom: 85px !important; }
	.pb-xl-90{ padding-bottom: 90px !important; }
	.pb-xl-95{ padding-bottom: 95px !important; }
	.pb-xl-100{ padding-bottom: 100px !important; }

	.pt-xl-0{ padding-top: 0 !important; }
	.pt-xl-5{ padding-top: 5px !important; }
	.pt-xl-10{ padding-top: 10px !important; }
	.pt-xl-15{ padding-top: 15px !important; }
	.pt-xl-20{ padding-top: 20px !important; }
	.pt-xl-25{ padding-top: 25px !important; }
	.pt-xl-30{ padding-top: 30px !important; }
	.pt-xl-35{ padding-top: 35px !important; }
	.pt-xl-40{ padding-top: 40px !important; }
	.pt-xl-45{ padding-top: 45px !important; }
	.pt-xl-50{ padding-top: 50px !important; }
	.pt-xl-55{ padding-top: 55px !important; }
	.pt-xl-60{ padding-top: 60px !important; }
	.pt-xl-65{ padding-top: 65px !important; }
	.pt-xl-70{ padding-top: 70px !important; }
	.pt-xl-75{ padding-top: 75px !important; }
	.pt-xl-80{ padding-top: 80px !important; }
	.pt-xl-85{ padding-top: 85px !important; }
	.pt-xl-90{ padding-top: 90px !important; }
	.pt-xl-95{ padding-top: 95px !important; }
	.pt-xl-100{ padding-top: 100px !important; }


	.ml-xl-0{ margin-left: 0 !important; }
	.ml-xl-5{ margin-left: 5px !important; }
	.ml-xl-10{ margin-left: 10px !important; }
	.ml-xl-15{ margin-left: 15px !important; }
	.ml-xl-20{ margin-left: 20px !important; }
	.ml-xl-25{ margin-left: 25px !important; }
	.ml-xl-30{ margin-left: 30px !important; }
	.ml-xl-35{ margin-left: 35px !important; }
	.ml-xl-40{ margin-left: 40px !important; }
	.ml-xl-45{ margin-left: 45px !important; }
	.ml-xl-50{ margin-left: 50px !important; }
	.ml-xl-55{ margin-left: 55px !important; }
	.ml-xl-60{ margin-left: 60px !important; }
	.ml-xl-65{ margin-left: 65px !important; }
	.ml-xl-70{ margin-left: 70px !important; }
	.ml-xl-75{ margin-left: 75px !important; }
	.ml-xl-80{ margin-left: 80px !important; }
	.ml-xl-85{ margin-left: 85px !important; }
	.ml-xl-90{ margin-left: 90px !important; }
	.ml-xl-95{ margin-left: 95px !important; }
	.ml-xl-100{ margin-left: 100px !important; }

	.mr-xl-0{ margin-right: 0 !important; }
	.mr-xl-5{ margin-right: 5px !important; }
	.mr-xl-10{ margin-right: 10px !important; }
	.mr-xl-15{ margin-right: 15px !important; }
	.mr-xl-20{ margin-right: 20px !important; }
	.mr-xl-25{ margin-right: 25px !important; }
	.mr-xl-30{ margin-right: 30px !important; }
	.mr-xl-35{ margin-right: 35px !important; }
	.mr-xl-40{ margin-right: 40px !important; }
	.mr-xl-45{ margin-right: 45px !important; }
	.mr-xl-50{ margin-right: 50px !important; }
	.mr-xl-55{ margin-right: 55px !important; }
	.mr-xl-60{ margin-right: 60px !important; }
	.mr-xl-65{ margin-right: 65px !important; }
	.mr-xl-70{ margin-right: 70px !important; }
	.mr-xl-75{ margin-right: 75px !important; }
	.mr-xl-80{ margin-right: 80px !important; }
	.mr-xl-85{ margin-right: 85px !important; }
	.mr-xl-90{ margin-right: 90px !important; }
	.mr-xl-95{ margin-right: 95px !important; }
	.mr-xl-100{ margin-right: 100px !important; }

	.mb-xl-0{ margin-bottom: 0 !important; }
	.mb-xl-5{ margin-bottom: 5px !important; }
	.mb-xl-10{ margin-bottom: 10px !important; }
	.mb-xl-15{ margin-bottom: 15px !important; }
	.mb-xl-20{ margin-bottom: 20px !important; }
	.mb-xl-25{ margin-bottom: 25px !important; }
	.mb-xl-30{ margin-bottom: 30px !important; }
	.mb-xl-35{ margin-bottom: 35px !important; }
	.mb-xl-40{ margin-bottom: 40px !important; }
	.mb-xl-45{ margin-bottom: 45px !important; }
	.mb-xl-50{ margin-bottom: 50px !important; }
	.mb-xl-55{ margin-bottom: 55px !important; }
	.mb-xl-60{ margin-bottom: 60px !important; }
	.mb-xl-65{ margin-bottom: 65px !important; }
	.mb-xl-70{ margin-bottom: 70px !important; }
	.mb-xl-75{ margin-bottom: 75px !important; }
	.mb-xl-80{ margin-bottom: 80px !important; }
	.mb-xl-85{ margin-bottom: 85px !important; }
	.mb-xl-90{ margin-bottom: 90px !important; }
	.mb-xl-95{ margin-bottom: 95px !important; }
	.mb-xl-100{ margin-bottom: 100px !important; }

	.mt-xl-0{ margin-top: 0 !important; }
	.mt-xl-5{ margin-top: 5px !important; }
	.mt-xl-10{ margin-top: 10px !important; }
	.mt-xl-15{ margin-top: 15px !important; }
	.mt-xl-20{ margin-top: 20px !important; }
	.mt-xl-25{ margin-top: 25px !important; }
	.mt-xl-30{ margin-top: 30px !important; }
	.mt-xl-35{ margin-top: 35px !important; }
	.mt-xl-40{ margin-top: 40px !important; }
	.mt-xl-45{ margin-top: 45px !important; }
	.mt-xl-50{ margin-top: 50px !important; }
	.mt-xl-55{ margin-top: 55px !important; }
	.mt-xl-60{ margin-top: 60px !important; }
	.mt-xl-65{ margin-top: 65px !important; }
	.mt-xl-70{ margin-top: 70px !important; }
	.mt-xl-75{ margin-top: 75px !important; }
	.mt-xl-80{ margin-top: 80px !important; }
	.mt-xl-85{ margin-top: 85px !important; }
	.mt-xl-90{ margin-top: 90px !important; }
	.mt-xl-95{ margin-top: 95px !important; }
	.mt-xl-100{ margin-top: 100px !important; }

	.valign-xl-top{ vertical-align: top !important; }
	.valign-xl-middle{ vertical-align: middle !important; }
	.valign-xl-bottom{ vertical-align: bottom !important; }

	.col-xl-4p{ -ms-flex: 0 0 4%; flex: 0 0 4%; max-width: 4% }
	.col-xl-5p{ -ms-flex: 0 0 5%; flex: 0 0 5%; max-width: 5%  }
	.col-xl-6p{ -ms-flex: 0 0 6%; flex: 0 0 6%; max-width: 6%  }
	.col-xl-7p{ -ms-flex: 0 0 7%; flex: 0 0 7%; max-width: 7%  }
	.col-xl-8p{ -ms-flex: 0 0 8%; flex: 0 0 8%; max-width: 8%  }
	.col-xl-9p{ -ms-flex: 0 0 9%; flex: 0 0 9%; max-width: 9%  }
	.col-xl-10p{ -ms-flex: 0 0 10%; flex: 0 0 10%; max-width: 10%  }
	.col-xl-11p{ -ms-flex: 0 0 11%; flex: 0 0 11%; max-width: 11%  }
	.col-xl-12p{ -ms-flex: 0 0 12%; flex: 0 0 12%; max-width: 12%  }
	.col-xl-13p{ -ms-flex: 0 0 13%; flex: 0 0 13%; max-width: 13%  }
	.col-xl-14p{ -ms-flex: 0 0 14%; flex: 0 0 14%; max-width: 14%  }
	.col-xl-15p{ -ms-flex: 0 0 15%; flex: 0 0 15%; max-width: 15%  }
	.col-xl-16p{ -ms-flex: 0 0 16%; flex: 0 0 16%; max-width: 16%  }
	.col-xl-17p{ -ms-flex: 0 0 17%; flex: 0 0 17%; max-width: 17%  }
	.col-xl-18p{ -ms-flex: 0 0 18%; flex: 0 0 18%; max-width: 18%  }
	.col-xl-19p{ -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%  }
	.col-xl-20p{ -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%  }
	.col-xl-25p{ -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%  }
	.col-xl-30p{ -ms-flex: 0 0 30%; flex: 0 0 30%; max-width: 30%  }
	.col-xl-35p{ -ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%  }
	.col-xl-40p{ -ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%  }
	.col-xl-45p{ -ms-flex: 0 0 45%; flex: 0 0 45%; max-width: 45%  }
	.col-xl-50p{ -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%  }
	.col-xl-55p{ -ms-flex: 0 0 55%; flex: 0 0 55%; max-width: 55%  }
	.col-xl-60p{ -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%  }
	.col-xl-65p{ -ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%  }
	.col-xl-70p{ -ms-flex: 0 0 70%; flex: 0 0 70%; max-width: 70%  }
	.col-xl-75p{ -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%  }
	.col-xl-80p{ -ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%  }
	.col-xl-85p{ -ms-flex: 0 0 85%; flex: 0 0 85%; max-width: 85%  }
	.col-xl-90p{ -ms-flex: 0 0 90%; flex: 0 0 90%; max-width: 90%  }
	.col-xl-95p{ -ms-flex: 0 0 95%; flex: 0 0 95%; max-width: 95%  }
	.col-xl-100p{ -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%  }


	.ar-xl-5{ padding-top: 5%; position: relative; }
	.ar-xl-10{ padding-top: 10%; position: relative; }
	.ar-xl-15{ padding-top: 15%; position: relative; }
	.ar-xl-20{ padding-top: 20%; position: relative; }
	.ar-xl-25{ padding-top: 25%; position: relative; }
	.ar-xl-30{ padding-top: 30%; position: relative; }
	.ar-xl-35{ padding-top: 35%; position: relative; }
	.ar-xl-40{ padding-top: 40%; position: relative; }
	.ar-xl-45{ padding-top: 45%; position: relative; }
	.ar-xl-50{ padding-top: 50%; position: relative; }
	.ar-xl-55{ padding-top: 55%; position: relative; }
	.ar-xl-60{ padding-top: 60%; position: relative; }
	.ar-xl-65{ padding-top: 65%; position: relative; }
	.ar-xl-70{ padding-top: 70%; position: relative; }
	.ar-xl-75{ padding-top: 75%; position: relative; }
	.ar-xl-80{ padding-top: 80%; position: relative; }
	.ar-xl-85{ padding-top: 85%; position: relative; }
	.ar-xl-90{ padding-top: 90%; position: relative; }
	.ar-xl-95{ padding-top: 95%; position: relative; }
	.ar-xl-100{ padding-top: 100%; position: relative; }
	.ar-xl-105{ padding-top: 105%; position: relative; }
	.ar-xl-110{ padding-top: 110%; position: relative; }
	.ar-xl-115{ padding-top: 115%; position: relative; }
	.ar-xl-120{ padding-top: 120%; position: relative; }
	.ar-xl-125{ padding-top: 125%; position: relative; }
	.ar-xl-130{ padding-top: 130%; position: relative; }
	.ar-xl-135{ padding-top: 135%; position: relative; }
	.ar-xl-140{ padding-top: 140%; position: relative; }
	.ar-xl-145{ padding-top: 145%; position: relative; }
	.ar-xl-150{ padding-top: 150%; position: relative; }
	.ar-xl-155{ padding-top: 155%; position: relative; }
	.ar-xl-160{ padding-top: 160%; position: relative; }
	.ar-xl-165{ padding-top: 165%; position: relative; }
	.ar-xl-170{ padding-top: 170%; position: relative; }
	.ar-xl-175{ padding-top: 175%; position: relative; }
	.ar-xl-180{ padding-top: 180%; position: relative; }
	.ar-xl-185{ padding-top: 185%; position: relative; }
	.ar-xl-190{ padding-top: 190%; position: relative; }
	.ar-xl-195{ padding-top: 195%; position: relative; }
	.ar-xl-200{ padding-top: 200%; position: relative; }

}


@media (min-width: 1440px) { 


    .gutter-xxl-5{ margin: 0 0 0 -5px;
        > .col,
        > [class*="col-"]{
            padding-left: 5px;
        }
    }
    .gutter-xxl-10{ margin: 0 0 0 -10px;
        > .col,
        > [class*="col-"]{
            padding-left: 10px;
        }
    }
    .gutter-xxl-15{ margin: 0 0 0 -15px;
        > .col,
        > [class*="col-"]{
            padding-left: 15px;
        }
    }
    .gutter-xxl-20{ margin: 0 0 0 -20px;
        > .col,
        > [class*="col-"]{
            padding-left: 20px;
        }
    }
    .gutter-xxl-25{ margin: 0 0 0 -25px;
        > .col,
        > [class*="col-"]{
            padding-left: 25px;
        }
    }
    .gutter-xxl-30{ margin: 0 0 0 -30px;
        > .col,
        > [class*="col-"]{
            padding-left: 30px;
        }
    }
    .gutter-xxl-35{ margin: 0 0 0 -35px;
        > .col,
        > [class*="col-"]{
            padding-left: 35px;
        }
    }
    .gutter-xxl-40{ margin: 0 0 0 -40px;
        > .col,
        > [class*="col-"]{
            padding-left: 40px;
        }
    }
    .gutter-xxl-45{ margin: 0 0 0 -45px;
        > .col,
        > [class*="col-"]{
            padding-left: 45px;
        }
    }
    .gutter-xxl-50{ margin: 0 0 0 -50px;
        > .col,
        > [class*="col-"]{
            padding-left: 50px;
        }
    }

	.relative-xxl{ position: relative !important; }
	.absolute-xxl{ position: absolute !important; }
	.static-xxl{ position: static !important; }

	.fz-xxl-20{ font-size: 20px !important; }
	.fz-xxl-18{ font-size: 18px !important; }
	.fz-xxl-16{ font-size: 16px !important; }
	.fz-xxl-15{ font-size: 15px !important; }
	.fz-xxl-14{ font-size: 14px !important; }
	.fz-xxl-13{ font-size: 13px !important; }
	.fz-xxl-12{ font-size: 12px !important; }
	
	.pl-xxl-0{ padding-left: 0 !important; }
	.pl-xxl-5{ padding-left: 5px !important; }
	.pl-xxl-10{ padding-left: 10px !important; }
	.pl-xxl-15{ padding-left: 15px !important; }
	.pl-xxl-20{ padding-left: 20px !important; }
	.pl-xxl-25{ padding-left: 25px !important; }
	.pl-xxl-30{ padding-left: 30px !important; }
	.pl-xxl-35{ padding-left: 35px !important; }
	.pl-xxl-40{ padding-left: 40px !important; }
	.pl-xxl-45{ padding-left: 45px !important; }
	.pl-xxl-50{ padding-left: 50px !important; }
	.pl-xxl-55{ padding-left: 55px !important; }
	.pl-xxl-60{ padding-left: 60px !important; }
	.pl-xxl-65{ padding-left: 65px !important; }
	.pl-xxl-70{ padding-left: 70px !important; }
	.pl-xxl-75{ padding-left: 75px !important; }
	.pl-xxl-80{ padding-left: 80px !important; }
	.pl-xxl-85{ padding-left: 85px !important; }
	.pl-xxl-90{ padding-left: 90px !important; }
	.pl-xxl-95{ padding-left: 95px !important; }
	.pl-xxl-100{ padding-left: 100px !important; }

	.pr-xxl-0{ padding-right: 0 !important; }
	.pr-xxl-5{ padding-right: 5px !important; }
	.pr-xxl-10{ padding-right: 10px !important; }
	.pr-xxl-15{ padding-right: 15px !important; }
	.pr-xxl-20{ padding-right: 20px !important; }
	.pr-xxl-25{ padding-right: 25px !important; }
	.pr-xxl-30{ padding-right: 30px !important; }
	.pr-xxl-35{ padding-right: 35px !important; }
	.pr-xxl-40{ padding-right: 40px !important; }
	.pr-xxl-45{ padding-right: 45px !important; }
	.pr-xxl-50{ padding-right: 50px !important; }
	.pr-xxl-55{ padding-right: 55px !important; }
	.pr-xxl-60{ padding-right: 60px !important; }
	.pr-xxl-65{ padding-right: 65px !important; }
	.pr-xxl-70{ padding-right: 70px !important; }
	.pr-xxl-75{ padding-right: 75px !important; }
	.pr-xxl-80{ padding-right: 80px !important; }
	.pr-xxl-85{ padding-right: 85px !important; }
	.pr-xxl-90{ padding-right: 90px !important; }
	.pr-xxl-95{ padding-right: 95px !important; }
	.pr-xxl-100{ padding-right: 100px !important; }

	.pb-xxl-0{ padding-bottom: 0 !important; }
	.pb-xxl-5{ padding-bottom: 5px !important; }
	.pb-xxl-10{ padding-bottom: 10px !important; }
	.pb-xxl-15{ padding-bottom: 15px !important; }
	.pb-xxl-20{ padding-bottom: 20px !important; }
	.pb-xxl-25{ padding-bottom: 25px !important; }
	.pb-xxl-30{ padding-bottom: 30px !important; }
	.pb-xxl-35{ padding-bottom: 35px !important; }
	.pb-xxl-40{ padding-bottom: 40px !important; }
	.pb-xxl-45{ padding-bottom: 45px !important; }
	.pb-xxl-50{ padding-bottom: 50px !important; }
	.pb-xxl-55{ padding-bottom: 55px !important; }
	.pb-xxl-60{ padding-bottom: 60px !important; }
	.pb-xxl-65{ padding-bottom: 65px !important; }
	.pb-xxl-70{ padding-bottom: 70px !important; }
	.pb-xxl-75{ padding-bottom: 75px !important; }
	.pb-xxl-80{ padding-bottom: 80px !important; }
	.pb-xxl-85{ padding-bottom: 85px !important; }
	.pb-xxl-90{ padding-bottom: 90px !important; }
	.pb-xxl-95{ padding-bottom: 95px !important; }
	.pb-xxl-100{ padding-bottom: 100px !important; }

	.pt-xxl-0{ padding-top: 0 !important; }
	.pt-xxl-5{ padding-top: 5px !important; }
	.pt-xxl-10{ padding-top: 10px !important; }
	.pt-xxl-15{ padding-top: 15px !important; }
	.pt-xxl-20{ padding-top: 20px !important; }
	.pt-xxl-25{ padding-top: 25px !important; }
	.pt-xxl-30{ padding-top: 30px !important; }
	.pt-xxl-35{ padding-top: 35px !important; }
	.pt-xxl-40{ padding-top: 40px !important; }
	.pt-xxl-45{ padding-top: 45px !important; }
	.pt-xxl-50{ padding-top: 50px !important; }
	.pt-xxl-55{ padding-top: 55px !important; }
	.pt-xxl-60{ padding-top: 60px !important; }
	.pt-xxl-65{ padding-top: 65px !important; }
	.pt-xxl-70{ padding-top: 70px !important; }
	.pt-xxl-75{ padding-top: 75px !important; }
	.pt-xxl-80{ padding-top: 80px !important; }
	.pt-xxl-85{ padding-top: 85px !important; }
	.pt-xxl-90{ padding-top: 90px !important; }
	.pt-xxl-95{ padding-top: 95px !important; }
	.pt-xxl-100{ padding-top: 100px !important; }


	.ml-xxl-a{ margin-left: auto !important; }
	.ml-xxl-0{ margin-left: 0 !important; }
	.ml-xxl-5{ margin-left: 5px !important; }
	.ml-xxl-10{ margin-left: 10px !important; }
	.ml-xxl-15{ margin-left: 15px !important; }
	.ml-xxl-20{ margin-left: 20px !important; }
	.ml-xxl-25{ margin-left: 25px !important; }
	.ml-xxl-30{ margin-left: 30px !important; }
	.ml-xxl-35{ margin-left: 35px !important; }
	.ml-xxl-40{ margin-left: 40px !important; }
	.ml-xxl-45{ margin-left: 45px !important; }
	.ml-xxl-50{ margin-left: 50px !important; }
	.ml-xxl-55{ margin-left: 55px !important; }
	.ml-xxl-60{ margin-left: 60px !important; }
	.ml-xxl-65{ margin-left: 65px !important; }
	.ml-xxl-70{ margin-left: 70px !important; }
	.ml-xxl-75{ margin-left: 75px !important; }
	.ml-xxl-80{ margin-left: 80px !important; }
	.ml-xxl-85{ margin-left: 85px !important; }
	.ml-xxl-90{ margin-left: 90px !important; }
	.ml-xxl-95{ margin-left: 95px !important; }
	.ml-xxl-100{ margin-left: 100px !important; }

	.mr-xxl-a{ margin-right: auto !important; }
	.mr-xxl-0{ margin-right: 0 !important; }
	.mr-xxl-5{ margin-right: 5px !important; }
	.mr-xxl-10{ margin-right: 10px !important; }
	.mr-xxl-15{ margin-right: 15px !important; }
	.mr-xxl-20{ margin-right: 20px !important; }
	.mr-xxl-25{ margin-right: 25px !important; }
	.mr-xxl-30{ margin-right: 30px !important; }
	.mr-xxl-35{ margin-right: 35px !important; }
	.mr-xxl-40{ margin-right: 40px !important; }
	.mr-xxl-45{ margin-right: 45px !important; }
	.mr-xxl-50{ margin-right: 50px !important; }
	.mr-xxl-55{ margin-right: 55px !important; }
	.mr-xxl-60{ margin-right: 60px !important; }
	.mr-xxl-65{ margin-right: 65px !important; }
	.mr-xxl-70{ margin-right: 70px !important; }
	.mr-xxl-75{ margin-right: 75px !important; }
	.mr-xxl-80{ margin-right: 80px !important; }
	.mr-xxl-85{ margin-right: 85px !important; }
	.mr-xxl-90{ margin-right: 90px !important; }
	.mr-xxl-95{ margin-right: 95px !important; }
	.mr-xxl-100{ margin-right: 100px !important; }

	.mb-xxl-0{ margin-bottom: 0 !important; }
	.mb-xxl-5{ margin-bottom: 5px !important; }
	.mb-xxl-10{ margin-bottom: 10px !important; }
	.mb-xxl-15{ margin-bottom: 15px !important; }
	.mb-xxl-20{ margin-bottom: 20px !important; }
	.mb-xxl-25{ margin-bottom: 25px !important; }
	.mb-xxl-30{ margin-bottom: 30px !important; }
	.mb-xxl-35{ margin-bottom: 35px !important; }
	.mb-xxl-40{ margin-bottom: 40px !important; }
	.mb-xxl-45{ margin-bottom: 45px !important; }
	.mb-xxl-50{ margin-bottom: 50px !important; }
	.mb-xxl-55{ margin-bottom: 55px !important; }
	.mb-xxl-60{ margin-bottom: 60px !important; }
	.mb-xxl-65{ margin-bottom: 65px !important; }
	.mb-xxl-70{ margin-bottom: 70px !important; }
	.mb-xxl-75{ margin-bottom: 75px !important; }
	.mb-xxl-80{ margin-bottom: 80px !important; }
	.mb-xxl-85{ margin-bottom: 85px !important; }
	.mb-xxl-90{ margin-bottom: 90px !important; }
	.mb-xxl-95{ margin-bottom: 95px !important; }
	.mb-xxl-100{ margin-bottom: 100px !important; }

	.mt-xxl-0{ margin-top: 0 !important; }
	.mt-xxl-5{ margin-top: 5px !important; }
	.mt-xxl-10{ margin-top: 10px !important; }
	.mt-xxl-15{ margin-top: 15px !important; }
	.mt-xxl-20{ margin-top: 20px !important; }
	.mt-xxl-25{ margin-top: 25px !important; }
	.mt-xxl-30{ margin-top: 30px !important; }
	.mt-xxl-35{ margin-top: 35px !important; }
	.mt-xxl-40{ margin-top: 40px !important; }
	.mt-xxl-45{ margin-top: 45px !important; }
	.mt-xxl-50{ margin-top: 50px !important; }
	.mt-xxl-55{ margin-top: 55px !important; }
	.mt-xxl-60{ margin-top: 60px !important; }
	.mt-xxl-65{ margin-top: 65px !important; }
	.mt-xxl-70{ margin-top: 70px !important; }
	.mt-xxl-75{ margin-top: 75px !important; }
	.mt-xxl-80{ margin-top: 80px !important; }
	.mt-xxl-85{ margin-top: 85px !important; }
	.mt-xxl-90{ margin-top: 90px !important; }
	.mt-xxl-95{ margin-top: 95px !important; }
	.mt-xxl-100{ margin-top: 100px !important; }

	.valign-xxl-top{ vertical-align: top !important; }
	.valign-xxl-middle{ vertical-align: middle !important; }
	.valign-xxl-bottom{ vertical-align: bottom !important; }

	.col-xxl-4p{ -ms-flex: 0 0 4%; flex: 0 0 4%; max-width: 4% }
	.col-xxl-5p{ -ms-flex: 0 0 5%; flex: 0 0 5%; max-width: 5%  }
	.col-xxl-6p{ -ms-flex: 0 0 6%; flex: 0 0 6%; max-width: 6%  }
	.col-xxl-7p{ -ms-flex: 0 0 7%; flex: 0 0 7%; max-width: 7%  }
	.col-xxl-8p{ -ms-flex: 0 0 8%; flex: 0 0 8%; max-width: 8%  }
	.col-xxl-9p{ -ms-flex: 0 0 9%; flex: 0 0 9%; max-width: 9%  }
	.col-xxl-10p{ -ms-flex: 0 0 10%; flex: 0 0 10%; max-width: 10%  }
	.col-xxl-11p{ -ms-flex: 0 0 11%; flex: 0 0 11%; max-width: 11%  }
	.col-xxl-12p{ -ms-flex: 0 0 12%; flex: 0 0 12%; max-width: 12%  }
	.col-xxl-13p{ -ms-flex: 0 0 13%; flex: 0 0 13%; max-width: 13%  }
	.col-xxl-14p{ -ms-flex: 0 0 14%; flex: 0 0 14%; max-width: 14%  }
	.col-xxl-15p{ -ms-flex: 0 0 15%; flex: 0 0 15%; max-width: 15%  }
	.col-xxl-16p{ -ms-flex: 0 0 16%; flex: 0 0 16%; max-width: 16%  }
	.col-xxl-17p{ -ms-flex: 0 0 17%; flex: 0 0 17%; max-width: 17%  }
	.col-xxl-18p{ -ms-flex: 0 0 18%; flex: 0 0 18%; max-width: 18%  }
	.col-xxl-19p{ -ms-flex: 0 0 19%; flex: 0 0 19%; max-width: 19%  }
	.col-xxl-20p{ -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%  }
	.col-xxl-25p{ -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%  }
	.col-xxl-30p{ -ms-flex: 0 0 30%; flex: 0 0 30%; max-width: 30%  }
	.col-xxl-35p{ -ms-flex: 0 0 35%; flex: 0 0 35%; max-width: 35%  }
	.col-xxl-40p{ -ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%  }
	.col-xxl-45p{ -ms-flex: 0 0 45%; flex: 0 0 45%; max-width: 45%  }
	.col-xxl-50p{ -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%  }
	.col-xxl-55p{ -ms-flex: 0 0 55%; flex: 0 0 55%; max-width: 55%  }
	.col-xxl-60p{ -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%  }
	.col-xxl-65p{ -ms-flex: 0 0 65%; flex: 0 0 65%; max-width: 65%  }
	.col-xxl-70p{ -ms-flex: 0 0 70%; flex: 0 0 70%; max-width: 70%  }
	.col-xxl-75p{ -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%  }
	.col-xxl-80p{ -ms-flex: 0 0 80%; flex: 0 0 80%; max-width: 80%  }
	.col-xxl-85p{ -ms-flex: 0 0 85%; flex: 0 0 85%; max-width: 85%  }
	.col-xxl-90p{ -ms-flex: 0 0 90%; flex: 0 0 90%; max-width: 90%  }
	.col-xxl-95p{ -ms-flex: 0 0 95%; flex: 0 0 95%; max-width: 95%  }
	.col-xxl-100p{ -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%  }


	.ar-xxl-5{ padding-top: 5%; position: relative; }
	.ar-xxl-10{ padding-top: 10%; position: relative; }
	.ar-xxl-15{ padding-top: 15%; position: relative; }
	.ar-xxl-20{ padding-top: 20%; position: relative; }
	.ar-xxl-25{ padding-top: 25%; position: relative; }
	.ar-xxl-30{ padding-top: 30%; position: relative; }
	.ar-xxl-35{ padding-top: 35%; position: relative; }
	.ar-xxl-40{ padding-top: 40%; position: relative; }
	.ar-xxl-45{ padding-top: 45%; position: relative; }
	.ar-xxl-50{ padding-top: 50%; position: relative; }
	.ar-xxl-55{ padding-top: 55%; position: relative; }
	.ar-xxl-60{ padding-top: 60%; position: relative; }
	.ar-xxl-65{ padding-top: 65%; position: relative; }
	.ar-xxl-70{ padding-top: 70%; position: relative; }
	.ar-xxl-75{ padding-top: 75%; position: relative; }
	.ar-xxl-80{ padding-top: 80%; position: relative; }
	.ar-xxl-85{ padding-top: 85%; position: relative; }
	.ar-xxl-90{ padding-top: 90%; position: relative; }
	.ar-xxl-95{ padding-top: 95%; position: relative; }
	.ar-xxl-100{ padding-top: 100%; position: relative; }
	.ar-xxl-105{ padding-top: 105%; position: relative; }
	.ar-xxl-110{ padding-top: 110%; position: relative; }
	.ar-xxl-115{ padding-top: 115%; position: relative; }
	.ar-xxl-120{ padding-top: 120%; position: relative; }
	.ar-xxl-125{ padding-top: 125%; position: relative; }
	.ar-xxl-130{ padding-top: 130%; position: relative; }
	.ar-xxl-135{ padding-top: 135%; position: relative; }
	.ar-xxl-140{ padding-top: 140%; position: relative; }
	.ar-xxl-145{ padding-top: 145%; position: relative; }
	.ar-xxl-150{ padding-top: 150%; position: relative; }
	.ar-xxl-155{ padding-top: 155%; position: relative; }
	.ar-xxl-160{ padding-top: 160%; position: relative; }
	.ar-xxl-165{ padding-top: 165%; position: relative; }
	.ar-xxl-170{ padding-top: 170%; position: relative; }
	.ar-xxl-175{ padding-top: 175%; position: relative; }
	.ar-xxl-180{ padding-top: 180%; position: relative; }
	.ar-xxl-185{ padding-top: 185%; position: relative; }
	.ar-xxl-190{ padding-top: 190%; position: relative; }
	.ar-xxl-195{ padding-top: 195%; position: relative; }
	.ar-xxl-200{ padding-top: 200%; position: relative; }

}



