/*fuentes*/

@font-face{font-family: "futura"; src: url('../media/FuturaStd-Medium.woff') format("woff"); font-weight: normal; font-style: normal; }
@font-face{font-family: "futura-litgh"; src: url('../media/FuturaStd-Medium.woff2') format("woff"); font-weight: normal; font-style: normal; }
@font-face{font-family: "hkgrotesk"; src: url('../media/HKGrotesk-Regular.woff') format("woff"); font-weight: normal; font-style: normal; }
@font-face{font-family: "hkgrotesk-light"; src: url('../media/HKGrotesk-Regular.woff2') format("woff"); font-weight: normal; font-style: normal; }
@font-face{font-family: "regular-grotesk"; src: url('../media/HKGrotesk-RegularLegacy.woff') format("woff"); font-weight: normal; font-style: normal; }
@font-face{font-family: "regular-grotesk-litgh"; src: url('../media/HKGrotesk-RegularLegacy.woff2') format("woff"); font-weight: normal; font-style: normal; }
@font-face{font-family: "zap-roman"; src: url('../media/ZapfHumanist601BT-Roman.woff') format("woff"); font-weight: normal; font-style: normal; }
@font-face{font-family: "zap-litgh"; src: url('../media/ZapfHumanist601BT-Roman.woff2') format("woff"); font-weight: normal; font-style: normal; }
