@mixin prefix($declarations,$prefixes:()) {
    @each $property, $value in $declarations {
        @each $prefix in $prefixes { #{'-' + $prefix + '-' + $property}: $value; }
        #{$property}: $value;
    }
}
@mixin transition($params){
    @include prefix(( transition: $params ), webkit moz o);
}
@mixin display-flex{
    display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: -o-flex; display: flex;
}
@mixin display-fleximp{
    display: -webkit-flex !important; display: -moz-flex !important; display: -ms-flex !important; display: -o-flex !important; display: flex !important;
}
@mixin display-flexW{
    @include display-flex;
    @include prefix(( flex-wrap: wrap ), webkit moz o ms);
}
@mixin flex-column {
    @include display-flex;
    flex-direction: column;
}
@mixin display-flexWimp{
    @include display-fleximp;
    @include prefix(( flex-wrap: wrap ), webkit moz o ms);
}
@mixin display-iFlex{
    display: -webkit-inline-flex; display: -moz-inline-flex; display: -ms-inline-flex; display: -o-inline-flex; display: inline-flex;
}
@mixin display-iFlexW{
    @include display-iFlex;
    @include prefix(( flex-wrap: wrap ), webkit moz o ms);
}
@mixin flex-auto {
    -webkit-flex: 1 1 auto;-moz-flex: 1 1 auto;-ms-flex: 1 1 auto;-o-flex: 1 1 auto;flex: 1 1 auto;
}
@mixin flex-auto-cero{
    -webkit-flex: 0 0 auto;-moz-flex: 0 0 auto;-ms-flex: 0 0 auto;-o-flex: 0 0 auto;flex: 0 0 auto;   
}
@mixin wrap-prefix {
    -webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;flex-wrap: wrap;
}
@mixin align-items-center{
    -webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;-ms-align-items: center;align-items: center;
}
@mixin order-cero{
    -webkit-order: 0;-moz-order: 0;-ms-order: 0;-o-order: 0;order: 0;
}
@mixin order-uno{
    -webkit-order: 1;-moz-order: 1;-ms-order: 1;-o-order: 1;order: 1;    
}
@mixin order-dos{
    -webkit-order: 2;-moz-order: 2;-ms-order: 2;-o-order: 2;order: 2;    
}
@mixin order-tres{
    -webkit-order: 3;-moz-order: 3;-ms-order: 3;-o-order: 3;order: 3;    
}