$font1 : 'hkgrotesk', sans-serif;
$font1-light: 'hkgrotesk-light', sans-serif;
$font2 : "futura", sans-serif;
$font3 :'zap-roman', serif;
$color1 : #9d7b2c;
$color2 : #b47f34;
$color3 : #c67f29;
$color4 : #f5ecdb;
$color5: #262424;
$color6: #8e8e8e;
$color7: #dcdfdf;
$color8: #636363;
$colormenu: #f4f5f5;
$colorfondo: #fff;
$font-span: 12px;
$texto: #a6a8aa;