@import "nodes/variables";
/*generales*/
.aparecer{
    display: none;
}
.ocultar{
    display: block;
}

/*header*/

.header {
    position: absolute;
    width: 100vw;
    transition: all .3s ease-in-out;
    
    &--no-index {
        position: unset;

        .header__actions .header__logo span svg path {
            fill: $color1;
        }

        .header__nav-item {
            color: $color5;
        }

        .icon {
            color: $color5;
        }

        .icon--gold {
            color: $color1;
        }

        .header__nav-bar {
            background-color: #fff;
            border-top: 2px solid rgba(0, 0, 0, 0.1);
        }

        .header__nav-bar-item a {
            color: $color5;
            font-weight: 700;
        }

        .header__dropdown {
            border-top: 2px solid $color7;
            background-color: rgba($colormenu, .7);

            ul {
                li a.subcategory {
                    font-size: 14px;
                    color: $color8;
    
                    &:hover {
                        color: $color8;
                    }
                }
            }
        }
    }
    
    &__actions {
        padding: 37px 50px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        position: relative;
        z-index: 9;
        
        @media only screen and (max-width: 992px) {
            max-height: 85px;
            width: 100vw;
            padding: 30px 10px;
        }
    }

    &__action-group {
        display: flex;
        align-items: center;
    }

    &__icon-menu {
        margin-right: 30px;
    }

    &__icon {
        margin: 0 10px;

        &.fa-user {
            @media only screen and (max-width: 992px) {
                display: none;
            }
        }
    }
    
    &__language-selector {
        span {
            padding-bottom: 5px;
            position: relative;
            margin-right: 20px;

            &:first-child::after {
                content: "";
                width: 1px;
                border: 1px solid $texto;
                position: absolute;
                left: 28px;
                height: 18px;
                top: 0px;
            }
        }
        @media only screen and (max-width: 992px) {
            display: none;

            &--mobile {
                display: block;
            }
        }

    }

    &__language--selected {
        border-bottom: 1px solid $color1;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 9;
        transform: translateY(30px);

        
        @media only screen and (max-width: 992px) {
            transform: translate(20px, -40px);
        }
        
        span svg {
            @media only screen and (max-width: 992px) {
                width: 60px;
            }
        }
    }

    &__nav {
        display: flex;
        justify-content: space-around;
        margin: 40px auto 0 auto;
        width: 33%;

        &.nav-tabs {
            border: none;
        }
        
        &-item {
            border-color: $color1;
            border-width: 2px;
            padding: 0 16px 40px 16px;           
            color: $colorfondo;
            text-transform: uppercase;

            &.nav-link {
                border: none;
            }

            &.nav-link:hover, 
            &.nav-link:focus {
                border-color: unset;
                border-top: none;
                border-right: none;
                border-left: none;
            }

            &.nav-link.active {
                color: $color1;
                background-color: unset;
                border-color: unset;
            }

            &.active {
                color: $color1;
                border-bottom: 2px solid $color1;
            }

            &:hover {
                border-bottom: 2px solid $color1;
            }

        }

        @media only screen and (max-width: 992px) {
            display: none;
        }
    }

    &__nav-bar {
        width: 100%;
        background-color: rgba(0,0,0,0.4);

        ul {
            justify-content: space-evenly;
            display: flex;
            width: 100%;
        }
        
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 30px;

            a {
                color: $colorfondo;
                text-decoration: none;
                text-transform: uppercase;
            }

            &:hover a {
                color: $color1;
            }
        }
    }

    &__menu {
        background-color: $colormenu;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-content {
            position: relative;
            top: 40%;

            > .row {
                display: none;

                @media only screen and (min-width: 993px) {
                    display: flex;
                }
            }

            @media only screen and (max-width: 992px) {
                top: 12%;
                padding-left: 0;
                padding-right: 0;
                border-top: 1px solid rgba(0,0,0,0.08);
            }
        }

        &-open-nav {
            a h3 {
                margin-bottom: 24px;
                font-family: $font1;
            }

            &--extra {
                margin-top: 48px;
                a h3 {
                    font-family: $font1-light;
                    font-weight: 300;
                }
            }
        }
        
        &.transparent {
            opacity: 0;
            z-index: -1;

            @media only screen and (max-width: 992px) {
                transform: translateX(-100vw);
                opacity: 1;
            }
        }

        &.opaque {
            opacity: 1;
            z-index: 9;

            @media only screen and (max-width: 992px) {
                background-color: #fff;
            }
        }

    }

    &__menu-mobile {
        background-color: #fff;
        display: none;

        @media only screen and (max-width: 992px) {
            display: block;
        }

        &-extras {
            display: flex;
            justify-content: space-evenly;
            background-color: #fff;
            position: relative;

            @media only screen and (min-width: 993px) {
                display: none;
            }
        }
    }

    &__accordion {
        font-family: $font1;

        i {
            transition: transform .3s;
        }

        &-menu,
        &-submenu {
            display: flex;
            cursor: pointer;
            justify-content: space-between;
            align-items: center;
            padding: 20px; 
        }

        &-submenu-container {
            background-color: $colormenu;
            color: $color1;
        }

        &-categories {
            position: relative;

            ul {
                padding: 20px;
                
                li {
                    margin-bottom: 5px;
                }
        
                a {
                    margin: 0;
                    padding: 0;
                    &:last-child {
                        padding-bottom: 20px;
                    }
                }
            }

            &::before {
                content: "";
                width: calc(100% - 40px);
                height: 2px;
                background-color: rgba(0,0,0,0.1);
                position: absolute;
                top: -5px;
                left: 20px;
            }
        }

        &-menu[aria-expanded = true] i,
        &-submenu[aria-expanded = true] i {
            transform: rotateZ(180deg);
        }
    }

    &__dropdown {
        background-color: rgba(0,0,0,0.4);
        padding: 20px;
        position: absolute;
        z-index: 9;
        top: 60px;

        ul {
            padding: 0;
            display: flex;
            flex-direction: column;

            li a.subcategory {
                text-transform: capitalize;
                font-size: 14px;
                color: #fff;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .opaque ~ &__actions &__logo span svg path {
        fill: $color1;
    }

}

/*newsl*/
.newslet {
    background-image: url(../media/newsletter-fondo.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

    .imagen{
        height: 100%;
    }

    .contenido{
        height: 100%;
        padding: 76px;
        text-align: center;

        .h5{
            color: #fefefe;
            font-weight: 400;
            font-size: 28px;
            font-family: $font3;
            height: 45px;
        }

        .articulo{
            font-size: 19px;
            color: #fefefe;
            font-family: $font1;
            font-weight: 200;
            letter-spacing: -0.07px;
            line-height: 34px;
            height: 95px;
        }

        .footer__correo{
            height: auto;

            .btn-line{
                line-height: 64px;
            }
            
            input{
                padding-left: 10px;
                font-family: $font1;
                height: 68px;
            }
        }
    }
}

/*footer*/

footer {
    background-color: #f1efec;
    .metodos{
        height: 100%;
    }

    .informacion-general{
        padding: 76px;

        .xsmall{
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-family: $font3;
        }

        .mainHeader-menu{
            padding-top: 41px;
            ul{
                li{
                    margin-bottom: 13px;

                    a{
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.44px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .infoma{
            padding-top: 41px;

            .xxsmall{
                padding-bottom: 20px;
            }

            dt{
                color: #323232;
                letter-spacing: 0.44px;
                text-transform: uppercase;
            }
        }
    }

    .informacion-metodos{
        padding: 26px 76px;
        border-top: solid 1px #cdcbca;
    }
}


/*home*/

    /*banner*/

    .banner{
        background-image: linear-gradient(rgba(0,0,0,0.23), rgba(0,0,0,0.4)),url(../media/banner_home.png);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*grid four*/

    .grid{
        padding-top: 90px;

        .imagen{
            position: relative;

            .makeBg{
                display: block;
                height: 74vh;
            }

            .botone{
                position: absolute;
                z-index: 3;
                top: 50%;
                height: 100%;
                width: 100%;
                text-align: center;
            }

        }
        .full{
            background-image: url(../media/fond-4.png);
            height: 74vh;
            padding: 83px;

            .altoF{
                height: 100%;

                .parrafos{
                    max-width: 200px;
                    
                    .title{
                        color: #fefefe;
                        font-size: 34px;
                    }
                    .articulo{
                        color: #fefefe;
                        text-align: center;
                    }
                }
            }
        }
    }

    /*libre*/
    .libre{
        padding-top: 90px;

        .imagen-medium {
            height: 920px;
        }

        .imagen-small {
            text-align: end;
        }
    }

    /*grid trios*/

    .trios{
        padding-top: 90px;

        .imagen{
            height: 595px;
        }
    }

   /*seccion de informacion*/
    .contenidoInformativo{
        padding-top: 90px;

        .titulos{
            max-width: 300px;
            margin: 0 auto;

            .articulo{
                font-family: $font2;
                letter-spacing: 0.18px;
            }
        }
        .parrafos{
            .text-m{
                padding-bottom: 30px;
            }
        }

    }

    /*instagram*/
    .instragram{
        padding-top: 90px;

        #instafeed{
            height: 300px;
            overflow: hidden;
            margin-bottom: 40px;
    
            .instafeed-item{
        
                &:nth-child(1){
                    img{
                        padding-left: 0;
                        padding-top: 20px;
                    }
                }
        
                img{
                    width: 25%;
                    padding-left: 20px;
                }
            }
        }
        .title{
            padding-bottom: 25px;
        }
        .text-m{
            color: #c67f29;
            padding-bottom: 25px;
        }
    }

 
/*miga de pan*/
.breadcrumb{
    background-color: transparent;
    justify-content: center;
    align-items: flex-end;
     
    a{
        font-size: 12px;
        font-weight: 400;
        font-family: $font1;
        color: #919191;
    }

    span{
        font-size: 12px;
        color: #919191;
    }

    .active{
        font-weight: 500;
        text-transform: none;
        letter-spacing: 0;
        font-family: $font1;
        color: #231f20;
    }
}    

/*Sub Categorias*/
    /*Filtros*/

    .titulos{
        
        .title-l{
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 400;
            font-family: $font3;
        }
    }
   
    .encabezado{
        width: 75%;
        padding-bottom: 25px;

        .xtitle{
            color: #848484;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.06px;
            padding-bottom: 15px;
            border-bottom: 1px solid #848484;
        }
    }

    .list{
        &.sale{
            padding: 25px 0;

            a{
                font-size: 14px;
                letter-spacing: -1.2px;
                color: #cd3532;
                font-weight: 400;
                font-family: $font1;
                text-transform: capitalize;
            }
        }

        .stitle{
            color: #231f20;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -1.2px;
            padding-bottom: 15px;
        }

        ul {
            color: #231f20;
            letter-spacing: -1.2px;
            padding-left: 0;

            li{
                line-height: 30px;

                a{
                    font-size: 14px;
                    font-weight: 300;

                    &.active{
                        color: #c67f29;
                        font-weight: 500;
                    }

                    &:hover{
                        border-bottom: 1px solid #c67f29;
                    }
                }
            }
        }
    }

    .drowp{
        padding-top: 60px;

        button{
            border-color: transparent;
            border-style: solid;
            border-width: 1px;
            padding: 0;
            font-weight: 400;
            justify-content: space-between;
            width: 75%;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            background-color: transparent;

            &.active{

                .fa-chevron-down{
                    transform: rotate(180deg);
                }
            }
        }

        .bloque{
            //padding-top: 25px;
            transition: max-height 0.2s ease-out;

            .checkSkin.radioSkin .checkSkin-label::before {
                width: 17px;
                height: 17px;
                border: solid 2px #fff;
                opacity: 100;
                background-color: #000;
                font-size: 0;
                position: static;
                margin-right: 7px;
            }

            .checkSkin.radioSkin  .checkSkin-label{
                padding-left: 0;
            }

            .checkSkin.radioSkin.cBlack>span::before {
                background-color: #000!important;
                border: #e2e0e0 solid 1px;
            }

            .checkSkin.radioSkin.cWhite>span::before {
                background-color: #fff!important;
                border: #e2e0e0 solid 1px;
            }

            .checkSkin.radioSkin.cGray>span::before {
                background-color: #e3e3e3!important;
                border: #e2e0e0 solid 1px;
            }

            .checkSkin.radioSkin.cBlue>span::before {
                background-color: #1c588a!important;
                border: #e2e0e0 solid 1px;
            }

            .checkSkin.radioSkin.cPurple>span::before {
                background-color: #301c8a!important;
                border: #e2e0e0 solid 1px;
            }

            .checkSkin.radioSkin.cOrange>span::before {
                background-color: #fea02f!important;
                border: #e2e0e0 solid 1px;
            }

            .checkSkin.radioSkin input:checked + .checkSkin-label::before {
                box-shadow: 0 0 0 2px #c67f29;
                border: #fff solid 2px;
            }
        }
    }

    .symstem{
         
        .imagen{

            .makeBg {
                background-size: contain;
                background-position: 50% 50%;
                height: 351px;
                display: block;
                height: 214px;
                background-repeat: no-repeat;
            }
        }

        .group{
            padding-bottom: 40px;
        }
    }


    /*boton up*/

    .bottoTop {
        position: relative;
        bottom: 10px;
        right: 10px;
        left: auto;
        cursor: pointer;
        display: none;

        #back-top {
            width: 65px;
            height: 65px;
            display: block;
            background-color: #c67f29;
            position: fixed;
            bottom: 50px;
            left: auto;
            right: 7%;
            z-index: 1;

            .fa-chevron-up {
                font-size: 30px;
                color: #fff;
                position: absolute;
                left: auto;
                right: 19px;
                top: auto;
                bottom: 20px;
            }
        }
    }

/*Categorias fashion*/
    /*banner*/

.banner-fashion{

    .contenido{
        max-width: 590px;
        max-height: 400px;

        .titulos{
            max-width: 437px;
            text-align: center;
            margin: 0 auto;
            padding-bottom: 90px;
        }
    }

    .justificar{
        margin: 0 auto;
        width: 615px;
        display: flex;
        justify-content: flex-end;
        padding-top: 70px;
        
    }
    .segundo{
        height: 394px;
    }

    .first{
        height: 672px;
    }
}

/*Datalle de producto*/
.detalle{
    padding-bottom: 90px;

    .galeri{
        padding-bottom: 90px;

        .imagen{

            .makeBg{
                height: 668px;
                display: block;
                background-repeat: no-repeat;
                background-size: contain;        
            }
        }
    }

    .opciones{

        .titulos{
            padding-bottom: 50px;
            border-bottom: 2px solid #e6e7e7;
        }

        .precio{
            padding: 25px 0;
            border-bottom: 2px solid #e6e7e7;
            .articulo{
                color: #6c6e70;
                font-size: 19px;
                letter-spacing: -0.09px;
            }
        }
        .seleccion{
            padding-top: 54px;
            border-bottom: 2px solid #e6e7e7;
        }
    }

    .botones{
        padding: 30px 0;

        .articulo{
           padding: 30px 0 ;
           font-weight: 300;
           color: #221e1f;
           font-size: 19px;
           letter-spacing: -0.08px;
        }
    }

    .labels{
        flex-direction: column;
        justify-content: space-around;
        display: flex;
        height: 100px;

        .articulo{
            text-transform: uppercase;
            letter-spacing: 1.04px;
            color: #231f20;
            font-size: 19px;
        }
    }

    .selecciones{

        flex-direction: column;
        justify-content: space-around;
        display: flex;
        height: 100px;
        
    }

    .informacion{
        padding-top: 30px;

        .accordionDetalle {
            background-color: transparent !important;
            color: #a3802d;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 19px;
            text-transform: uppercase;
            letter-spacing: 0.84px;
            font-weight: 400;
            font-family: $font3;
            transition: 0.4s;
            border-top: 2px solid #e6e7e7;
          }
          
          .active, .accordionDetalle:hover {
            background-color: #ccc;
          }
          
          .accordionDetalle:after {
            content: '\002B';
            color: #a3802d;
            font-weight: bold;
            float: right;
            margin-left: 5px;
          }
          
          .active:after {
            content: "\2212";
          }
          
          .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;

            p.articulo{
                margin-bottom: 30px;
            }
          }


    }
}

/*About*/

.about{
    padding-bottom: 90px;

    .contenidor{
        height: 100%;
        padding-bottom: 40px;

        .contenido{
            width: 90%;
            .articulo{
                font-size: 19px;
                letter-spacing: 0.06px;
                line-height: 34px;
                color: #221e1f;
            }
        }
    }
}

/*detalle*/
.detalle .labels{
    height: 30px;
}


.detalle .botones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newslet.about{
    padding-bottom: 0;

   .contenido{
        padding: 36px;
        max-height: 617px;

       .h5 {
            height: 150px;
        }
    }
    .imagen {
        height: 100%;
        max-height: 617px;
    }
}

/*press*/

.press{
    
    .imagen .makeBg {
        background-size: contain;
        background-position: 50% 50%;
        height: 425px;
        display: block;
        background-repeat: no-repeat;
    }

    .parrafo{

        .xsmall{
            color: #a6a8ab;
            font-weight: 500;
            letter-spacing: 0.6px;
        }
    }
}

/*contacto*/
    /*banner*/
    .bannerContacto{

        .imagen.makeBg {
            background-size: cover;
            background-position: 0% 0%;
            height: 100%;
            background-repeat: no-repeat;
        }
    }

    .bannerContacto{
        .contenido{
            background-color: #fff6e5;
            min-height: 534px;
            color: #a37c2c;
            padding: 0 36%;

            .articulo{
                color: #a37c2c;
            }

            .h5{
                font-size: 35px;
            }
        }
    }

    /*contenido principal*/
    .contacto{
        padding-top: 90px;
        padding-bottom: 90px;

        .informacion{
            padding-bottom: 62px;

            .titulos{
                padding-bottom: 20px;
            }

            .textos{
                max-width: 297px;

                .acticulo{
                    color: #221e1f;
                }
            }

            .infoma{
                font-size: 19px;
                color: #221e1f;
                letter-spacing: 0.08px;
                padding-top: 24px;

                .linea{
                    width: 55%;
                    border-bottom: 1px solid #e0e0e0;
                    margin-bottom: 1em;

                    dt{
                        text-transform: capitalize;
                    }

                    dd{
                        width: 58%;
                        text-align: right;
                    }
                }
            }

        }
        .validate {
            margin-left: auto;
            margin-right: 0;
        }
    }

    /*shipping*/

    .shipping{

        .contenido{
            padding: 50px 0 150px 0;

            .textos{
                line-height: 34px;
            }
            .parrafo{
                max-width: 581px;
                margin: 0 auto;
            }
        }
    }

/*terminos*/

.terminos{
    padding-top: 50px;
    padding-bottom: 90px;
    
    .contenido {
        padding: 90px 0;

        .titulos{
            padding-bottom: 23px;
        }

        .parrafo{
            line-height: 34px;
            letter-spacing: 0.08px;

            ol {
                padding-left: 21px;
            }
        }
    }
}

/* Subcategorias */

.subcategorias {

    &__botones-filtro {
        display: none;
    }

    .filtros__cerrar {
        display: none;
    }
    @media screen and (max-width: 600px) {
        &__contenedor-filtro {
            position: relative;
            
            .filtros {
                position: absolute;
                left: -300px;
                background-color: #fff;
                transition: all .4s;
                z-index: 8;
                top: -84px;
            }

            &.expanded {
                .filtros {
                    padding-left: 0px;
                    width: 85.8vw;
                    padding-right: 40px;
                    left: 0;
                }
            }
        }

        &__botones-filtro {
            display: block;
            margin-bottom: 30px;
            text-align: center
        }

        .filtros__cerrar {
            display: block;
        }

        .filtros__icon {
            float: right;
            cursor: pointer;
        }
    }

    @media screen and (min-width: 601px) and (max-width: 767px) {
        &__contenedor-filtro {
            position: relative;

            .filtros {
                position: absolute;
                left: -300px;
                background-color: #fff;
                transition: all .4s;
                z-index: 8;
                top: -84px;
            }
            
            &.expanded {
                .filtros {
                    left: 20px;
                    width: 85vw;
                }
            }
        }

        &__botones-filtro {
            display: block;
            margin-bottom: 30px;
            text-align: center
        }

        .filtros__cerrar {
            display: block;
        }

        .filtros__icon {
            float: right;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 575px) {
        &__contenedor-filtro {
           

            &.expanded {
                .filtros {
                    padding-left: 40px; 
                    left: 0px;
                    width: 100vw;
                    padding-right: 28px;
                }
            }
        }

    }

}


/*responisve min*/
@media only screen and (min-width: 992px) and (max-width: 1067px){
    footer .informacion-general .infoma dt{
        width: 53%;
    }

    footer .informacion-general .infoma dd{
        width: 41%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .press .imagen .makeBg{
        height: 247px;
    }

    .newslet .contenido .footer__correo input{
        margin-bottom: 25px;
    }
    .newslet .contenido .articulo{
        line-height: 23px;
    }
    .newslet .contenido .h5{
        height: 80px;
    }

    footer .informacion-general{
        padding: 76px 15px;

    }

    footer .informacion-general .infoma dt{
        width: 53%;
    }

    footer .informacion-general .infoma dd{
        width: 41%;
    }

    footer .informacion-general .mainHeader-menu ul .link{
        width: 90%;
    }

    .imagen.first{
        justify-content: end !important;
    }

    .banner-fashion .contenido{
        margin-right: 0;
        margin-left: auto;
        padding-top: 40px;
        max-height: 100%;
        height: auto;
    }
    .banner-fashion .justificar{
        justify-content: end ;
        padding-bottom: 90px;
    }

    .newslet.about .contenido {
        padding: 20px;
        max-height: 617px;
    }

    .newslet.about .contenido .h5{
        font-size: 20px;
    }

    .newslet.about .contenido .articulo{
        height: 40px;
    }

    .parrafo{

        .small{
            font-size: 12px;
        }
    }

}

@media only screen and (min-width: 320px) and (max-width: 767px){
    /*index*/
    .libre .imagen-medium{

        height: auto;
    }
    /*shipping*/
    .shipping .contenido{
        padding: 50px 0;
    }


   /*contacto*/
   .bannerContacto .imagen.makeBg{
        height: 533px;
   }

   .bannerContacto .contenido{
        min-height: 300px;
        padding: 0px 10%;
   }
    .newslet.about .imagen, .newslet.about .contenido{
        height: 617px;
    }

    .about .contenidor .contenido{
        padding-top: 40px;
    }

    .newslet.about .contenido .h5{
        height: 196px !important;
    }

    .contenidoInformativo .titulos{
        margin: 0;
        padding-bottom: 40px;
    }

    .libre .imagen-small {
        text-align: start;
        margin-bottom: 40px;
    }

    .libre .imagen-medium {
        text-align: right;
    }

    .pl-md-0{
        padding-left: 0 !important;
    }
    .pr-md-0{
        padding-right: 0;
    }

    .instragram #instafeed{
        height: 180px;
    }

    .imagen.first{
        justify-content: end !important;
    }

    .banner-fashion .contenido{
        margin-right: 0;
        margin-left: auto;
        padding-top: 40px;
        max-height: 100%;
        height: auto;
    }
    .banner-fashion .justificar{
        justify-content: end ;
        padding-bottom: 90px;
    }
    .newslet.about .contenido {
        padding: 1px;
        max-height: 617px;
    }

    .newslet.about .contenido .articulo{
        height: 51px;
    }
    .newslet.about .contenido .h5 {
        height: 119px;
    }
}







/*Responisve*/

@media only screen and (max-width: 768px){
    .ocultar{
        display: none;
    }

    .aparecer{
        display: block;
    }

    .detalle .galeri .titulos{
        padding-bottom: 50px;
    }
    .newslet{
        background-position: top;

        .gutter-20{
            margin: 0
        }

       .imagen{
            height: 483px;
       }

       .contenido{
            padding: 76px;
            height: 460px;

            .footer__correo{
                height: auto;

                input{
                    margin-bottom: 15px;
                }
            }
       } 
    }
}

@media only screen and (max-width: 575px){
    
   
    .newslet {

        .contenido {
            padding: 40px 20px;
            height: auto;

            .articulo{
                
                font-size: 14px;
                line-height: 20px;
                padding-top: 10px;
            }

            .h5{
                font-size: 24px;
            }
        }
    }

    footer {

        .informacion-general {
            padding: 40px 17px;

            .mainHeader-menu {
        
                ul {
            
                    li{
                        width: 70%;
                    }
                }
            }
        }

        .informacion-metodos{
            padding: 40px 17px;
            
            .gutter-40{
                margin: 0;
            }

            .metodos, .acciones {
                flex-wrap: wrap;
                text-align: center;
                justify-content: center !important;
                padding-bottom: 25px;
            }

            .metodos{
                .xxsmall{
                    padding-bottom: 21px;
                }
            }

            .align-rigth{
                text-align: right;
            }
        }
    }
}

@media only screen and (max-width: 475px){
    .contacto .informacion .infoma .linea {
        width: 85%;
    }
}


@media only screen and (max-width: 322px){
    .press .imagen .makeBg{
        height: 350px;
    }
}