/*import*/
@import "nodes/fonts";
@import "nodes/variables";
@import "nodes/bootstrap-extend";


.lazy {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ============================= 
This site utilities 
================================ */

.dark {
  color: $color1;
}
.light {
  color: $color3;
}
.yellow {
  color: $color2;
}
.bgDark {
  background-color: $color1;
}
.bgLight {
  background-color: $color3;
}
.bgYellow {
  background-color: $color2;
}
.noto {
  font-family: $font1;
}
.lato {
  font-family: $font2;
}

.h1 {
  font-family: $font3;
  font-size: 90px;
  font-weight: 400;
  line-height: 63px;
  margin: 0;
  text-transform: uppercase;
}

.h2 {
  font-family: $font3;
  font-size: 60px;
  font-weight: 400;
  line-height: 63px;
  margin: 0;
  text-transform: uppercase;
}

.h2-s {
  font-family: $font3;
  font-size: 50px;
  font-weight: 400;
  line-height: 57px;
  margin: 0;
  text-transform: uppercase;
}
.h3 {
  font-family: $font2;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  text-transform: uppercase;
}

.h3-s {
  font-family: $font2;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.h5 {
  font-family: $font2;
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  text-transform: uppercase;
}

.h6 {
  font-family: $font2;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  text-transform: uppercase;
}

.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

/*dl dd dt tr th*/

dl,
tr {
  font-size: 12px;
  line-height: 22px;
  font-family: $font1;
}

dt,
th {
  color: #000000;
  font-weight: 400;
}


dt{
  width: 40%;
  display: inline-block;
  //margin: 0;
  
}

dd {
  color: #5c5c5c;
  font-weight: 300;
  width: 30%;
  display: inline-block;
  //margin: 0;
  //text-align: right
}

/*texto*/
p.xlange {
  font-size: 20px;
}

p.articulo {
  font-size: 18px;
}

p.medium {
  font-size: 16px;
}

p.paragraph {
  font-size: 16px;
}

p.small {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #a3802d;
  font-family: $font3;
}

p.xsmall {
  font-size: 14px;
  font-weight: 400;
}

p.xxsmall{
  font-size: 12px;
}

p {
  color: #292e43;
  font-size: 15px;
  font-weight: 400;
  font-family: $font1;
  margin-bottom: 0;
}

span {
  font-size: 13px;
  font-weight: 400;
  font-family: $font2;
  color: #636363;
}

label {
  color: #434343;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-family: $font3;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/* slick theme */
.slick-arrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 60px;
  margin-top: -30px;
  border: none;
  background: transparent;
  z-index: 3;
  opacity: 0.66;
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 1;
  }
}
.slick-dots{
  position: absolute;
  bottom: 25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

      button{
          font-size: 0;
          line-height: 0;
          display: block;
          width: 20px;
          height: 20px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent

        }
       button:before{
        font-family: 'slick';
        font-size: 53px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: gray;
        -webkit-font-smoothing: antialiased;
       }
    }
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: $color1;
}


.slick-prev {
  background: url('/media/arrow-left.png') no-repeat 50% 50%;
  left: 50px;
}
.slick-next {
  background: url('/media/arrow-right.png') no-repeat 50% 50%;
  right: 50px;
}

.slick-slider
{
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
//final

/*gutters*/

.gutter40 {
  margin-left: -40px;
  margin-right: 0;
  width: auto;
  clear: both;
}

.gutter30 {
  margin-left: -30px;
  margin-right: 0;
  width: auto;
  clear: both;
}

.gutter20 {
  margin-left: -20px;
  margin-right: 0;
  width: auto;
  clear: both;
}

.gutter15 {
  margin-left: -15px;
  margin-right: 0;
  width: auto;
  clear: both;
}

.gutter10 {
  margin-left: -10px;
  margin-right: 0;
  width: auto;
  clear: both;
}

.gutter5 {
  margin-left: -5px;
  margin-right: 0;
  width: auto;
  clear: both;
}

.gutter0 {
  margin: 0;
}

.gutter40 > [class*='col-'],
.gutter40 > .col {
  padding-left: 40px;
  padding-right: 0;
  padding-bottom: 40px;
}

.gutter30 > [class*='col-'],
.gutter30 > .col {
  padding-left: 30px;
  padding-right: 0;
  padding-bottom: 30px;
}

.gutter20 > [class*='col-'],
.gutter20 > .col {
  padding-left: 20px;
  padding-right: 0;
  padding-bottom: 20px;
}

.gutter15 > [class*='col-'],
.gutter15 > .col {
  padding-left: 15px;
  padding-right: 0;
  padding-bottom: 15px;
}

.gutter10 > [class*='col-'],
.gutter10 > .col {
  padding-left: 10px;
  padding-right: 0;
  padding-bottom: 0;
}

.gutter5 > [class*='col-'],
.gutter5 > .col {
  padding-left: 5px;
  padding-right: 0;
  padding-bottom: 5px;
}

.gutter0 > [class*='col-'],
.gutter0 > .col {
  padding-left: 0;
  padding-right: 0;
}

.gutter-p {
  margin-right: 20px;
}

.gutterT-B {
  padding-top: 53px;
  padding-bottom: 21px;
}

.makeBg {
  background-size: cover;
  background-position: 50% 50%;
}

/*--------------------------------------------------------------------------------
 * GENERAL
 * -----------------------------------------------------------------------------*/
body {
  font-size: 16px;
  font-family: $font1;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  font-family: $font1;
  letter-spacing: 0;
  font-weight: 300;
  color: #252525;

  &.link {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color: $color2;
    font-weight: 500;
  }
}

.link{
  border-bottom: 1px solid #cacaca;
  width: 58%;
  padding-bottom: 8px;
}

ul {
  list-style: none;
  font-weight: 400;
  font-size: 13px;
  color: #383838;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-family: $font2;
  li {
    padding-right: 10px;
  }
}

button,
.btn,
a {
  transition: all 0.4s;
}
*:focus {
  outline: none !important;
}
.tableHold {
  overflow-y: auto;
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
  }
}

.profundo {
  background-color: #f8f8f8;
  border-radius: 3px;
  height: 63px;
  padding: 11px;
}


@media (min-width: 992px) {
  .container {
    max-width: 1300px;
  }
}

.container-l {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.container-s {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-m {
  font-size: 20px;
  color: #221e1f;
  text-transform: none;
  font-family: $font1;
  font-weight: 400;
}

.icon-delete {
  color: #d2d2d2;
  &:hover {
    color: #151515;
  }
}

.icon {
  font-size: 20px;
  cursor: pointer;

  &--white {
    color: #fff;
  }

  &--grey {
    color: $texto;
  }

  &--black {
    color: $color5;
  }

  &--gold {
    color: $color1;
  }
}

.text-s {
  font-size: 14px;
  color: #231f20;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-family: $font3;
}

.descrip-s {
  font-size: 11px;
  color: #3c3e3e;
  font-weight: 300;
  font-family: $font2;
}

.title{
  font-family: $font3;
  font-size: 35px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0;
}

.title-s {
  font-size: 10px;
  color: #aaaaaa;
  font-family: $font2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.54px;
}

.title-g {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1;
  font-family: $font3;
  color: #231f20;
}

.title-l {
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  font-family: $font2;
}

.text,
.text-l {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  color: $color1;
  &.textWhite {
    color: white;
  }
  img {
    display: block;
    width: auto;
    max-width: 50%;
    height: auto;
    margin-left: 15px;
    margin-bottom: 15px;
    float: right;
  }
  ul:not(.ulReset) {
    display: block;
    margin: 20px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin: 0.5em 0;
      padding-left: 20px;
      position: relative;
    }
    li::before {
      content: '•';
      display: block;
      width: 15px;
      height: 1em;
      font-size: 1.3em;
      line-height: 1;
      text-align: left;
      color: #000;
      position: absolute;
      top: 1px;
      left: 0;
    }
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  blockquote {
    display: block;
    margin: 30px 20px;
    padding: 0 20px;
    border-left: 3px solid $color2;
    font-size: 20px;
    font-style: italic;
    position: relative;
    &::after {
      content: '\201D';
      display: inline-block;
      height: 25px;
      font-size: 60px;
      font-style: normal;
      line-height: 1;
      color: $color1;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  ul,
  p,
  ol {
    margin-top: 0;
    margin-bottom: 0.66em;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  > *:first-child {
    margin-top: 0;
  }
  table {
    border-spacing: 0;
    border-collapse: separate;
    width: auto;
    max-width: 90%;
    height: auto;
    padding: 0;
    border: solid #dfd8cb;
    border-width: 0 1px 1px 0;
  }
  th {
    padding: 10px 30px;
    border: solid #dfd8cb;
    border-width: 1px 0 0 1px;
    text-align: left;
  }
  td {
    padding: 10px 30px;
    border: solid #dfd8cb;
    border-width: 0;
    border-left-width: 1px;
    text-align: left;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.66em 0 0.5em;
  }
  h1 {
    font-size: 60px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 18px;
    font-weight: 400;
  }
  h6 {
    font-size: 16px;
    font-weight: 400;
  }
}





.letter-spacing {
  letter-spacing: 0.33em;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $font2;
}

.btn {
  font-family: $font1;
  display: inline-block;
  width: auto;
  border-radius: 0;
  min-width: 255px;
  background-color: #ffffff;
  padding: 0 20px;
  border: 1px solid transparent;
  font-size: 13px;
  line-height: 48px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #231f20;
  letter-spacing: 3.2px;
  cursor: pointer;
  outline: 0;
  position: relative;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  
  &:hover {
    background-color: $color3;
    color: #fbeed5;
  }

  &.btn-s{
    min-width: 171px;
    font-size: 12px;
    background: transparent;

    &:hover{
      background-color: $color3;
      color: #fbeed5;
    }
  }

  &:focus {
    box-shadow: none;
  }

  &.btn-color {
    border: 1px solid #a3802d;
    color: #a3802d; 

    &:hover{
      background-color: #a3802d;
      color: #ffffff;
      border: 1px solid #a3802d;
    }
  }

  &.btn-line {
    border: 2px solid #ffffff;
    color: #fefefe;
    background: transparent;
  
    &:hover{
      background-color: #ffffff;
      color: #231f20;
    }
  }
}


.btn-secundary {
  font-family: $font2;
  border: 2px solid $color2;
  color: #fefefe;
  background-color: #c67f29;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  height: 61px;
  line-height: 62px;
  min-width:  100%;

  &:hover {
    background-color: #a5691f;
    color: #fefefe;
  }

  &.btn-line{
    border: 1px solid #231f20;
    color: #231f20;

    &:hover{
      border: 1px solid #c67f29;
      color: #c67f29;
    }
  }
}


.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: transparent;
  color: #000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.close-cross {
  width: 20px;
  height: 20px;
  position: relative;
  display: block;
  &::after,
  &::before {
    content: '';
    background: #000;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 2px;
    right: 2px;
    margin-top: -1px;
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover::after,
  &:hover::before {
    background: #a6a6a6;
  }
}

// ::placeholder {color: #cfd6d6; font-size: 15px; font-weight: 200; font-family: "Lato";}
// :-ms-input-placeholder {color: #cfd6d6; font-size: 15px; font-weight: 200; font-family: "Lato";}
// ::-webkit-input-placeholder{color: #cfd6d6; font-size: 15px; font-weight: 200; font-family: "Lato";}
// ::-moz-placeholder{color: #cfd6d6; font-size: 15px; font-weight: 200; font-family: "Lato";}

// input{ cursor: text; padding: 1px; border-width: 2px; border-style: inset; border-color: transparent; border-image: initial; background-color: transparent;}

.inputSkin {
  position: relative;
  font-family: $font3;

  textarea {
    display: block;
    border: 1px solid transparent;
    background-color: #eee;
    border-bottom-color: $texto;
    width: 100%;
    height: auto;
    min-height: 90px;
    padding: 15px 10px;
    font-size: 16px;
    line-height: 1.3;
    resize: none;
    outline: 0;
    color: #484a4a;
  }

  input {
    border-bottom: 1px solid #bfbfbf;
    border-left: transparent 1px solid;
    border-right: transparent 1px solid;
    border-top: transparent 1px solid;
    background-color: transparent;
    color: #2d292a;
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-indent: 5px;
  }

  input::-webkit-input-placeholder {
    font-style: italic;
    color: #b1b1b1;
    font-weight: 400;
  }
  input::-moz-placeholder {
    font-style: italic;
    color: #b1b1b1;
    font-weight: 400;
  }
  input:-ms-input-placeholder {
    font-style: italic;
    color: #b1b1b1;
    font-weight: 400;
  }
  input:-moz-placeholder {
    font-style: italic;
    color: #b1b1b1;
    font-weight: 400;
  }
  input::placeholder {
    font-style: italic;
    color: #b1b1b1;
    font-weight: 400;
  }
  input:focus {
    background-color: #f8f8f8;
  }
}


.inputNumber {
  position: relative;
  border: 1px solid #a6a8ab;
  width: 157px;
  height: 57px;
  
  input {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 60px;
    padding: 0;
    font-family: $font1;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 500;
    outline: 0;
    color: #231f20;
  }
  .inputNumber-plus,
  .inputNumber-minus {
    display: block;
    width: 35px;
    height: 100%;
    font-size: 22px;
    color: #231f20;
    line-height: 54px;
    text-align: center;
    position: absolute;
    right: 0;
    z-index: 1;
    cursor: pointer;
    svg {
      display: block;
      position: absolute;
      left: 50%;
      z-index: 1;
    }
  }
  .inputNumber-plus {
    top: 0;
    right: 0;
    /* border-left: 1px solid #d1d1d1;*/
    svg {
      bottom: 0;
    }
  }
  .inputNumber-minus {
    bottom: 0;
    left: 0;
    /*border-right: 1px solid #d1d1d1;*/
    svg {
      top: 0;
    }
  }
}

.inputLabel {
  display: block;
  font-family: $font1;
  margin-bottom: 7px;
  line-height: 1;
  font-size: 16px;
  color: $texto;
  cursor: pointer;
  font-weight: 300;
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.selectSkin {
  display: block;
  position: relative;

  select {
    border: 1px solid #a6a8ab;
    background-color: #fff;
    border-radius: 0;
    height: 57px;
    line-height: 55px;
    font-family: $font1;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 5px;
    padding-right: 30px;
    font-size: 19px;
    letter-spacing: -0.07px;
    font-weight: 400;
    color: #221e1f;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  option {
    padding: 5px 0;
    font-size: 14px;
  }
  option:disabled {
    background: #eee;
    color: #ccc;
  }

  &:after {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
    right: 0;
    pointer-events: none;
    color: #808184;
    font-weight: 900;
    line-height: 55px;
    text-align: center;
    font-size: 14px;
    padding-right: 21px;
  }
}

.checkSkin input[type="checkbox"], .checkSkin input[type="radio"]{
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.checkSkin.radioSkin .checkSkin-label::before {
  content: "\f111";
  border-radius: 50%;
}

.checkSkin {
  position: relative;
  display: block;
  font-weight: inherit;
  width: auto;
  margin: 10px 10px 5px 0;
  cursor: pointer;
  color: #393939;
  font-size: 15px;
  font-weight: 300;

  input {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
  }

  .checkSkin-label {
    position: relative;
    display: block;
    font-family: $font1;
    padding-left: 23px;
    font-size: 10px;
    color: $texto;

    &:before {
      content: '\f00c';
      position: absolute;
      top: 0px;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      //opacity: 0.39;
      border-radius: 2px;
      font-size: 0;
      line-height: 14px;
      text-align: center;
      background: transparent;
      color: #c67f29;
      font-weight: 900;
      font-family: 'Font Awesome 5 Free';
      border: 1px solid rgba(151, 151, 151, 0.55);
    }
  }
}
.checkSkin input:checked + .checkSkin-label::before {
  font-size: 10px;
}

label.error {
  color: #ff7979;
  letter-spacing: 0.77px;
  font-size: 10px;
  font-family: $font2;
}

input.error {
  border: 1px solid #ff7979;
  position: relative;

  &::before {
    content: ('\f06a');
    font-family: 'Font Awesome 5 Free';
    position: absolute;
  }
}

.fileSkin {
  position: relative;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  &::after {
    content: 'Adjuntar';
    display: inline-block;
    width: auto;
    min-width: 110px;
    padding: 7px 10px;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    background: #fff;
    color: $color1;
    cursor: pointer;
    outline: 0;
  }
  input {
    display: none;
  }
}
.fileSkin-label {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 0;
  font-size: 14px;
  line-height: 30px;
  outline: 0;
  background: #fff;
  color: $color1;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.formError {
  left: auto !important;
  right: 0 !important;
  margin-top: -7px !important;
}

.formError .formErrorContent {
  max-width: 175px !important;
  padding: 7px !important;
  border: 0 !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  letter-spacing: 0;
}
.formError .formErrorArrowBottom {
  top: 0;
}

.formError .formErrorArrow {
  display: block !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 5px 0 auto;
  border: 5px solid transparent;
  border-top-width: 0;
  border-bottom-color: $color3 !important;
}

.formError .formErrorArrow > div {
  display: none !important;
}

// .modal-backdrop{ background: #676b67;}
// .modal-backdrop.show{opacity: 0.75;}

/*seach*/

.searchBox{
  position:absolute;
  top: 2%;
  right: 87px;
  display:none;
  width: 26%;
  height: auto;
  padding: 30px 15px;
  background: transparent;
  z-index:11;

  .searchBox-close {
      position: absolute;
      top: 27px;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #000;
      z-index: 1;
      padding-right: 23px;
  }

  .searchBox_cols{
      display: table;
      width: 100%;
      height: auto;

      .searchBox_btn{
          button{
              border: none;
              background: none;
          }
      }

      .inputSkin input{
        height: 22px;
        line-height: 22px;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        border-bottom: solid 1px #000;
        color: #000;
        font-family: $font3;
      }
  }
}

@media only screen and (max-width: 768px){
  .searchBox{
    background: #eaeaea;
    width: 100%;
    right: 0px;
  }

  .searchBox .searchBox-close{
    padding-right: 0px;
  }
}
/*prelor*/
#preloader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 1100; background: rgba(255, 255, 255, 0.97); display: none; }
.preloader-center { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; text-align: center; }
.preloader-pic { height: auto; }
.preloader-message { text-align: center; margin-top: 10px; font-weight: bold; color: black; font-family: $font1; font-size: 16px; }